<div class="pager" data-view="pagerView" data-model="pagerModel">
	<div class="float-left pad" data-bind="text: description"></div>
	<ul class="float-left">
		<li data-bind=" disabled: cannotGoPrevious" data-event="previous" title="previous page">
			<span>&lsaquo;</span>
		</li>
		<li data-bind="disabled: cannotGoNext" data-event="next" title="next page"><span>&rsaquo;</span></li>
	</ul>
</div>