<section class="page hasaside" data-templatefor="pageAdminView">
	<div class="page-header">
		<h1>Pages</h1>
	</div>
	<div class="page-body">
		<div class="page-aside">
			<div id="pageAdminMenuList"></div>
		</div>
		<div class="page-content">
			
			<div class="clearfix">
				<div class="form-inline float-left margin-left">
					<form action="~/user/pages/search" data-event="submit:submitSearchForm">
						<input type="search" name="search" placeholder="search" size="30" />
						<button>Search</button>
					</form>
				</div>
				<fieldset class="float-right">
					<button class="attn" data-event="addPage">Add a page</button>
				</fieldset>
			</div>
			
			<div data-model="pagerModel">
				<div class="float-right" data-bind="text: description"></div>
			</div>

			<div class="tiles row">
				<ul class="pages-list">
					<li class="tile col5" data-event="clickTile" data-collection="pages" data-bind="title: pageTypeName">
						<div class="media">
							<img data-bind="src:thumbUrl" />
						</div>
						<div class="caption">
							<h3 class="" title="{{title}}"><a href="{{link}}">{{title}}</a></h3>
							<p>
								Modified: {{modified}}<br />
								{{publishedMessage}}
							</p>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="float-right">
				@Html.Partial("~/views/appui/_pagerView.cshtml")
			</div>
		</div>
	</div>
</section>
