/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
/*
 *
 * 24 - dialogs
 * 16 - top level menus
 * 12 - pressed (FAB)
 * 8 - Menu, pressed(card, raised button)
 * 6 - FAB
 * 4 - App Bar
 * 3 - 
 * 2 - card, raised button
 * 0
 *
 */
/*$body - color: rgba(0, 0, 0, 0.870588); //#585a5b;
$framenav - background-color: #FFF;
$page- header-background: $color-primary;
$page- title-color: #FFF;
$framenav- color-hover: #000;
$framenav- border-selected: $color-accent-dark;
$framenav- color-selected: $color-accent-dark;*/
html, body {
  background-color: #FAFAFA;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-family: "OpenSans", "Segoe UI", "Helvetica Neue", Arial;
  line-height: 1.5; }
  html h1, html h2, body h1, body h2 {
    color: rgba(0, 0, 0, 0.87); }
  html .quiet, html small, body .quiet, body small {
    color: rgba(0, 0, 0, 0.54); }
  html [disabled], html .disabled, html .hint, body [disabled], body .disabled, body .hint {
    color: rgba(0, 0, 0, 0.26); }
  html .attn, body .attn {
    color: #FF3D00; }
  html hr, body hr {
    color: rgba(0, 0, 0, 0.12); }
  html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
    background-color: #F5F5F5; }
    html ::-webkit-scrollbar-thumb:hover, body ::-webkit-scrollbar-thumb:hover {
      background-color: #000000; }
  html h1, html h2, body h1, body h2 {
    color: #0097a7; }

color: rgba(0, 0, 0, 0.87);
h1, h2 {
  color: rgba(0, 0, 0, 0.87); }

.quiet, small {
  color: rgba(0, 0, 0, 0.54); }

[disabled], .disabled, .hint {
  color: rgba(0, 0, 0, 0.26); }

.attn {
  color: #FF3D00; }

hr {
  color: rgba(0, 0, 0, 0.12); }

::-webkit-scrollbar-thumb {
  background-color: #F5F5F5; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000000; }

.loud, .link, a {
  color: #0097a7; }
  .loud:visited, .loud:focus, .loud:hover, .loud:active, .link:visited, .link:focus, .link:hover, .link:active, a:visited, a:focus, a:hover, a:active {
    color: #0097a7; }

h1, h2, h3, h4, h5, h6 {
  color: #393d40;
  margin-top: 12px;
  margin-bottom: 0.25em; }

ul, ol {
  margin-bottom: 12px; }
  ul:only-of-type, ol:only-of-type {
    margin-bottom: 0; }

dl {
  margin-bottom: 24px; }
  dl:only-of-type {
    margin-bottom: 0; }
  dl.list-wide dt {
    width: 11.42em; }
  dl.list-wide dd {
    margin-left: 12.82em; }
  @media (max-width: 48em) {
    dl.list-wide dt {
      float: none;
      display: block;
      text-align: left;
      width: auto; }
    dl.list-wide dd {
      margin-left: auto; } }

dt, dd {
  line-height: 1.5;
  margin-bottom: 12px; }

dd {
  margin-left: 12px; }

#frame-header {
  height: 4em;
  line-height: 4em;
  color: #aaa;
  background: #F5F5F5; }

#frame-logo a {
  text-indent: -99999px;
  display: block;
  width: 85px;
  height: 75px;
  background: url(images/logo-hog.png) no-repeat;
  background-size: contain; }

#frame-nav li {
  border-bottom: 4px solid #F5F5F5; }
  #frame-nav li a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  #frame-nav li.selected {
    border-bottom: 4px solid #0097a7; }
    #frame-nav li.selected a {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      color: #0097a7; }

#frame-footer {
  background: #2d3033;
  color: #a5a6a7; }
  #frame-footer a {
    color: #a5a6a7; }

legend {
  color: #393d40; }

[contenteditable]:hover {
  background: #eaeaea; }

.page-header {
  position: relative;
  background-color: #F5F5F5; }

.page-header-overlay {
  background: #000;
  opacity: 0.23;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.datatable {
  background-color: #FFFFFF; }
  .datatable tr.selected td {
    background-color: #B2EBF2;
    color: rgba(0, 0, 0, 0.87); }
    .datatable tr.selected td h1, .datatable tr.selected td h2 {
      color: rgba(0, 0, 0, 0.87); }
    .datatable tr.selected td .quiet, .datatable tr.selected td small {
      color: rgba(0, 0, 0, 0.54); }
    .datatable tr.selected td [disabled], .datatable tr.selected td .disabled, .datatable tr.selected td .hint {
      color: rgba(0, 0, 0, 0.26); }
    .datatable tr.selected td .attn {
      color: #FF3D00; }
    .datatable tr.selected td hr {
      color: rgba(0, 0, 0, 0.12); }
    .datatable tr.selected td ::-webkit-scrollbar-thumb {
      background-color: #F5F5F5; }
      .datatable tr.selected td ::-webkit-scrollbar-thumb:hover {
        background-color: #000000; }
  .datatable td {
    border-top: 1px solid rgba(0, 0, 0, 0.12); }
  .datatable.hover tr:hover td {
    background-color: rgba(0, 0, 0, 0.12); }
  .datatable .striped .striped > td, .datatable .striped > tr:nth-child(odd) > td {
    color: rgba(0, 0, 0, 0.12); }

.selectlist > ul > li.selected {
  color: #FFF;
  background-color: #FF3D00; }
  .selectlist > ul > li.selected h1, .selectlist > ul > li.selected h2, .selectlist > ul > li.selected h3 {
    color: #FFF !important; }

.alert, .alert-error {
  background-color: #303030;
  color: white; }
  .alert h1, .alert h2, .alert-error h1, .alert-error h2 {
    color: white; }
  .alert .quiet, .alert small, .alert-error .quiet, .alert-error small {
    color: rgba(255, 255, 255, 0.7); }
  .alert [disabled], .alert .disabled, .alert .hint, .alert-error [disabled], .alert-error .disabled, .alert-error .hint {
    color: rgba(255, 255, 255, 0.3); }
  .alert .attn, .alert-error .attn {
    color: #FF3D00; }
  .alert hr, .alert-error hr {
    color: rgba(0, 0, 0, 0.12); }
  .alert ::-webkit-scrollbar-thumb, .alert-error ::-webkit-scrollbar-thumb {
    background-color: #212121; }
    .alert ::-webkit-scrollbar-thumb:hover, .alert-error ::-webkit-scrollbar-thumb:hover {
      background-color: #E0E0E0; }

.page-header {
  background-color: #0097a7;
  color: white; }
  .page-header h1, .page-header h2 {
    color: white; }
  .page-header .quiet, .page-header small {
    color: rgba(255, 255, 255, 0.7); }
  .page-header [disabled], .page-header .disabled, .page-header .hint {
    color: rgba(255, 255, 255, 0.3); }
  .page-header .attn {
    color: #FF3D00; }
  .page-header hr {
    color: rgba(0, 0, 0, 0.12); }
  .page-header ::-webkit-scrollbar-thumb {
    background-color: #212121; }
    .page-header ::-webkit-scrollbar-thumb:hover {
      background-color: #E0E0E0; }
  .page-header .loud, .page-header .link, .page-header a {
    color: white; }
    .page-header .loud:visited, .page-header .loud:focus, .page-header .loud:hover, .page-header .loud:active, .page-header .link:visited, .page-header .link:focus, .page-header .link:hover, .page-header .link:active, .page-header a:visited, .page-header a:focus, .page-header a:hover, .page-header a:active {
      color: white; }

#frame-footer-image {
  background: url(images/footer-signature.png) no-repeat left center !important;
  height: 10em;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3; }

/*#frame-logo {
        position: relative;
        top:.5em;
    }*/