/* https://www.google.com/design/icons */
/*
	.icon-close
appmenu-user
appmenu-logout
appmenu-parentlist
appmenu-childlist




    	- appmenu-overlay
	- appmenu - test z-depth (test also on app bar)
			fixed with max/min width
	- appmenu-header
	- appmenu-signout-link
	- appmenu - menulist
			parent items need to have a border
			the current parent should not have a hover effect
				clicking it does nothing
				(could try styling the current parent different?)
			All other siblings have no border
			The selected item is bold primary color

*/
/*$body - color: rgba(0, 0, 0, 0.870588); //#585a5b;
$framenav - background-color: #FFF;
$page- header-background: $color-primary;
$page- title-color: #FFF;
$framenav- color-hover: #000;
$framenav- border-selected: $color-accent-dark;
$framenav- color-selected: $color-accent-dark;*/
/* begin foundation-theme */
html, body {
  color: #202020;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FAFAFA;
  font-size: 16px;
  font-family: "OpenSans", "sans-serif";
  line-height: 1.5; }

.color-primary {
  color: #0097a7; }

.box-primary {
  background-color: #0097a7;
  color: #FFFFFF;
  color: white; }
  .box-primary .quiet {
    color: #B3B3B3;
    color: rgba(255, 255, 255, 0.7); }
  .box-primary [disabled], .box-primary .disabled, .box-primary .hint {
    color: #4C4C4C !important;
    color: rgba(255, 255, 255, 0.3) !important; }
  .box-primary hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }

.color-primary-darker {
  color: #006064; }

.box-primary-darker {
  background-color: #006064;
  color: #FFFFFF;
  color: white; }
  .box-primary-darker .quiet {
    color: #B3B3B3;
    color: rgba(255, 255, 255, 0.7); }
  .box-primary-darker [disabled], .box-primary-darker .disabled, .box-primary-darker .hint {
    color: #4C4C4C !important;
    color: rgba(255, 255, 255, 0.3) !important; }
  .box-primary-darker hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }

.color-primary-lighter {
  color: #B2EBF2; }

.box-primary-lighter {
  background-color: #B2EBF2;
  color: #202020;
  color: rgba(0, 0, 0, 0.87); }
  .box-primary-lighter .quiet {
    color: #747474;
    color: rgba(0, 0, 0, 0.54); }
  .box-primary-lighter [disabled], .box-primary-lighter .disabled, .box-primary-lighter .hint {
    color: #BCBCBC !important;
    color: rgba(0, 0, 0, 0.26) !important; }
  .box-primary-lighter hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }

.color-accent {
  color: #FF3D00; }

.box-accent {
  background-color: #FF3D00;
  color: #FFFFFF;
  color: white; }
  .box-accent .quiet {
    color: #B3B3B3;
    color: rgba(255, 255, 255, 0.7); }
  .box-accent [disabled], .box-accent .disabled, .box-accent .hint {
    color: #4C4C4C !important;
    color: rgba(255, 255, 255, 0.3) !important; }
  .box-accent hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }

.color-accent-darker {
  color: #DD2C00; }

.box-accent-darker {
  background-color: #DD2C00;
  color: #FFFFFF;
  color: white; }
  .box-accent-darker .quiet {
    color: #B3B3B3;
    color: rgba(255, 255, 255, 0.7); }
  .box-accent-darker [disabled], .box-accent-darker .disabled, .box-accent-darker .hint {
    color: #4C4C4C !important;
    color: rgba(255, 255, 255, 0.3) !important; }
  .box-accent-darker hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }

.color-accent-lighter {
  color: #FF6E40; }

.box-accent-lighter {
  background-color: #FF6E40;
  color: #202020;
  color: rgba(0, 0, 0, 0.87); }
  .box-accent-lighter .quiet {
    color: #747474;
    color: rgba(0, 0, 0, 0.54); }
  .box-accent-lighter [disabled], .box-accent-lighter .disabled, .box-accent-lighter .hint {
    color: #BCBCBC !important;
    color: rgba(0, 0, 0, 0.26) !important; }
  .box-accent-lighter hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }

.box-theme {
  color: #202020;
  color: rgba(0, 0, 0, 0.87); }
  .box-theme .quiet {
    color: #747474;
    color: rgba(0, 0, 0, 0.54); }
  .box-theme [disabled], .box-theme .disabled, .box-theme .hint {
    color: #BCBCBC !important;
    color: rgba(0, 0, 0, 0.26) !important; }
  .box-theme hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }

.box-light {
  color: #202020;
  color: rgba(0, 0, 0, 0.87); }
  .box-light .quiet {
    color: #747474;
    color: rgba(0, 0, 0, 0.54); }
  .box-light [disabled], .box-light .disabled, .box-light .hint {
    color: #BCBCBC !important;
    color: rgba(0, 0, 0, 0.26) !important; }
  .box-light hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }

.box-dark {
  color: #FFFFFF;
  color: white; }
  .box-dark .quiet {
    color: #B3B3B3;
    color: rgba(255, 255, 255, 0.7); }
  .box-dark [disabled], .box-dark .disabled, .box-dark .hint {
    color: #4C4C4C !important;
    color: rgba(255, 255, 255, 0.3) !important; }
  .box-dark hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }

.bgcolor-content-light {
  background-color: #FFFFFF; }

.bgcolor-base-light {
  background-color: #FAFAFA; }

.bgcolor-toolbar-light {
  background-color: #F5F5F5; }

.bgcolor-statusbar-light {
  background-color: #E0E0E0; }

.bgcolor-content-dark {
  background-color: #424242; }

.bgcolor-base-dark {
  background-color: #303030; }

.bgcolor-toolbar-dark {
  background-color: #212121; }

.bgcolor-statusbar-dark {
  background-color: #000000; }

.bgcolor-content-theme {
  background-color: #FFFFFF; }

.bgcolor-base-theme {
  background-color: #FAFAFA; }

.bgcolor-toolbar-theme {
  background-color: #F5F5F5; }

.bgcolor-statusbar-theme {
  background-color: #E0E0E0; }

.quiet {
  color: #747474;
  color: rgba(0, 0, 0, 0.54); }

[disabled], .disabled, .hint {
  color: #BCBCBC !important;
  color: rgba(0, 0, 0, 0.26) !important; }

.loud {
  color: #0097a7; }

.attn {
  color: #FF3D00; }

hr {
  background-color: #E0E0E0;
  background-color: rgba(0, 0, 0, 0.12); }

.link, a {
  color: #0097a7; }
  .link:visited, .link:focus, .link:hover, .link:active, a:visited, a:focus, a:hover, a:active {
    color: #0097a7; }
  .link.attn, a.attn {
    color: #FF3D00; }

::-webkit-scrollbar-thumb {
  background-color: #F5F5F5; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #E0E0E0; }

::selection {
  background: #0097a7;
  color: #FFFFFF;
  color: white; }

::-moz-selection {
  background: #0097a7;
  color: #FFFFFF;
  color: white; }

blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.12); }

pre, code {
  border: 1px solid;
  border-color: #E0E0E0;
  border-color: rgba(0, 0, 0, 0.12);
  background-color: #F5F5F5; }

code {
  color: #FF3D00; }

/* end foundation-theme */
/* begin frame-theme */
#frame-header-background {
  background: #0097a7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.scrolled #frame-header {
  z-index: 4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 1px rgba(0, 0, 0, 0.12); }

#frame-header {
  color: #202020;
  color: rgba(0, 0, 0, 0.87); }
  #frame-header .quiet {
    color: #747474;
    color: rgba(0, 0, 0, 0.54); }
  #frame-header [disabled], #frame-header .disabled, #frame-header .hint {
    color: #BCBCBC !important;
    color: rgba(0, 0, 0, 0.26) !important; }
  #frame-header hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }
  #frame-header [role=button] {
    color: #FFFFFF;
    color: white; }
    #frame-header [role=button]:hover {
      background-color: #00828d; }
    #frame-header [role=button]:active {
      background-color: #006a74; }

#frame-logo a {
  text-indent: -99999px;
  display: block;
  width: 85px;
  height: 75px;
  background: url(images/logo-hog.png) no-repeat;
  background-size: contain; }

#frame-nav li {
  border-bottom: 4px solid transparent; }
  #frame-nav li a {
    color: #ffffff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  #frame-nav li.selected {
    border-bottom: 4px solid white; }
    #frame-nav li.selected a {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }

#frame-footer {
  background-color: #212121;
  color: #FFFFFF;
  color: white;
  color: #a5a6a7; }
  #frame-footer .quiet {
    color: #B3B3B3;
    color: rgba(255, 255, 255, 0.7); }
  #frame-footer [disabled], #frame-footer .disabled, #frame-footer .hint {
    color: #4C4C4C !important;
    color: rgba(255, 255, 255, 0.3) !important; }
  #frame-footer hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }
  #frame-footer a {
    color: #a5a6a7; }

/* end frame-theme */
/* begin button-theme */
.button, button, input[type=button], input[type=submit] {
  color: #202020;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent; }
  .button:hover, .button:focus, button:hover, button:focus, input[type=button]:hover, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:focus {
    background-color: #EAEAEA;
    background-color: rgba(153, 153, 153, 0.2); }
  .button:active, button:active, input[type=button]:active, input[type=submit]:active {
    color: color("light") !important;
    background-color: #D5D5D5;
    background-color: rgba(153, 153, 153, 0.4); }
  .button:visited, button:visited, input[type=button]:visited, input[type=submit]:visited {
    color: #202020;
    color: rgba(0, 0, 0, 0.87); }
  .button.loud, button.loud, input[type=button].loud, input[type=submit].loud {
    color: #FFFFFF;
    color: white;
    background-color: #0097a7; }
    .button.loud:hover, .button.loud:focus, button.loud:hover, button.loud:focus, input[type=button].loud:hover, input[type=button].loud:focus, input[type=submit].loud:hover, input[type=submit].loud:focus {
      background-color: #00b0c1; }
    .button.loud:active, button.loud:active, input[type=button].loud:active, input[type=submit].loud:active {
      color: color("dark") !important;
      background-color: #00c8da; }
    .button.loud:visited, button.loud:visited, input[type=button].loud:visited, input[type=submit].loud:visited {
      color: #FFFFFF;
      color: white; }
  .button.attn, button.attn, input[type=button].attn, input[type=submit].attn {
    color: #FFFFFF;
    color: white;
    background-color: #FF3D00; }
    .button.attn:hover, .button.attn:focus, button.attn:hover, button.attn:focus, input[type=button].attn:hover, input[type=button].attn:focus, input[type=submit].attn:hover, input[type=submit].attn:focus {
      background-color: #ff4f1a; }
    .button.attn:active, button.attn:active, input[type=button].attn:active, input[type=submit].attn:active {
      color: color("dark") !important;
      background-color: #ff6333; }
    .button.attn:visited, button.attn:visited, input[type=button].attn:visited, input[type=submit].attn:visited {
      color: #FFFFFF;
      color: white; }
  .button.flat, button.flat, input[type=button].flat, input[type=submit].flat {
    color: #202020;
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent; }
    .button.flat:hover, .button.flat:focus, button.flat:hover, button.flat:focus, input[type=button].flat:hover, input[type=button].flat:focus, input[type=submit].flat:hover, input[type=submit].flat:focus {
      background-color: #EAEAEA;
      background-color: rgba(153, 153, 153, 0.2); }
    .button.flat:active, button.flat:active, input[type=button].flat:active, input[type=submit].flat:active {
      color: color("light") !important;
      background-color: #D5D5D5;
      background-color: rgba(153, 153, 153, 0.4); }
    .button.flat:visited, button.flat:visited, input[type=button].flat:visited, input[type=submit].flat:visited {
      color: #202020;
      color: rgba(0, 0, 0, 0.87); }
    .button.flat.loud, button.flat.loud, input[type=button].flat.loud, input[type=submit].flat.loud {
      color: #0097a7; }
    .button.flat.attn, button.flat.attn, input[type=button].flat.attn, input[type=submit].flat.attn {
      color: #FF3D00; }
  .button[disabled], .button[disabled]:hover, button[disabled], button[disabled]:hover, input[type=button][disabled], input[type=button][disabled]:hover, input[type=submit][disabled], input[type=submit][disabled]:hover {
    font-weight: 700;
    color: #BCBCBC !important;
    color: rgba(0, 0, 0, 0.26) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.12);
    background-color: #E0E0E0; }
    .button[disabled].flat, .button[disabled]:hover.flat, button[disabled].flat, button[disabled]:hover.flat, input[type=button][disabled].flat, input[type=button][disabled]:hover.flat, input[type=submit][disabled].flat, input[type=submit][disabled]:hover.flat {
      background-color: transparent; }

/* end button-theme */
/* begin iconbutton-theme */
.iconbutton:hover, .iconbutton:focus {
  background-color: #E0E0E0;
  background-color: rgba(0, 0, 0, 0.12); }
.iconbutton:active, .iconbutton.active {
  background-color: #BCBCBC;
  background-color: rgba(0, 0, 0, 0.26); }

/* end iconbutton-theme */
/* begin toolbar-theme */
/* end toolbar-theme */
/* begin form-theme */
legend {
  color: #393d40; }

[contenteditable]:hover {
  background: #eaeaea; }

/* end form-theme */
/* begin menulist-theme */
.menulist h2, .menulist h3 {
  color: #747474;
  color: rgba(0, 0, 0, 0.54); }
.menulist li {
  border-color: rgba(0, 0, 0, 0.12); }
  .menulist li > span, .menulist li > a {
    color: #202020;
    color: rgba(0, 0, 0, 0.87); }
    .menulist li > span:hover, .menulist li > a:hover {
      background-color: #EAEAEA;
      background-color: rgba(153, 153, 153, 0.2); }
  .menulist li.selected {
    color: #0097a7; }
    .menulist li.selected a {
      color: #0097a7; }

/* end menulist-theme*/
/* begin page-theme */
.page-header {
  position: relative;
  background-color: #F5F5F5; }

.page-header-overlay {
  background: #000;
  opacity: 0.23;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/* end page-theme */
/* begin datatable-theme */
.datatable {
  background-color: #FFFFFF; }
  .datatable tr.selected td {
    background-color: #B2EBF2;
    color: #202020;
    color: rgba(0, 0, 0, 0.87); }
    .datatable tr.selected td .quiet {
      color: #747474;
      color: rgba(0, 0, 0, 0.54); }
    .datatable tr.selected td [disabled], .datatable tr.selected td .disabled, .datatable tr.selected td .hint {
      color: #BCBCBC !important;
      color: rgba(0, 0, 0, 0.26) !important; }
    .datatable tr.selected td hr {
      background-color: #E0E0E0;
      background-color: rgba(0, 0, 0, 0.12); }
  .datatable td {
    border-top: 1px solid rgba(0, 0, 0, 0.12); }
  .datatable.hover tr:hover td {
    background-color: rgba(0, 0, 0, 0.12); }
  .datatable .striped .striped > td, .datatable .striped > tr:nth-child(odd) > td {
    color: rgba(0, 0, 0, 0.12); }

/* end datatable-theme */
/* begin selectlist-theme */
.selectlist > ul > li.selected {
  color: #FFF;
  background-color: #FF3D00; }
  .selectlist > ul > li.selected h1, .selectlist > ul > li.selected h2, .selectlist > ul > li.selected h3 {
    color: #FFF !important; }

/* end selectlist-theme*/
/* begin usermenu-theme */
.appmenu {
  background-color: #FFFFFF; }

/* end usermenu-theme */
/* begin alert-theme */
.alert, .alert-error {
  background-color: #303030;
  color: #FFFFFF;
  color: white; }
  .alert .quiet, .alert-error .quiet {
    color: #B3B3B3;
    color: rgba(255, 255, 255, 0.7); }
  .alert [disabled], .alert .disabled, .alert .hint, .alert-error [disabled], .alert-error .disabled, .alert-error .hint {
    color: #4C4C4C !important;
    color: rgba(255, 255, 255, 0.3) !important; }
  .alert hr, .alert-error hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }

/* end alert theme */
#frame-logo a {
  height: 2em; }

.page-header {
  background-color: #0097a7;
  color: #FFFFFF;
  color: white; }
  .page-header .quiet {
    color: #B3B3B3;
    color: rgba(255, 255, 255, 0.7); }
  .page-header [disabled], .page-header .disabled, .page-header .hint {
    color: #4C4C4C !important;
    color: rgba(255, 255, 255, 0.3) !important; }
  .page-header hr {
    background-color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.12); }
  .page-header .link, .page-header a {
    color: white; }
    .page-header .link:visited, .page-header .link:focus, .page-header .link:hover, .page-header .link:active, .page-header a:visited, .page-header a:focus, .page-header a:hover, .page-header a:active {
      color: white; }
    .page-header .link.attn, .page-header a.attn {
      color: #FF3D00; }

#frame-footer-image {
  background: url(images/footer-signature.png) no-repeat left center !important;
  height: 10em;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3; }

/*#frame-logo {
        position: relative;
        top:.5em;
    }*/