<form class="" data-templatefor="">
	<span class="alert-error"></span>
	<div class="form-field">
		<label for="pageadder-title">Title</label>
		<input id="pageadder-title" type="text" name="title" autofocus size="30" />
		<span data-validation-for="title"></span>
	</div>
	<div class="form-field">
		<label for="pageadder-pagetypekey">Page type</label>
		<select id="pageadder-pagetypekey" name="pageTypeKey">
		</select>
		<div xdata-bind="text: pageTypeDescription">Removed This During Refactor</div>
	</div>
	<div class="form-controls">
		<input type="submit" value="Add" class="loud">
		<input type="button" value="Cancel" data-rel="back">		
	</div>
</form>