<div class="page centered" data-templatefor="pageAdderView">
	<div class="page-header">
		<h1 class="float-left">Add a Page</h1>
	</div>
	<div class="page-body">
		<div class="page-content">
			<form data-event="submit:submitForm">
				<div class="alert-error"></div>
				<div>
					<div>
						<h2 class="float-left">Page title</h2>
						<div class="float-right">
							<input type="submit" value="Add" class="loud">
							<input type="button" value="Cancel" data-rel="back" data-event="cancel">
						</div>
					</div>
					<div class="clear form-inline margin-bottom margin-left">
						<input id="pageadder-title" type="text" name="title" autofocus size="40" />
						<span data-validation-for="title"></span>
					</div>
				</div>
				
				<div>
					<h2 class="margin-top">Select a page type</h2>
					<div class="form-field">
						<span data-validation-for="pageTypeKey"></span>
					</div>
					<table class="datatable hover">
						<thead>
							
						</thead>
						<tbody>
							<tr>
								<th>Suggested</th>	
							</tr>
						</tbody>
						<tbody>
							<tr tabindex="0" data-collection="primaryPageTypes">
								<td>
									<input type="radio" name="pageTypeKey" data-bind="val: key" class="hide" />
									<label data-bind="text:name"></label>
									<span data-bind="text: description"></span>
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr data-bind="showif: hasOtherPageTypes">
								<th>Other</th>
							</tr>
						</tbody>
						<tbody>
							<tr tabindex="0" data-collection="otherPageTypes">
								<td>
									<input type="radio" name="pageTypeKey" data-bind="val: key" class="hide" />
									<label data-bind="text:name"></label>
									<span data-bind="text: description"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="form-controls">
					<input type="submit" value="Add" class="loud">
					<input type="button" value="Cancel" data-rel="back" data-event="cancel">
				</div>
			</form>
		</div>
	</div>
</div>
