<div class="page centered" data-templatefor="pageAdderView">
	<div class="page-header">
		<h1 class="float-left">Add a Page</h1>
	</div>
	<div class="page-body">
		<div class="page-content">
			<form data-event="submit:submitForm">
				<span class="alert-error"></span>
				
				<div class="form-inline margin-bottom margin-left">
					<label for="pageadder-title">Title</label>
					<input id="pageadder-title" type="text" name="title" autofocus size="40" />
					<span data-validation-for="title"></span>
					<div class="float-right">
						<input type="submit" value="Add" class="loud">
						<input type="button" value="Cancel" data-rel="back" data-event="cancel">
					</div>
				</div>

				<h2>Select a page type</h2>
				<div class="selectlist">
					<ul>
						<li class="col3 height-medium" tabindex="0"
						    data-collection="primaryPageTypes" data-bind="title: description">
							<input type="radio" name="pageTypeKey" data-bind="val: key" class="hide" />
							<h1 data-bind="text:name"></h1>
							<div data-bind="text: description"></div>
						</li>
					</ul>
				</div>

				<h3 data-bind="showif: hasOtherPageTypes">Other page types</h3>
				<div class="selectlist" data-bind="showif: hasOtherPageTypes">
					<ul>
						<li class="col3 height-medium" tabindex="0"
						    data-collection="otherPageTypes" data-bind="title: description">
							<input type="radio" name="pageTypeKey" data-bind="val: key" class="hide" />
							<h1 data-bind="text:name"></h1>
							<div data-bind="text: description"></div>
						</li>
					</ul>
				</div>

				<div class="form-controls">
					<input type="submit" value="Add" class="loud">
					<input type="button" value="Cancel" data-rel="back" data-event="cancel">
				</div>
			</form>
		</div>
	</div>
</div>
