@using Harbor.Domain.Pages
@using Harbor.Domain.Security
@using Harbor.UI.Extensions
@model Harbor.UI.Models.ComponentViewModel
@{
	var fileID = Model.Page.GetUICProperty(Model.PageUIC, "fileID");
	var max = Model.Page.GetUICProperty(Model.PageUIC, "max");
	
	string maxStyle = "";
	string imageSrc = "";
	if (fileID != null)
	{
		imageSrc = Url.Content("~/file/" + fileID + "?max=" + max);
	}

	if (max != null)
	{
		maxStyle = "style=\"max-width:" + max + ";max-height:" + max + ";\"";
	}
}
@if (fileID == null)
{
	if (Model.Page.HasPermission(User.Identity.Name, Permissions.CreateAndUpdate))
	{
		<div>Edit this page to add a new image.</div>
	}
}
else
{
	<img src="@imageSrc" @maxStyle />
}