@using Harbor.Domain.Security
@model Harbor.UI.Models.ComponentViewModel
@{
	// jch! image.cshtml --- should think about using an action for this
	var fileID = Model.Page.GetUICProperty(Model.PageUIC, "fileID");
	var max = Model.Page.GetUICProperty(Model.PageUIC, "max");
	
	string maxStyle = "";
	string imageSrc = "";
	if (fileID != null)
	{
		imageSrc = Url.Content("~/file/" + fileID + ".jpg?max=" + max); // jch! - get this from the file
	}

	if (max != null)
	{
		maxStyle = "style=\"max-width:" + max + ";max-height:" + max + ";\"";
	}
}
<span data-rel="image">
@if (fileID == null)
{
	if (Model.Page.HasPermission(User.Identity.Name, Permissions.CreateAndUpdate))
	{
		<span>Edit this page to add a new image.</span>
	}
}
else
{
	<img src="@imageSrc" @maxStyle style="max-width:400;max-height:400px" />
}
</span>