<form class="nocol">
	<div class="form-field">
		<label for="pageeditor-component">What do you want to add?</label>
		<select id="pageeditor-component" name="pageComponentKey" class="stretch">
		</select>
	</div>
	<div data-bind="pageComponentDescription" class="label-margin"></div><!--jch! - instead of label-margin - what does val do here?//-->
	<div class="controls">
		<input type="submit" value="Save" class="loud">
		<input type="button" value="Cancel" data-rel="back">		
	</div>
</form>