<div id="pageloader">
	<button class="float-left attn" id="pageloader-done">Done</button>
	<span class="icon-edit" id="pageloader-edit"></span>
	<span class="icon-reorder" id="pageloader-settings"></span>
</div>