<div data-rel="edit">
	<div>
		<label>
			<input type="radio" name="res" value="low">
			<span>Low</span>
		</label>
		<label>
			<input type="radio" name="res" value="high">
			<span>High</span>
		</label>
	</div>
	<div>
		<button data-rel="select" class="button">Select an image</button>
	</div>
</div>