<div data-rel="edit">
	<div class="radioset">
		<label>
			<input type="radio" name="max" value="100">
			<span>Thumb</span>
		</label>
		<label>
			<input type="radio" name="max" value="250">
			<span>Small*</span>
		</label>
		<label>
			<input type="radio" name="max" value="500" checked>
			<span>Medium</span>
		</label>
		<label>
			<input type="radio" name="max" value="1000">
			<span>Large*</span>
		</label>
	</div>
	<div>
		* - natural resolution.
	</div>
	<div>
		<button data-rel="select" class="attn">Select an image</button>
	</div>
</div>