@using Harbor.UI.Extensions
@model Harbor.UI.Models.Components.NavLinksDto
<div class="pad">
    
    @if (Model.sections.Count == 0)
    {
        <div>
            There are no links to display. 
        </div>
    }

    @foreach (var sect in Model.sections)
    {
        <div class="menulist">
            @if (string.IsNullOrEmpty(sect.title) == false)
            {
                <h2>@sect.title</h2>
            }
            <ul>
                @foreach (var link in sect.links)
                {
                   <li><a href="~/id/@link.pageID/@link.text">@link.text</a></li>							 
                }
            </ul>
        </div>
    }
</div>