
<div data-template="Comps-Links-New">
	<div class="pad">
		<fieldset>
			<legend>Add existing links</legend>
			<div class="form-field">
				<select>
					<option></option>
				</select>
			</div>
			<div class="form-controls">
				<button class="loud">Add</button>
			</div>
		</fieldset>
		<fieldset>
			<legend>Create new links</legend>
			<div class="form-field">
				<label>Name</label>
				<input type="text" />
			</div>
			<div class="form-controls">
				<button class="loud">Create</button>
			</div>
		</fieldset>
	</div>
</div>


<div data-template="Comps-Links-Edit">
	Hello - Edit View
</div>