@model Harbor.Domain.Pages.Content.Links
@functions
{
    string itemClass(string url)
    {
        var currentUrl = Request.Url.ToString();
        var linkUrl = url.Substring(1);
        return currentUrl.IndexOf(linkUrl, StringComparison.InvariantCultureIgnoreCase) > -1
            ? "selected" : null;
    }
}
<div>
    
    @if (Model.sections.Count == 0)
    {
        <div class="pad">
            There are no links to display. 
        </div>
    }

    @foreach (var sect in Model.sections)
    {
        <div class="menulist">
            @if (string.IsNullOrEmpty(sect.title) == false)
            {
                <h2>@sect.title</h2>
            }
			@if (sect.links.Count == 0)
			{
				<div class="pad">
					There are no links to display. 
				</div>
			}
            <ul>
                @foreach (var link in sect.links)
                {
					var url = string.Format("~/id/{0}", link.pageID);
	                <li class="@itemClass(url)">
		                <a href="@Url.Content(string.Format(url + "/{0}", link.text.ToLower().Replace(" ", "-")))">@link.text</a>
					</li>							 
                }
            </ul>
        </div>
    }
</div>