

<div class="pad" data-templatefor="linksNewView">
	<fieldset>
		<legend>Add existing links</legend>
		<div class="form-field">
			<select id="navlinks-select" data-bind="pageID" style="width:auto;">
				<option></option>
			</select>
		</div>
		<div data-templatefor="foofoo" name="bar">
			{bar}
		</div>
		<div class="form-controls">
			<button class="loud" id="navlinks-add">Add</button>
		</div>
	</fieldset>
	<fieldset>
		<legend>Create new links</legend>
		<div class="form-field">
			<label>Name</label>
			<input type="text" id="navlinks-name" data-bind="name" />
		</div>
		<div class="form-controls">
			<button class="loud" id="navlinks-create">Create</button>
		</div>
	</fieldset>
</div>




<div data-template="Links-Edit">
	Hello - Edit View
</div>