<div data-rel="edit">
	<div>
		<label>
			<input type="radio" name="tileDisplay" value="normal">
			<span>Tile display</span>
		</label>
		<label>
			<input type="radio" name="tileDisplay" value="wide">
			<span>Wide display</span>
		</label>
	</div>
	<div>
		<button data-rel="select" class="button">Select a page</button>
	</div>
</div>