@model Harbor.UI.Models.Content.TitleDto
<div>
	<div>
		<h1>
			@if (Model.hasParentUrl)
			{
				<a href="@Model.parentUrl">@Model.displayTitle</a>
			}
			else
			{
				@Model.displayTitle
			}
		</h1>
	</div>
</div>