@import "../../mixins/opacity";

/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */

$color-theme:            "light"     !default;

// swatch
$color-primary:           #0097a7    !default;
$color-primary-dark:      #006064    !default;
$color-primary-light:     #B2EBF2    !default;
$color-accent:            #FF3D00    !default;
$color-accent-dark:       #DD2C00    !default;
$color-accent-light:      #FF6E40    !default;


// light theme colors
$color-light: rgba(0, 0, 0, .87);
$color-light-quiet: rgba(0, 0, 0, .54);
$color-light-disabled: rgba(0, 0, 0, .26);
$color-light-divider: rgba(0, 0, 0, .12);


// dark theme colors
$color-dark: rgba(255, 255, 255, 1);
$color-dark-quiet: rgba(255, 255, 255, .70);
$color-dark-disabled: rgba(255, 255, 255, .30);
$color-dark-divider: rgba(255, 255, 255, .12);


// light color backgrounds
$bg-color-light-content:  #FFFFFF;
$bg-color-light:          #FAFAFA;        
$bg-color-light-bar:      #F5F5F5; 
$bg-color-light-outerbar: #E0E0E0; 


// dark color backgrounds
$bg-color-dark-content:   #424242;
$bg-color-dark:           #303030;
$bg-color-dark-bar:       #212121;
$bg-color-dark-outerbar:  #000000;


@mixin bg-color-content($dark-or-light: $color-theme) {
    // use for dialogs, cards
    @if $dark-or-light == "dark" {
        background-color: $bg-color-dark-content;
    } @else {
        background-color: $bg-color-light-content; 
    }
}

@mixin bg-color($dark-or-light: $color-theme) {
    // use for the base background
    @if $dark-or-light == "dark" {
        background-color: $bg-color-dark;
    } @else {
        background-color: $bg-color-light;        
    }
}


@mixin bg-color-bar($dark-or-light: $color-theme) {
    // use for the primary heading bars
    @if $dark-or-light == "dark" {        
          background-color: #212121;
    } @else {
          background-color: #F5F5F5;
    }
}

@mixin bg-color-outerbar($dark-or-light: $color-theme) {
    // use for contrast against the heading bar as the topmost or bottommost element
    @if $dark-or-light == "dark" {
        background-color: #E0E0E0;
    } @else {
        background-color: #000000;
    }
}

@mixin color($dark-or-light: $color-theme) { 
    // use for standard text
    @if $dark-or-light == "dark" {
        color: $color-dark;
    } @else {
        color: $color-light;
    }
}

@mixin color-quiet($dark-or-light: $color-theme) {
    // use for secondary/quiet text and icons
    @if $dark-or-light == "dark" {
        color: $color-dark-quiet;
    } @else {
        color: $color-light-quiet;
    }
}

@mixin color-disabled($dark-or-light: $color-theme) {
    // use for disabled and hint text
     @if $dark-or-light == "dark" {
        color: $color-dark-disabled;
    } @else {
        color: $color-light-disabled;
    }
}

@mixin color-divider($dark-or-light: $color-theme) {
    // use for dividers
    @if $dark-or-light == "dark" {
       color: $color-dark-divider;
    } @else {
       color: $color-light-divider;
    }
}



@mixin color-selected-container($dark-or-light: $color-theme) {
     @if $dark-or-light == "dark" {
        background-color: $color-primary-dark;
        @include color-container("dark");
    } @else {
        background-color: $color-primary-light;
        @include color-container("light");
    }
}


@mixin color-container(
    $dark-or-light: $color-theme,
    $color-primary: $color-primary,
    $color-accent: $color-accent
) {

    // sets text color, .quiet, .loud/primary, .attn/accent, small,
    //     disabled/hint, a, .link, hr colors for a container

    @include color($dark-or-light);
    h1, h2, h3 {
        @include color($dark-or-light);
    }
    
    .quiet, small {
        @include color-quiet($dark-or-light);
    }
       
    [disabled], .disabled, .hint {
        @include color-disabled($dark-or-light);
    }

        
    
     .attn {
         color: $color-accent;
     }

    hr {
        @include color-divider;
    }

    ::-webkit-scrollbar-thumb {
		@include bg-color-bar($dark-or-light);
		&:hover{
           @include bg-color-outerbar($dark-or-light);
		}
	}
}

@mixin color-links($color: $color-primary){
    .loud, .link, a {
        color: $color;
         &:visited, &:focus, &:hover, &:active {
			color: $color;
		}
    } 
}