@import "../../mixins/opacity";

// 
// theme is either "light" or "dark"
// 
// color-box(theme, primary, accent)
// color-links(primary, accent)
// color-selected-item(theme)
// 
// color(theme);
// color-quiet(theme);
// color-disabled(theme);
// color-divider-bg(theme);
// 
// bgcolor-content(theme)
// bgcolor-base(theme)
// bgcolor-toolbar(theme)
// bgcolor-statusbar(theme)
// 
// Note: color variables using alpha have an accompanying hex variable
//       that works well with the specified light or dark backgrounds.
//       This is to be used as long as IE 8 is supported.
// 

$theme-onlight-bg:           "light";
$theme-ondark-bg:            "dark";
$color-theme:                $theme-onlight-bg     !default;
$color-error:                #DD2C00;


// primary/accent color swatch
$color-primary:               #0097a7   !default;
$color-primary-theme:         "dark"    !default;
$color-primary-darker:        #006064   !default;
$color-primary-darker-theme:  "dark"    !default;
$color-primary-lighter:       #B2EBF2   !default;
$color-primary-lighter-theme: "light"   !default;
$color-accent:                #FF3D00   !default;
$color-accent-theme:          "dark"   !default;
$color-accent-darker:         #DD2C00   !default;
$color-accent-darker-theme:   "dark"   !default;
$color-accent-lighter:        #FF6E40   !default;
$color-accent-lighter-theme:  "light"    !default;

// button colors
//$button-bgcolor-base-light:       #FFFFFF   !default;
//$button-color-theme-light:    "light"   !default;
//$button-effect-light:         "lighten" !default;
$button-bgcolor-base-dark:        #2196F3   !default;
$button-color-theme-dark:     "dark"    !default;
$button-effect-dark:          "lighten" !default;
$button-bg-color-primary:     $color-primary !default;
$button-color-theme-primary:  "dark" !default;
$button-effect-primary:       "lighten" !default;
$button-bg-color-accent:       $color-accent !default;
$button-color-theme-accent:    "dark" !default;
$button-effect-accent:         "lighten" !default;


// light theme colors
$color-light-content:      rgba(0, 0, 0, .87);
$color-light-content-hex:  #202020;
$color-light-quiet:        rgba(0, 0, 0, .54);
$color-light-quiet-hex:    #747474;
$color-light-disabled:     rgba(0, 0, 0, .26); // conflict in docs - errors says 38% for hint text.
$color-light-disabled-hex: #BCBCBC;
$color-light-divider:      rgba(0, 0, 0, .12);
$color-light-divider-hex:  #E0E0E0;


// dark theme colors
$color-dark-content:      rgba(255, 255, 255, 1);
$color-dark-content-hex:  #FFFFFF;
$color-dark-quiet:        rgba(255, 255, 255, .70);
$color-dark-quiet-hex:    #B3B3B3;
$color-dark-disabled:     rgba(255, 255, 255, .30);
$color-dark-disabled-hex: #4C4C4C;
$color-dark-divider:      rgba(255, 255, 255, .12);
$color-dark-divider-hex:  #1E1E1E;


// light color backgrounds
$bgcolor-content-light:  #FFFFFF;
$bgcolor-base-light:          #FAFAFA;        
$bgcolor-toolbar-light:      #F5F5F5; 
$bgcolor-statusbar-light: #E0E0E0; 


// dark color backgrounds
$bgcolor-content-dark:   #424242;
$bgcolor-base-dark:           #303030;
$bgcolor-toolbar-dark:       #212121;
$bgcolor-statusbar-dark:  #000000;


// static light button colors
$button-bg-color-hover-light:        hsla(0, 0%, 60%, .20);
$button-bg-color-hover-light-hex:    #EAEAEA;
$button-bg-color-active-light:       hsla(0, 0%, 60%, .40);
$button-bg-color-active-light-hex:   #D5D5D5;
$button-bg-color-disabled-light:     #E0E0E0;
$button-bg-color-disabled-light-hex: hsla(0, 0%, 0%, .12);
//$button-color-disabled-light:        hsla(0, 0%, 0%, .26); 
//$button-color-disabled-light-hex:    #BCBCBC;

// static dark button colors
$button-bg-color-hover-dark:        hsla(0, 0%, 80%, .15);
$button-bg-color-hover-dark-hex:    #1F1F1F;
$button-bg-color-active-dark:       hsla(0, 0%, 80%, .25);
$button-bg-color-active-dark-hex:   #333333;
$button-bg-color-disabled-dark:     hsla(0,0%,100%, .12);
$button-bg-color-disabled-dark-hex: #1E1E1E;
//$button-color-disabled-dark:        hsla(0,0%,100%, .30); 
//$button-color-disabled-dark-hex:    #4C4C4C;




@mixin bgcolor-content($dark-or-light: $color-theme) {
    // use for dialogs, cards
    @if $dark-or-light == "dark" {
        background-color: $bgcolor-content-dark;
    } @else {
        background-color: $bgcolor-content-light;
    }
}

@mixin bgcolor-base($dark-or-light: $color-theme) {
    // use for the base background
    @if $dark-or-light == "dark" {
        background-color: $bgcolor-base-dark;
    } @else {
        background-color: $bgcolor-base-light;        
    }
}

@mixin bgcolor-toolbar($dark-or-light: $color-theme) {
    // use for the primary heading bars
    @if $dark-or-light == "dark" {        
          background-color: #212121;
    } @else {
          background-color: #F5F5F5;
    }
}

@mixin bgcolor-statusbar($dark-or-light: $color-theme) {
    // use for contrast against the heading bar as the topmost or bottommost element
    @if $dark-or-light == "light" {
        background-color: #E0E0E0;
    } @else {
        background-color: #000000;
    }
}

@mixin color-content($dark-or-light: $color-theme) { 
    // use for standard text
    @if $dark-or-light == "dark" {
        color: $color-dark-content-hex;
        color: $color-dark-content;
    } @else {
        color: $color-light-content-hex;
        color: $color-light-content;
    }
}

@mixin color-quiet($dark-or-light: $color-theme) {
    // use for secondary/quiet text and icons
    @if $dark-or-light == "dark" {
        color: $color-dark-quiet-hex;
        color: $color-dark-quiet;
    } @else {
        color: $color-light-quiet-hex;
        color: $color-light-quiet;
    }
}

@mixin color-disabled($dark-or-light: $color-theme) {
    // use for disabled and hint text
     @if $dark-or-light == "dark" {
        color: $color-dark-disabled-hex !important;
        color: $color-dark-disabled !important;
    } @else {
        color: $color-light-disabled-hex !important;
        color: $color-light-disabled !important;
    }
}

// hr's are colored by coloring the bg
@mixin color-divider-bg($dark-or-light: $color-theme) {
    // use for dividers
    @if $dark-or-light == "dark" {
        background-color: $color-dark-divider-hex;
        background-color: $color-dark-divider;
    } @else {
        background-color: $color-light-divider-hex;
        background-color: $color-light-divider;
    }
}

@mixin color-divider-border ($dark-or-light: $color-theme) {
    @if $dark-or-light == "dark" {
        border-color: $color-dark-divider-hex;
        border-color: $color-dark-divider;
    } @else {
        border-color: $color-light-divider-hex;
        border-color: $color-light-divider;
    }
}

@mixin color-box( 
    $dark-or-light: $color-theme,
    $color-primary: null,
    $color-accent: null
) {
    // sets the main text colors
    // if primary and accent colors are given, sets the .loud and .attn classes

    @include color-content($dark-or-light);
    @include color-box-classes($dark-or-light, $color-primary, $color-accent);
}

@mixin color-box-classes (
    $dark-or-light: $color-theme,
    $color-primary: null,
    $color-accent: null
) {
    .quiet {
        @include color-quiet($dark-or-light);
    }
       
    [disabled], .disabled, .hint {
        @include color-disabled($dark-or-light);
    }   
    
    @if ($color-primary != null) {    
        .loud {
            color: $color-primary;
        }
    }
    @if ($color-accent != null) {
         .attn {
             color: $color-accent;
         }
    }
    hr {
        @include color-divider-bg;
    }
}

@mixin color-scrollbar($dark-or-light: $color-theme) {
        ::-webkit-scrollbar-thumb {
	    @include bgcolor-toolbar($dark-or-light);
	    &:hover{
            @include bgcolor-statusbar($dark-or-light);
	    }
    }
}

@mixin color-links($color-primary: $color-primary, $color-accent: $color-accent) {
    .link, a {
        color: $color-primary;
        &:visited, &:focus, &:hover, &:active {
			color: $color-primary;            
		}
        &.attn {
            color: $color-accent;
        }
    } 
}

@mixin color-text-selection($bg-color: $color-primary, $dark-or-light: $color-primary-theme) {
    // color the text selection
    ::selection {
        background: $bg-color;
        @include color-content($dark-or-light);
    }
    ::-moz-selection {
        background: $bg-color;
        @include color-content($dark-or-light);
    }
}

@mixin color-selected-item($dark-or-light: $color-theme) {
     @if $dark-or-light == "dark" {
        background-color: $color-primary-darker;
        @include color-box("dark");
    } @else {
        background-color: $color-primary-lighter;
        @include color-box("light");
    }
}