@import "../../mixins/opacity";

/*
 * theme is either "light" or "dark"
 * 
 * color-container(theme, primary, accent)
 * color-links(primary, accent)
 * color-selected-item(theme)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-divider(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 * Note: color variables using alpha have an accompanying hex variable
 *       that works well with the specified light or dark backgrounds.
 *       This is to be used as long as IE 8 is supported.
 */

$color-theme:                "light"     !default;

// primary/accent color swatch
$color-primary:               #0097a7   !default;
$color-primary-theme:         "light"   !default;
$color-primary-darker:        #006064   !default;
$color-primary-darker-theme:  "light"   !default;
$color-primary-lighter:       #B2EBF2   !default;
$color-primary-lighter-theme: "dark"    !default;
$color-accent:                #FF3D00   !default;
$color-accent-theme:          "light"   !default;
$color-accent-darker:         #DD2C00   !default;
$color-accent-darker-theme:   "light"   !default;
$color-accent-lighter:        #FF6E40   !default;
$color-accent-lighter-theme:  "dark"    !default;

// button colors
$button-bg-color-light:       #FFFFFF   !default;
$button-color-theme-light:    "light"   !default;
$button-effect-light:         "lighten" !default;
$button-bg-color-dark:        #2196F3   !default;
$button-color-theme-dark:     "dark"    !default;
$button-effect-dark:          "lighten" !default;


// light theme colors
$color-light:              rgba(0, 0, 0, .87);
$color-light-hex:          #202020;
$color-light-quiet:        rgba(0, 0, 0, .54);
$color-light-quiet-hex:    #747474;
$color-light-disabled:     rgba(0, 0, 0, .26);
$color-light-disabled-hex: #BCBCBC;
$color-light-divider:      rgba(0, 0, 0, .12);
$color-light-divider-hex:  #E0E0E0;


// dark theme colors
$color-dark:             rgba(255, 255, 255, 1);
$color-dark-hex:          #FFFFFF;
$color-dark-quiet:        rgba(255, 255, 255, .70);
$color-dark-quiet-hex:    #B3B3B3;
$color-dark-disabled:     rgba(255, 255, 255, .30);
$color-dark-disabled-hex: #4C4C4C;
$color-dark-divider:      rgba(255, 255, 255, .12);
$color-dark-divider-hex:  #1E1E1E;


// light color backgrounds
$bg-color-light-content:  #FFFFFF;
$bg-color-light:          #FAFAFA;        
$bg-color-light-bar:      #F5F5F5; 
$bg-color-light-outerbar: #E0E0E0; 


// dark color backgrounds
$bg-color-dark-content:   #424242;
$bg-color-dark:           #303030;
$bg-color-dark-bar:       #212121;
$bg-color-dark-outerbar:  #000000;






@mixin bg-color-content($dark-or-light: $color-theme) {
    // use for dialogs, cards
    @if $dark-or-light == "dark" {
        background-color: $bg-color-dark-content;
    } @else {
        background-color: $bg-color-light-content;
    }
}

@mixin bg-color($dark-or-light: $color-theme) {
    // use for the base background
    @if $dark-or-light == "dark" {
        background-color: $bg-color-dark;
    } @else {
        background-color: $bg-color-light;        
    }
}


@mixin bg-color-bar($dark-or-light: $color-theme) {
    // use for the primary heading bars
    @if $dark-or-light == "dark" {        
          background-color: #212121;
    } @else {
          background-color: #F5F5F5;
    }
}

@mixin bg-color-outerbar($dark-or-light: $color-theme) {
    // use for contrast against the heading bar as the topmost or bottommost element
    @if $dark-or-light == "dark" {
        background-color: #E0E0E0;
    } @else {
        background-color: #000000;
    }
}

@mixin color($dark-or-light: $color-theme) { 
    // use for standard text
    @if $dark-or-light == "dark" {
        color: $color-dark-hex;
        color: $color-dark;
    } @else {
        color: $color-light-hex;
        color: $color-light;
    }
}

@mixin color-quiet($dark-or-light: $color-theme) {
    // use for secondary/quiet text and icons
    @if $dark-or-light == "dark" {
        color: $color-dark-quiet-hex;
        color: $color-dark-quiet;
    } @else {
        color: $color-light-quiet-hex;
        color: $color-light-quiet;
    }
}

@mixin color-disabled($dark-or-light: $color-theme) {
    // use for disabled and hint text
     @if $dark-or-light == "dark" {
        color: $color-dark-disabled-hex;
        color: $color-dark-disabled;
    } @else {
        color: $color-light-disabled-hex;
        color: $color-light-disabled;
    }
}

@mixin color-divider($dark-or-light: $color-theme) {
    // use for dividers
    @if $dark-or-light == "dark" {
       color: $color-dark-divider-hex;
       color: $color-dark-divider;
    } @else {
       color: $color-light-divider-hex;
       color: $color-light-divider;
    }
}






@mixin color-container(
    $dark-or-light: $color-theme,
    $color-primary: $color-primary,
    $color-accent: $color-accent
) {

    // sets text color, .quiet, .loud/primary, .attn/accent, small,
    //     disabled/hint, a, .link, hr colors for a container

    @include color($dark-or-light);
    h1, h2 {
       @include color($dark-or-light);
    }
    
    .quiet, small {
        @include color-quiet($dark-or-light);
    }
       
    [disabled], .disabled, .hint {
        @include color-disabled($dark-or-light);
    }        
    
    .loud {
        color: $color-primary;
    }

     .attn {
         color: $color-accent;
     }

    hr {
        @include color-divider;
    }

    ::-webkit-scrollbar-thumb {
		@include bg-color-bar($dark-or-light);
		&:hover{
           @include bg-color-outerbar($dark-or-light);
		}
	}
}

@mixin color-links($color-primary: $color-primary, $color-accent: $color-accent) {
    .link, a {
        color: $color-primary;
         &:visited, &:focus, &:hover, &:active {
			color: $color-primary;
		}
        &.attn {
           // color: $color-accent; // will I ever need this?
        }
    } 
}


@mixin color-selected-item($dark-or-light: $color-theme) {
     @if $dark-or-light == "dark" {
        background-color: $color-primary-darker;
        @include color-container("dark");
    } @else {
        background-color: $color-primary-lighter;
        @include color-container("light");
    }
}