@import "_$color.scss";


$type-font-family: "OpenSans", "sans-serif" 	                !default;
$type-font-family-medium: "OpenSansMedium", "sans-serif" 	    !default;
$type-font-family-mono: Monaco, Menlo, 'Courier New', monospace	!default;
$type-width-readable: 50em; // 32em; // 40? // should be relative to font size
$type-width-readable-short: 30em; // 30?


@mixin type-classes {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }
    h1 {
        @include type-display1;
    }
    h2 {
        @include type-title;
    }
    h3 {
        @include type-subhead1;
    }
    h4, h5, h6 {
        @include type-subhead2;
    }
    p {
        @include type-body1;
        margin: 0 0 1.5em 0; // jch! this cannot be right
        &:last-of-type {
			margin-bottom: 0;
		}
    }
    small {
        @include type-caption;
    }
    .type-display4 {
        @include type-display4;
    }
    .type-display3 {
        @include type-display3;
    }
    .type-display2 {
        @include type-display2;
    }
    .type-display1 {
        @include type-display1;
    }
    .type-headline {
        @include type-headline;
    }
    .type-title {
        @include type-title;
    }
    .type-subhead2 {
        @include type-subhead2;
    }
    .type-subhead1 {
        @include type-subhead1;
    }
    .type-body2 {
        @include type-body2;
    }
    .type-body1 {
        @include type-body1;
    }
    .type-caption {
        @include type-caption;
    }
    .type-width-readable {
        max-width: $type-width-readable;
    }
    .type-width-readable-short {
        max-width: $type-width-readable-short;
    }
    div, section {
        &.lead1 {
            margin-bottom: 1.5em;
        }
        &.lead2 {
            margin-bottom: 4em;
        }
    }
}

@mixin type-classes-theme {
    h1, h3, caption {
        @include color-quiet;
    }
}

@mixin type-font-face {
    $opensans-regular-fontpath: "font/opensans/OpenSans-Regular-";
    $opensans-medium-fontpath: "font/opensans/OpenSans-Semibold-";

    @font-face {
        font-family: 'OpenSans';    
        src: url($opensans-regular-fontpath + 'webfont.eot');
        src: url($opensans-regular-fontpath + 'webfont.eot?#iefix') format('embedded-opentype'),
             url($opensans-regular-fontpath + 'webfont.woff') format('woff'),
             url($opensans-regular-fontpath + 'webfont.ttf') format('truetype'),
             url($opensans-regular-fontpath + 'webfont.svg#OpenSansRegular') format('svg');
        font-weight: normal;
        font-weight: 400;
        font-style: normal;
    }

     @font-face {
        font-family: 'OpenSansMedium';    
        src: url($opensans-medium-fontpath + 'webfont.eot');
        src: url($opensans-medium-fontpath + 'webfont.eot?#iefix') format('embedded-opentype'),
             url($opensans-medium-fontpath + 'webfont.woff') format('woff'),
             url($opensans-medium-fontpath + 'webfont.ttf') format('truetype'),
             url($opensans-medium-fontpath + 'webfont.svg#OpenSansRegular') format('svg');
        font-weight: normal;
        font-weight: 600;
        font-style: normal;
    }
}


@mixin type-display4 {
    // 112px regular font, 118px line height, quiet color, no lead
    font-family: $type-font-family;
    font-size: 7em;
    line-height: 1.06;
}

@mixin type-display3 {
    // 56px regular font, 60px line height, quiet color, no lead
    font-family: $type-font-family;
    font-size: 3.5em;
    line-height: 1.067;
}

@mixin type-display2 {
    // 45px regular font, 48px line height + lead, quiet color
    font-family: $type-font-family;
    font-size: 2.8125em;
    line-height: 1.07;
    &.lead {
        margin: -.35em 0 .67em 0;
    }
}

@mixin type-display1 {
    // 34px regular font, 40px line height + lead, quiet color
    font-family: $type-font-family;
    font-size: 2.125em;
    line-height: 1.176;
    &.lead {
        margin: -0.35em 0 .75em 0;
    }
}

@mixin type-headline {
    // 24px regular font, 32px line height + lead, standard color
    font-family: $type-font-family;
    font-size: 1.5em;
    line-height: 1.33em;
    &.lead {
        margin: -0.165em 0 .67em 0;
    }
}

@mixin type-title {
    // 20px medium font, 30px line height, standard color, no lead
    font-family: $type-font-family-medium;
    font-size: 1.25em;
    line-height: 1.5em;
}

@mixin type-subhead2 {
    // 16px regular font, 28px line height + lead, standard color
    font-family: $type-font-family-medium;
    font-size: 1em;
    line-height: 1.75;
    &.lead {
        margin: -0.375em 0 .75em 0;
    }
}

@mixin type-subhead1 {
    // 16px medium font, 24px line height + lead, quiet color
    font-family: $type-font-family;
    font-size: 1em;
    line-height: 1.5em;
    &.lead {
        margin: -0.25em 0 .5em 0;
    }
}

@mixin type-body2 {
    // 14px medium font, 24px line height + lead, standard color
    font-family: $type-font-family-medium;    
    font-size: 0.875em;
    line-height: 1.7em;
    &.lead {
        margin: -0.357em 0 1.5em 0;
        //margin: -0.357em 0 .57em 0;
    }
}

@mixin type-body1 {
    // 14px regular font, 20px line height + lead, standard color
    font-family: $type-font-family;
    font-size: 0.875em;
    line-height: 1.428;
    &.lead {
        margin: -.214em 0 1.5em 0 !important;
        //margin: -.214em 0 0.286em 0 !important;
    }
}

@mixin type-caption {
    // 12px regular font, 17px line height, quiet color, no lead
    font-family: $type-font-family;
    font-size: .75em;
    line-height: 1.428;
}

@mixin type-button {
    // 14px regular font, 24px line height, standard color, no lead
    font-family: $type-font-family-medium;
    font-size: 0.875em;
    line-height: 1.714;
    text-transform: uppercase;
    /*
        text-transform: uppercase;
        font-weight: 600;
	    font-family: $button-font-family;
	    font-size: $body-font-size *.8;
	    line-height: $body-line-height * 1.3;
    */
}