// 
// 24 - dialogs
// 16 - top level menus
// 12 - pressed (FAB)
// 8 - Menu, pressed(card, raised button)
// 6 - FAB
// 4 - App Bar
// 3 - 
// 2 - card, raised button
// 0
// 
 
@mixin z-depth-classes {
    .z-depth-none {
        @include z-depth-none;
    }
    .z-depth-card {
        @include z-depth-card;
    }
    .z-depth-quick-entry-scrolled {
        @include z-depth-quick-entry-scrolled;
    }
    .z-depth-button {
        @include z-depth-button;
    }
    .z-depth-button-pressed {
        @include z-depth-button-pressed;
    }
    .z-depth-bar {
        @include z-depth-bar;
    }
    .z-depth-fab {
        @include z-depth-fab;
    }
    .z-depth-menu {
        @include z-depth-menu;
    }
    .z-depth-topmenu {
        @include z-depth-topmenu;
    }
    .z-depth-dialog {
        @include z-depth-dialog;
    }

}
// adjust these as neccessary
// based on one box shadow for ambient lighting based on depth
// and the primary box shadow based on 45 degree lighting also based on depth.

@mixin z-depth-none {
    z-index: 0;
    box-shadow: none;
}

@mixin z-depth-card {
    z-index: 2;
    box-shadow: 0 2px 1px 0   rgba(0, 0, 0, 0.14),
                0 0   1px 1px rgba(0, 0, 0, 0.12); 
}

@mixin z-depth-button {
    z-index: 2;
    box-shadow: 0 2px 2px 0   rgba(0, 0, 0, 0.25),
                0 0   1px 1px rgba(0, 0, 0, 0.12); 
}

@mixin z-depth-button-pressed {
    @include z-depth-menu;
}

@mixin z-depth-quick-entry-scrolled {
    z-index: 3;
    box-shadow: 0 2px 4px 0   rgba(0, 0, 0, 0.14),
                0 0   1px 1px rgba(0, 0, 0, 0.12); 
}

@mixin z-depth-bar {
    z-index: 4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16),
                0 0px 2px 1px rgba(0, 0, 0, 0.12); 
}

@mixin z-depth-fab {
    z-index: 6;
    box-shadow: 0 6px 12px 0   rgba(0, 0, 0, 0.16),
                0 0px 2px  1px rgba(0, 0, 0, 0.12); 
}

@mixin z-depth-menu {
    z-index: 8;
    box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.30),
                0 0 2px 1px rgba(0, 0, 0, 0.12)
}

@mixin z-depth-topmenu {
    z-index: 16;
    box-shadow: 0 16px 32px 0    rgba(0, 0, 0, 0.5),
                0 0    2px 1px rgba(0, 0, 0, 0.12); 
}


@mixin z-depth-dialog {
    z-index: 24;
    box-shadow: 0 24px 48px 0    rgba(0, 0, 0, 0.16),
                0 0    2px 1px rgba(0, 0, 0, 0.12); 
}
