@import "../../mixins/col";
@import "../../mixins/clearfix";
@import "media";


$col-gutter-width: 1%;


@mixin cols {
	@include rows;

	@include ondesktop {
		.col,
		.col1 { @include col-span(1); }
		.col2 { @include col-span(2); }
		.col3 { @include col-span(3); }
		.col3-2 { @include col-span(3, 2); }
		.col4 { @include col-span(4); }
		.col5 { @include col-span(5); }
    }
	
	
	@include ontablet {
		.col2 { @include col-span(2); }
		.col3,
		.col3-2,
		.col4,
		.col5 { @include col-span(3); }
	}

	@include onphone {
		.col,
		.col1,
		.col2,
		.col3,
		.col3-2,
		.col4,
		.col5 { @include col-span(1); }
	}
}



@mixin rows {
    /* the row classes are not really used - think about removing them */
	.row, .row-small, .row-medium, .row-large {
		@include clearfix;
		clear: both;		
	}	
	.row {
		margin-left: $col-gutter-width * -1;
	}
	.row5 {
		height: 5em;
		overflow: auto;
	}
	.row4 {
		height: 10em;
		overflow: auto;
	}
	.row3 {
		height: 15em;
		overflow:auto;
	}
	.row2 {
		height: 20em;
		overflow:auto;
	}
	.row1 {
		height: 25em;
		overflow:auto;
	}
}