@import "../../mixins/col";
@import "../../mixins/clearfix";
@import "_$vars.scss";
@import "_$media.scss";




@mixin cols {
	@include rows;
    @include row-tiles;

	@include ondesktop {
		.col,
		.col1 { @include col-span(1); }
		.col2 { @include col-span(2); }
		.col3 { @include col-span(3); }
		.col3-2 { @include col-span(3, 2); }
		.col4 { @include col-span(4); }
		.col5 { @include col-span(5); }

        .hasaside {
		    .col5 { @include col-span(4); }
        }
    }
	
	
	@include ontablet {
		.col2 { @include col-span(2); }
		.col3,
		.col3-2,
		.col4,
		.col5 { @include col-span(3); }

        .hasaside {
            .col3,
		    .col3-2,
		    .col4,
		    .col5 { @include col-span(2); }
        }
	}

	@include onphone {

        *, .hasaside {
            .col,
		    .col1,
		    .col2,
		    .col3,
		    .col3-2,
		    .col4,
		    .col5 { @include col-span(1); }
        }
	}
}




@mixin row-tiles {

    @include ondesktop {

        .row {
            .col5:nth-of-type(5n+1) { clear:left; }
        }

        .hasaside {
            .row {
                .col5:nth-of-type(5n+1) { clear: none; }
                .col5:nth-of-type(4n+1) { clear: left; }
            }
        }
    }


    @include ontablet {
        .row {
            .col5:nth-of-type(3n+1) { clear:left; }
        }

        .hasaside {
            .row {
                .col5:nth-of-type(3n+1) { clear:none; }
                .col5:nth-of-type(2n+1) { clear:left; }
            }
        }
    }


    @include onphone {
        .hasaside {
             .row {
                .col5:nth-of-type(1n+1) { clear:left; }
            }
        }
    }
}






@mixin rows {
    /* the row classes are not really used - think about removing them */
	.row, .row-small, .row-medium, .row-large {
		@include clearfix;
		clear: both;		
	}	
	.row {
		margin-left: $col-gutter-width * -1;
        &.lead {
            margin-bottom: 4em;
        }
	}
	//.row5 {
	//	height: 5em;
	//	overflow: auto;
	//}
	//.row4 {
	//	height: 10em;
	//	overflow: auto;
	//}
	//.row3 {
	//	height: 15em;
	//	overflow:auto;
	//}
	//.row2 {
	//	height: 20em;
	//	overflow:auto;
	//}
	//.row1 {
	//	height: 25em;
	//	overflow:auto;
	//}
}




/*@mixin col-span ($cols: 1, $span: 1, $col-gutter-width: $col-gutter-width) {
	$colwidth: 100% / $cols;
	$spancolwidth: $colwidth * $span;
	// $margin: 2%;

	float: left;
	width: $spancolwidth;
    box-sizing: border-box;
	border-left: $col-gutter-width solid transparent;
}*/