
/* https://www.google.com/design/icons */


$materialicons-path: "../../font/material/MaterialIcons-Regular" !default;
$fonticons-sizes-small: 18px;
$fonticons-sizes-medium: 24px;
$fonticons-sizes-large: 36px;
$fonticons-sizes-x-large: 48px;



@mixin fonticons {   

    .icon-menu:before          { content: "\E5D2"; }
    .icon-remove:before        { content: "\E14C"; }
    .icon-close:before         { content: "\E14C"; }
    .icon-align-left:before    { content: "\E236"; }
    .icon-align-center:before  { content: "\E234"; }
    .icon-align-right:before   { content: "\E237"; }
    .icon-align-justify:before { content: "\E235"; }
    .icon-edit:before          { content: "\E254"; }
    .icon-move:before          { content: "\E89F"; }
    .icon-plus:before          { content: "\E145"; }
    .icon-cogs:before          { content: "\E8B8"; }
    .icon-reorder:before       { content: "\E8FE"; }
    .icon-columns:before       { content: "\E8EC"; }
    .icon-help:before          { content: "\E887"; }
    .icon-paypal:before        { content: "\E8A1"; }
    .icon-image:before         { content: "\E3F4"; }
    .icon-link:before          { content: "\E157"; }
    .icon-google-plus:before   { content: "\f0d5"; }
    .icon-facebook:before      { content: "\f09a"; }
    .icon-next:before          { content: "\E409"; }
    .icon-previous:before      { content: "\E408"; }
    .icon-up:before            { content: "\E5C7"; }
    .icon-down:before          { content: "\E5C5"; }
    .icon-lens:before          { content: "\E3FA"; }
    .icon-more:before          { content: "\E5D4"; }
    .icon-search:before        { content: "\E8B6"; }
    
    
    @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url($materialicons-path + '.eot'); /* For IE6-8 */
      src: url($materialicons-path + '.woff2') format('woff2'),
           url($materialicons-path + '.woff') format('woff'),
           url($materialicons-path + '.ttf') format('truetype');
    }

   
    [class^="icon-"],
    [class*=" icon-"] {      
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      text-decoration: none !important;
      cursor: default;
      -webkit-font-smoothing: antialiased;

      // *margin-right: .3em; // was this an ie 7 hack?
      /* Support for Safari and Chrome. */
      text-rendering: optimizeLegibility;

      /* Support for Firefox. */
      -moz-osx-font-smoothing: grayscale;

      /* Support for IE. */
      font-feature-settings: 'liga';

        @include fonticons-size;
        &.small {
           @include fonticons-size("small");
        }
        &.medium {
           @include fonticons-size("medium");            
        }
        &.large {
            @include fonticons-size("large");
        }
        &.x-large {
           @include fonticons-size("x-large");
        }
    }
    [class^="icon-"]:before,
    [class*=" icon-"]:before {
      text-decoration: inherit;
      display: inline-block;
      speak: none;
    }

    /* makes sure icons active on rollover in links */
    a [class^="icon-"],
    a [class*=" icon-"],
    a [class^="icon-"]:before,
    a [class*=" icon-"]:before {
      display: inline;
    }   

}

@mixin fonticons-size ($size: "medium") {
    @if $size == "small" {
        font-size: $fonticons-sizes-small
    } @elseif $size == "medium" {
        font-size: $fonticons-sizes-medium
    } @elseif $size == "large" {
        font-size: $fonticons-sizes-large
    } @elseif $size == "x-large" {
        font-size: $fonticons-sizes-x-large
    }
}