@import "../../mixins/text-shadow";
@import "../../mixins/box-shadow";
@import "../../mixins/inline-block-list";
@import "../../mixins/opacity";
@import "../../mixins/border-radius";
@import "foundation";

$frame-logo-width:		150px !default;
$frame-logo-height:		51px !default;
$frame-header-height:	3.15em; // 3.15em !default; // 50px (logo image) / 16px base font size
$frame-footer-height:	12em !default; 

$overlay-background-color: #000;

$frame-footer-background: #2d3033;
$frame-footer-color: #a5a6a7;

$framenav-color:						#EEE								!default;
$framenav-background-color:				#345276								!default;
$framenav-color-hover:					$body-color-loud					!default;
$framenav-background-color-hover:		$body-background-color				!default;
$framenav-color-selected:				$framenav-color-hover				!default;
$framenav-background-color-selected:	$framenav-background-color-hover	!default;
$scrollbar-color:						#CCC								!default;
$frame-logo-use-image: true !default;




@mixin frame {
	#frame {
		min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto ($frame-footer-height*-1);
	}	
	@include frame-header;
	@include frame-body;
	@include frame-footer;	
	@include overlay;
}


@mixin frame-header {
	#frame-header {
		overflow: hidden;
		z-index: 1;		

		a, a:visited {
			text-decoration: none;
		}		
	}	

	#frame-logo {
		font-size: 2.3em;
		float:left;
		margin: 0 0em 0 .5em;
		@include single-text-shadow(rgba(#000, 0.6), 1px, 1px, 2px);
	}

	#frame-nav {
		float: left;
		font-size: 1.1em;
		//padding-top: 1em;
		ul {
			@include inline-block-list;
			li {
				cursor: pointer;	
				float:left;
				// jch - add mixin for transitions - and add to launch
				//-webkit-transition-property: background;
				//-webkit-transition-duration: 0.3s;				
				a {
					display: inline-block;
					padding: 0 1em;
				}
				&.selected {
					a {
						@include single-text-shadow(rgba(#444, 0.4) 1px 1px 1px);
					}		
				}
				&.attn {					
					background: #FF0000 !important;
					a { color: white !important; }
				}
			}
		}
	}

	#frame-session {
		float: right;
		a {
			padding: 0 1em;
			font-size: 1.2em;
			display: inline-block;
			text-align: center;
		}
	}
}


@mixin frame-body {
	#frame-body {
		position: relative;
		// min-height: 23em;
		// background-color: $body-background-color;
	}
}


@mixin frame-footer {
    .frame-footer-height {
		height: $frame-footer-height;
    }

	#frame-footer  {
		position: relative;
        
        .menulist {
             font-size: .8em;
             line-height: 1.8em;

            a {
                text-decoration: none;
            }

            h2, h3 {
                font-size: 1.1em;
                font-weight: bold;
            }
        }

        .social-links {
            line-height: 2em;
            padding-top: .5em;
            a {
                text-decoration: none;
                display: block;
            }
            span {
                font-size: 1.5em;
                position: relative;
                top: .25em;
                width: 1em;
                text-align: right;
                display: block;
                float: left;
                clear: left;
                margin-right: .4em;
            }
            
        }
	}

    #frame-footer-content {
        background: $frame-footer-background;
        @include clearfix;
    }

    #frame-footer-copyright {
        position: absolute;
        bottom: 1em;
        left: 50%;
        position: absolute;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 75%;
        @include opacity(.7);
    }
    /*
        <div class="col4">
	<div class="menulist">
		<h2><a href="#">Shop</a></h2>
		<ul>
			<li><a href="#">Originals</a></li>
			<li><a href="#">Prints</a></li>
			<li><a href="#">Jewelry</a></li>
			<li><a href="#">Gifts</a></li>
		</ul>
	</div>
</div>
<div id="frame-footer-copyright"></div>
*/
}


@mixin overlay {
	#overlay, .overlay {
		background-color: $overlay-background-color;
		z-index: 10;
		display: none;
		@include opacity(.5);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}



@mixin frame-theme {
	#frame-header {
		height: $frame-header-height;
		line-height: $frame-header-height;
		color: $framenav-color;
		background: $framenav-background-color;

		//position: fixed;
		width:100%;
		@include box-shadow(0 2px 4px rgba(105,105,105,.25));

		a, a:visited {
			color: $framenav-color;
		}
	}

		

	@if $frame-logo-use-image {
		#frame-logo a {
			text-indent: -99999px;
			display: block;
			width: $frame-logo-width;
			height: $frame-logo-height;
			background: url(images/logo.png) no-repeat;
            background-size: contain;
		}
	}

	#frame-nav {
		ul {
			li {		
				&:hover {
					background-color: $framenav-background-color-hover;
					// @include box-shadow(0 6px 14px rgba(105,105,105,.60));
					
                    a {
						color: $framenav-color-hover;
					}
                    font-weight: bold;
				}
				&.selected{
					background-color: $framenav-background-color-selected;
					a {
						color: $framenav-color-selected;
					}		
				}
			}
		}
	}

	#frame-body {
		
		::-webkit-scrollbar-thumb {
			background: $scrollbar-color;
			&:hover{
				background: darken($scrollbar-color, 10%);				
			}
		}		
	}

    #frame-footer {
        background: $frame-footer-background;
        color: $frame-footer-color;
        a {
            color: $frame-footer-color;
        }
    }
}

