@import "../../mixins/text-shadow";
@import "../../mixins/box-shadow";
@import "../../mixins/inline-block-list";
@import "../../mixins/opacity";
@import "foundation";

$frame-logo-width:		150px;
$frame-logo-height:		50px;
$frame-header-height:	4.286em; // 60px (logo image) / 14px base font size
$frame-footer-height:	3.3em; // footer is not currently fixed - 3.3em;

$overlay-background-color: #000;



$framenav-color:						#EEE								!default;
$framenav-background-color:				#345276								!default;
$framenav-color-hover:					$body-color							!default;
$framenav-background-color-hover:		$body-background-color				!default;
$framenav-color-selected:				$framenav-color-hover				!default;
$framenav-background-color-selected:	$framenav-background-color-hover	!default;
$scrollbar-color:						#CCC								!default;
$frame-logo-use-image: true !default;




@mixin frame {
	#frame {
		@include clearfix;
	}	
	@include frame-header;
	@include frame-body;
	@include frame-footer;	
	@include overlay;
}

@mixin frame-theme {
	#frame-header {
		color: $framenav-color;
		background: $framenav-background-color;
		a, a:visited {
			color: $framenav-color;
		}
	}

	@if $frame-logo-use-image {
		#frame-logo a {
			text-indent: -99999px;
			display: block;
			width: 200px;
			height: 50px;
			background: url(images/logo.png) no-repeat;
		}
	}

	#frame-nav {
		ul {
			li {		
				&:hover {
					background-color: $framenav-background-color-hover;
					a {
						color: $framenav-color-hover;
					}
				}
				&.selected{
					background-color: $framenav-background-color-selected;
					a {
						color: $framenav-color-selected;
					}		
				}
			}
		}
	}

	#frame-body {
		::-webkit-scrollbar-thumb {
			background: $scrollbar-color;
			&:hover{
				background: darken($scrollbar-color, 10%);				
			}
		}
		
//		scrollbar-face-color: $button-bg-color;
//		scrollbar-arrow-color: $button-bg-color;
//		scrollbar-track-color: $body-bg-color;
//		scrollbar-shadow-color: $button-bg-color;
//		scrollbar-highlight-color: $button-bg-color;
//		scrollbar-3dlight-color: $button-bg-color;
//		scrollbar-darkshadow-color: $button-bg-color;
		
	}
}


@mixin frame-header {
	#frame-header {
		overflow: hidden;
		height: $frame-header-height;
		line-height: $frame-header-height;
		z-index: 1;		

		a, a:visited {
			text-decoration: none;
		}		
	}	

	#frame-logo {
		font-size: 2.3em;
		float:left;
		margin: 0 1em 0 .5em;
		//height: 1.6em;
		@include single-text-shadow(rgba(#000, 0.6), 1px, 1px, 2px);
	}

	#frame-nav {
		float: left;
		font-size: 1.1em;
		//padding-top: 1em;
		ul {
			@include inline-block-list;
			li {
				cursor: pointer;	
				float:left;
				// jch! add mixin for transitions - and add to launch
				-webkit-transition-property: background;
				-webkit-transition-duration: 0.3s;				
				a {
					display: inline-block;
					padding: 0 1em;
				}
				&.selected {
					a {
						@include single-text-shadow(rgba(#444, 0.4) 1px 1px 1px);
					}		
				}
				&.attn {					
					background: #FF0000 !important;
					a { color: white !important; }
				}
			}
		}
	}

	#frame-session {
		float: right;
		padding: 0 1em;
		font-size: 1.2em;
		a {
			display: inline-block;
			text-align: center;
		}
	}
}


@mixin frame-body {
	#frame-body {
		position: relative;
	}
}


@mixin frame-footer {
	#frame-info {
		clear: left;
		height: $frame-footer-height;
		text-align: center;
	}
}


@mixin overlay {
	#overlay, .overlay {
		background-color: $overlay-background-color;
		z-index: 10;
		display: none;
		@include opacity(.5);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}