@import "../../mixins/text-shadow";
@import "../../mixins/box-shadow";
@import "../../mixins/inline-block-list";
@import "../../mixins/opacity";
@import "../../mixins/border-radius";
@import "foundation";
@import "_$z-depth.scss";


$frame-footer-height:	12em !default; 

$overlay-background-color: #000;

$frame-footer-background: #2d3033;
$frame-footer-color: #a5a6a7;

$framenav-color:						#aaa	    						!default;
$framenav-background-color:				$bgcolor-toolbar-light					!default;
$framenav-color-selected:				#000                				!default;
$framenav-border-selected:          	#000                            	!default;
$scrollbar-color:						#CCC								!default;
$frame-logo-use-image: true !default;




@mixin frame {
	#frame {
		min-height: 100%;
        height: auto !important;
        height: 100%;
        //margin: 1em auto ($frame-footer-height*-1) 0;
	}
	@include frame-header;
	@include frame-body;
	@include frame-footer;	
	@include overlay;
}


@mixin frame-header {
  
 
	#frame-header, #frame-header-background {
        position: fixed;
        top:0;
        left:0;
        right:0;
		overflow: hidden;
        z-index: 1;
        height: $frame-header-height;
        transition: all linear .2s;
	}


    #frame-header {
        height: $frame-header-height;
		line-height: $frame-header-height;
        font-size: 1em;
        a, a:visited {
			text-decoration: none;
		}
    }


    #frame-header-content {
        max-width: $width-readable-content;
        margin: 0 auto;        
    }	

	#frame-logo {
		float:left;
        font-size: 2em;
		margin: 0 .5em;
	}

	#frame-nav {
        line-height: 4em;
        //margin-top: 2em;
        position: relative;
        top: -4px;
		float: right;
		ul {
			@include inline-block-list;
			li {
				cursor: pointer;	
				float:left;
                 margin-right:.5em;
                text-transform: uppercase;
				a {
					display: inline-block;
					padding: 0 1em;
                    // jch - add mixin for transitions - and add to launch
				    -webkit-transition-property: all;
				    -webkit-transition-duration: 0.4s;		
				}
				&.selected {
					a {
					}		
				}
				&.attn {					
					background: #FF0000 !important;
					a { color: white !important; }
				}
			}
		}
	}

	#frame-session {
        position: fixed;
        top: 0;
        left: 0;
		line-height: 4em;
        a {
            font-size:1.5em;
			padding: 0 .667em; // keep a 16px gutter
			//font-size: 1em;
			display: inline-block;
		}
	}
}


@mixin frame-body {
	#frame-body {
		position: relative;
	}
}


@mixin frame-footer {
    .frame-footer-height {
		height: $frame-footer-height;
    }

	#frame-footer  {
		position: relative;
        
        .menulist {
             font-size: .75em;
             line-height: 1.5em;

            a {
                text-decoration: none;
            }

            h2, h3 {
                font-size: 1.5em;
                font-weight: bold;
            }
        }

        .social-links {
            line-height: 2em;
            padding-top: .5em;
            a {
                text-decoration: none;
                display: block;
            }
            span {
                font-size: 1.5em;
                position: relative;
                top: .25em;
                width: 1em;
                text-align: right;
                display: block;
                float: left;
                clear: left;
                margin-right: .4em;
            }
            
        }
	}

    #frame-footer-content {       
        @include clearfix;
    }

    #frame-footer-copyright {
        position: absolute;
        bottom: 1em;
        left: 50%;
        position: absolute;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 75%;
        @include opacity(.7);
    }
    /*
        <div class="col4">
	<div class="menulist">
		<h2><a href="#">Shop</a></h2>
		<ul>
			<li><a href="#">Originals</a></li>
			<li><a href="#">Prints</a></li>
			<li><a href="#">Jewelry</a></li>
			<li><a href="#">Gifts</a></li>
		</ul>
	</div>
</div>
<div id="frame-footer-copyright"></div>
*/
}


@mixin overlay {
	#overlay, .overlay {
		background-color: $overlay-background-color;
		z-index: 10;
		display: none;
		@include opacity(.5);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}



@mixin frame-theme {
  
     #frame-header-background {
        background: $color-primary;
        @include opacity(1);
    }

    .scrolled {
       
        #frame-header {
            @include z-depth-bar;
        }
    }

	#frame-header {
		
		
        // jch playing
        // color: $framenav-color;
        // background: $framenav-background-color; // don't think i need this
        @include color-box;
        //background-color: $color-primary;
        [role=button] {
            @include color($theme-ondark-bg);
            &:hover {
                background-color: darken($color-primary, 5%);
            }
            &:active {
                background-color: darken($color-primary, 10%);
            }
        }
	}


	@if $frame-logo-use-image {
		#frame-logo a {
			text-indent: -99999px;
			display: block;
			width: $frame-logo-width;
			height: $frame-logo-height;
			background: url(unquote("images/" + $frame-logo-name)) no-repeat;
            background-size: contain;
            // margin: 1em .5em;
		}
	}

	#frame-nav {
      
		li {           
            border-bottom: 4px solid transparent;
            a {
               //font-weight: bold;
               color:#ffffff;
               @include opacity(.7);
            }
			&.selected{
				border-bottom: 4px solid white;
				a {
                    @include opacity(1);
					// color: $color-primary;
				}
			}			
		}
	}


	#frame-body {		
				
	}

    #frame-footer {
        @include bgcolor-toolbar("dark");
        @include color-box("dark");        
        color: $frame-footer-color;
        a {
            color: $frame-footer-color;
        }
    }
}

