@import "../../mixins/border-radius";
@import "../../mixins/user-select";
@import "../../mixins/_clearfix.scss";
@import "_$z-depth.scss";
@import "_$color.scss";


@mixin iconbutton {

    .iconbutton {                               
        margin: 0;               
        padding: .25em;
        @include border-radius(1em);
        
        &:hover, &:focus {
            outline: 0;
        }        
    }
}



@mixin iconbutton-theme {    
    @include iconbutton-colors;
}



@mixin iconbutton-colors($color-theme: $color-theme) {
   .iconbutton {
       @if $color-theme == $theme-onlight-bg {
           &:hover, &:focus {
               background-color: $color-light-divider-hex;
               background-color: $color-light-divider;
           }
            &:active, &.active {
                background-color: $color-light-disabled-hex;
                background-color: $color-light-disabled;
            }
       } @else {
           &:hover, &:focus {
               background-color: $color-dark-divider-hex;
               background-color: $color-dark-divider;
           }
            &:active, &.active {
                background-color: $color-dark-disabled-hex;
                background-color: $color-dark-disabled;
            }
       }
   }
}