@import "../../mixins/border-radius";
@import "../../mixins/user-select";
@import "../../mixins/_clearfix.scss";
@import "_$z-depth.scss";
@import "_$color.scss";


@mixin iconbutton {

   
    .iconbutton {                               
        margin: 0;               
        padding: .25em;
        color: hsla(0, 0%, 0%, .54); //  need to theme
        min-width: 0;

        @include border-radius(1em);
        
        &:hover, &:focus {
            background-color: hsla(0, 0%, 60%, .20);
            outline: 0;
        }

        &:active, &.active {
            background-color:hsla(0, 0%, 60%, .40);
        }        
    }

}



@mixin iconbutton-theme {    
   .iconbutton {

   }
}