@import "../../mixins/no-bullets";
@import "../../mixins/clearfix";
@import "../../mixins/border-radius";
@import "$vars";


$menulist-item-height: 2.2em;
$menulist-border-style: 1px solid #ccc; 


// need review - and to support icons on left + icons or text on right
@mixin menulist {

	.menulist {
        margin-top: .5em;

		& > ul {
			line-height: 3em;
			margin: 0 0 .5em 0;

            @include no-bullets;
            

			& > li {
				& > span,
				& > a {
					display: block;                   
					text-decoration: none;
                    padding: 0 1em;				
				}
				& > span {
					cursor: default;
				}
			}

			.selected {
				font-weight: bold;
			}
		}

         hr {
            margin: .5em 0;
            height: 1px;
            box-sizing: content-box;
        }

		h2, h3 {			
			display: block;
			font-size: .875em; // 14px
			line-height: 3.45em; // 48px
            padding: 0 1.143em; // 16px
            margin:0;
		}	
	}
}

@mixin menulist-theme() {
    .menulist {
        h2, h3 {
            @include color-quiet;
        } 
        
       li {
           @if ($color-theme == $theme-onlight-bg) {
               border-color: $color-light-divider;
           } @else {
               border-color: $color-dark-divider;
           }

			& > span, & > a {
                @include color;
                &:hover {
                    @if ($color-theme == $theme-onlight-bg) {
                        background-color: $button-bg-color-hover-light-hex;
                        background-color: $button-bg-color-hover-light;
                    } @else {
                        background-color: $button-bg-color-hover-dark-hex;
                        background-color: $button-bg-color-hover-dark;
                    }
                 }
                		
			}

            &.selected {
                color: $color-primary;
                a {
                    color: $color-primary;
                }
            }
		}     
    }
}

