@import "$vars";
@import "$color";


@mixin page-header {
    .has-titlebg {
        .page-header {            
            height: $page-header-height*3;
            line-height: $page-header-height*3;
            .page-header-overlay {
                display: block;
            }
        }
    }

    .has-notitle {
        .page-header {
            visibility: hidden;
            height: $frame-header-height;
        }
    }


	.page-header {
        padding-top: $frame-header-height;
		height: $page-header-height*2;		
		line-height: $page-header-height*2; // - (.1 / 100);
        overflow: hidden;
        
        // for the background image
        background-repeat: no-repeat;
		background-size: cover;

        .page-header-overlay {
            display: none; // for title background images
        }

		h1 {
			margin: 0 .5em;
            font-size: 2em;            
			font-weight: normal;
			a {
				text-decoration: none;
			}
		}
		fieldset {
			margin: 0 1em;
		}
	}
}

@mixin page-header-theme {
	.page-header {
        position: relative;
       // top: $frame-logo-height;
        @include bgcolor-toolbar;
	}

    .page-header-overlay {
		background: #000;
		opacity: .23;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

