@import "page-vars";




@mixin page-body {
	.page-body {
        background: $page-body-background;
		position: relative;
		clear: left;
		@include clearfix;
	}
	
    @include page-aside;

	.page-content {
		position: relative;
        padding: 2em $page-content-gutter-width;
		float: left;
		width: $page-content-width;
		*width: $page-content-width - (.5 / 100 * 100 * 1%);
        background: $page-content-background;
		
		&:first-child { // if there is no aside
			width: 98%;
		}
	}

	.centered {
		.page-header-content, .page-body {
			max-width: $page-readable-width;
			margin-left: auto;
			margin-right: auto;
		}
		.page-aside {
            width: $page-aside-width-centered;
		}		
		.page-content {
            width: $page-content-width-centered;
		    *width: $page-content-width-centered - (.5 / 100 * 100 * 1%);
		}
		.page-content:first-child { // if there is no aside
			width: 98%;
		}
	}

    @media (max-width: $page-readable-width) {
        .page-aside {
            width: $page-aside-width-centered;
		}		
		.page-content {
            width: $page-content-width-centered;
		    *width: $page-content-width-centered - (.5 / 100 * 100 * 1%);
		}
    }

	.noaside {
		.page-aside { display: none; }
		.page-content { width: 98% }
	}

    .page-content-edit {
        .row {
            outline: 1px dashed #CCC;
        }   
    }
}

@mixin page-aside {

    .page-aside {
        padding-top: 2em;
        padding-bottom: 2em;
        width: $page-aside-width;
		position: relative;
		float: left;
        box-shadow: inset -1px 1px 1px #ddd;
        min-height: 600px;
        //border-right:1px solid #ddd;
        background: #F5F6F6; // jch!

       .menulist {
           margin-left: 0em;
           //max-width: 18em;
           width: 100%;
           //float: right;
           clear: both;

           h2, h3 {
               padding: .4em .8em !important;
               //font-weight: bold;
           }

		   & > ul {
			   // border-top: $page-aside-menulist-border-style;
               // background: $page-aside-menulist-background;

			    & > li {
				    & > span,
				    & > a {
                        padding: .3em 1em;			    			
					    line-height: $page-aside-menulist-item-height;
                        color: #555;                       
                       // border-bottom: $page-aside-menulist-border-style;
				    }
			    }
		   }
           h2, h3 {
               padding: 0 .5em;
           }
           .selected {
               background: #E8E9E9;
               a {
                   color: $body-color-loud;
               }
           }
           a:hover {
               background: #E8E9E9;
           }
	    }
	}
}

