@import "page-vars";




@mixin page-body {
	.page-body {
        background: $page-body-background;
		position: relative;
		clear: left;
		@include clearfix;
	}
	
    @include page-aside;

	.page-content {
		position: relative;
        padding: 2em $page-content-gutter-width;
		float: left;
		width: $page-content-width;
		*width: $page-content-width - (.5 / 100 * 100 * 1%);
        background: $page-content-background;
		
		&:first-child { // if there is no aside
			width: 98%;
		}
	}

	.centered {
		.page-header-content, .page-body {
			max-width: $page-readable-width;
			margin-left: auto;
			margin-right: auto;
		}
		.page-aside {
            width: $page-aside-width-centered;
		}		
		.page-content {
            width: $page-content-width-centered;
		    *width: $page-content-width-centered - (.5 / 100 * 100 * 1%);
		}
		.page-content:first-child { // if there is no aside
			width: 98%;
		}
	}

    @media (max-width: $page-readable-width) {
        .page-aside {
            width: $page-aside-width-centered;
		}		
		.page-content {
            width: $page-content-width-centered;
		    *width: $page-content-width-centered - (.5 / 100 * 100 * 1%);
		}
    }

	.noaside {
		.page-aside { display: none; }
		.page-content { width: 98% }
	}
}

@mixin page-aside {

    .page-aside {
        padding-top: 2em;
        width: $page-aside-width;
		position: relative;
		float: left;

       .menulist {
           margin-left: 1em;
           max-width: 18em;
           width: 100%;
           float: right;
           clear: both;

		   & > ul {
			    border-top: $page-aside-menulist-border-style;
                background: $page-aside-menulist-background;

			    & > li {
				    & > span,
				    & > a {
                        padding-left: 1em;			    			
					    line-height: $page-aside-menulist-item-height;                       
                        border-bottom: $page-aside-menulist-border-style;
				    }
			    }
		   }
           h2, h3 {
               padding: 0 .5em;
           }	
	    }
	}
}

