// page-header
$page-title-color: lighten($body-color, 20%) !default;
$page-header-background: #FFF;
$page-header-height: 10em;


// page-body
$page-readable-width: 77em;
$page-body-background: #fff;

$page-aside-menulist-item-height: 2.2em;
$page-aside-menulist-border-style: 1px solid #ccc;
$page-aside-menulist-background: #f7f7f7;

$page-aside-width: 20%;
$page-aside-width-centered: 25%;

$page-content-background: #fff;
$page-content-width: 78%;
$page-content-width-centered: 73%;
$page-content-gutter-width: 1%;

