@import "foundation-vars";
@import "../../mixins/_clearfix.scss";



@mixin page-body {
    .page-aside-bg {
        // clear: left; // jch! - add this back
    }

	.page-body {
		position: relative;
		@include clearfix;
	}

    .page-aside {
         display: none;
    }

    @include page-aside;

	.page-content {
      	position: relative;
        padding: 2em $page-content-gutter-width;
		float: left;
		width: 98%;
		
		/*&:first-child { // if there is no aside
			width: 98%;
		}*/
	}

	.centered {
		.page-header-content, .page-body {
			max-width: $page-readable-width;
			margin-left: auto;
			margin-right: auto;
		}
		.page-content {
            width: $page-content-width-centered;
		    *width: $page-content-width-centered - (.5 / 100 * 100 * 1%);
		}
		.page-content:first-child { // if there is no aside
			width: 98%;
		}
	}

    @media (max-width: $page-readable-width) {
        .page-aside {
            width: $page-aside-width-centered;
		}		
		.page-content {
            width: $page-content-width-centered;
		    *width: $page-content-width-centered - (.5 / 100 * 100 * 1%);
		}
    }

	.hasaside {       
        .page-aside-bg {
            float:left;
            width:100%;
             // overflow:hidden; this was causing the uic menu to be chopped
            position:relative;
        }
        .page-body {
            float:left;
            width:100%;
            background: $page-aside-background;
            position:relative;
            right: $page-aside-left;
        }
        .page-aside {
            display: block;
            float:left;
            width: $page-aside-width;
            position:relative;
            left: $page-aside-left;
            overflow:hidden;
            min-height: 25em;
        }
        .page-content {
            float:left;
            width: $page-aside-left - ($page-content-gutter-width*2);        
            left: $page-aside-left;
            // overflow:hidden; this was causing the uic menu to be chopped
        }
	}

    .page-content-edit {
        .row {
            outline: 1px dashed #CCC;
        }   
    }
}

@mixin page-aside {

    .page-aside {  
        padding-top: 2em;
        padding-bottom: 2em;
              
       .menulist {
           margin-left: 0em;
           //max-width: 18em;
           width: 100%;
           //float: right;
           clear: both;

           h2, h3 {
               padding: .4em .8em !important;
               //font-weight: bold;
           }

		   & > ul {

			    & > li {
				    & > span,
				    & > a {
                        padding: .3em 1em;			    			
					    line-height: $page-aside-menulist-item-height;
                        color: #555;                      
				    }
			    }
		   }
           h2, h3 {
               padding: 0 .5em;
           }
           .selected {
               background: $page-aside-menulist-selected-background;
           }
           a:hover {
               background: $page-aside-menulist-selected-background;
           }
	    }
	}
}

@mixin page-body-theme {

}

