@import "foundation-vars";
@import "$color";


@mixin page-header {
    .has-titlebg {
        .page-header {
            padding-top: $frame-logo-height;
            height: $page-header-height*3;
            line-height: $page-header-height*3;
            .page-header-overlay {
                display: block;
            }
        }
    }

    .has-notitle {
        .page-header {
            display: none;
            //height: 1px;
            //position:relative;
            //top: -3px; // exposes a shawdow, just playing here; could do this better if long term
        }
    }


	.page-header {
        padding-top: $frame-logo-height;
		height: $page-header-height*2;		
		line-height: $page-header-height*2; // - (.1 / 100);
        overflow: hidden;
        
        // for the background image
        background-repeat: no-repeat;
		background-size: cover;

        .page-header-overlay {
            display: none; // for title background images
        }

		h1 {
			margin: 0 .5em;
            font-size: 2em;            
			font-weight: normal;
			a {
				text-decoration: none;
			}
		}
		fieldset {
			margin: 0 1em;
		}
	}

	.page-nav {
		display: block;
		float: left;
		margin-left: 1em;
		.ul {			
			@include no-bullets;			
			@include clearfix;
		}
		li {
			display: block;
			float: left;
			a {
				font-size: 1.2em;
				margin: 0 .5em;
				text-decoration: none;				
			}
			&.selected a {
				font-weight: bold;
			}
		}
	}
}

@mixin page-header-theme {
	.page-header {
        position: relative;
       // top: $frame-logo-height;
        @include bg-color-bar;
	}

    .page-header-overlay {
		background: #000;
		opacity: .23;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

