@import "../../mixins/text-shadow";
@import "../../mixins/clearfix";
@import "../../mixins/no-bullets";
@import "_$vars.scss";
@import "page-header";
@import "page-body";

// Markup
//  <div class="page"> <!-- can have .centered, .hasaside, or .noaside -->
//	<header class="page-header">
//      <div class="page-header-overlay"></div>
//      <div class="page-header-content"></div>      
// </header>
//  <div class="page-aside-bg">
//	<div class="page-body">
//		<aside class="page-aside"><!-- page aside content --></aside>
//		<div class="page-content"><!-- page content --></div>
//	</div>
//  </div>
// </div>

@mixin page {
	.page {
		@include clearfix;
	}
	@include page-header;
	@include page-body;
	//@include page-debug;
}

@mixin page-theme {
	@include page-header-theme;
    @include page-body-theme;
}


@mixin page-debug {
	.page-header {
		background: #EFEFEF;	
	}
	.page-aside {
		background: #CCC;
	}
	.page-content {
		background: #DDD;
	}
	.page-body {
		background: #999;
	}
}