@import "../../mixins/no-bullets";
@import "../../mixins/clearfix";
@import "../../mixins/transition";
@import "../../mixins/border-radius";
@import "../../core/src/foundation-vars";

$selectlist-selected-color: #FFF !default;
$selectlist-selected-background-color: $link-color !default;



@mixin selectlist {
	.selectlist {
		clear: both;
		& > ul {
			@include clearfix;
			@include no-bullets;			

			.height-medium {
				height: 7em;
			}
			.height-small {
				height: 4em;
			}

			& > li {
				float: left;				
				display: block;
				color: $link-color;
				text-decoration: none;
				text-shadow: 0 1px 0 rgba(255,255,255,.5);
				//padding: .5em 1em;
				//margin-right: 2px;
				margin: .2em;
				border: 1px solid #ddd;
				overflow: hidden;


				@include border-radius(4px);
				@include transition(all .2s ease-in-out);
				
				&.selected, &:hover, &:focus {					
					cursor: default;
					outline: none;
				}
				
				h1, h2, h3, h4 {					
					font-size: 1.2em;
					font-weight: bold;
					padding: 0;
					margin: 0;
					white-space: nowrap;
					padding: .5em;
				}
				
				p, span, div {					
					padding: .5em;
					padding-top: 0em;
				}

				p {
					white-space: nowrap;
				}									
			}			
		}		
	}
}


@mixin selectlist-theme {
	.selectlist {
		& > ul > li.selected {
			color: $selectlist-selected-color;
			background-color: $selectlist-selected-background-color;
			h1, h2, h3 {
				color: $selectlist-selected-color !important;
			}
		}
	}
}