@import "../../mixins/border-radius";
@import "../../mixins/clearfix";
@import "../../mixins/box-shadow";
@import "../../mixins/transition";
@import "../../core/src/foundation";
@import "../../core/cols";
@import "../../core/src/media";

$tile-caption-color: #555;


@mixin tiles {
	.tiles {
		margin-left: $col-gutter-width * -1;
		list-style: none;
		@include clearfix;

		& > li {
			//		float: left;
			//		margin-bottom: $baseLineHeight;
			//		margin-left: $gridGutterWidth;
		}

		.tile {
			box-sizing: border-box;
		}
	}

	.tile {

		display: block;
		overflow: hidden;
		border: 1px solid transparent; //#ddd;
		// @include box-shadow(0 1px 3px rgba(0,0,0,.055));
		
		@include transition(all .2s ease-in-out);

		.media {
			text-align: center;
			display: block;
			padding: 3px;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

		.caption {
			padding: .6em;
			color: $tile-caption-color;
		}

		h2, h3 {
			font-size: 1.6em;
			margin: .1em 0;
		}

		&.hover {
			&:hover,
			&:focus {
				//border-color: $link-color;
				border: 1px solid $link-color;
				@include border-radius;
				@include box-shadow(0 1px 4px rgba(0,105,214,.25));
			}
		}
	}
	.tile-wide {
		padding: 0;
		@include clearfix;
		
		.media,
		.caption {
			float:left;
		}
		
		.media {
			text-align: right;			
			width: 20%;
			vertical-align: middle;
			padding: 0;
		}
		
		.caption {
			padding: 0;
			padding: 0 1.0%;
			width: 78%;
		}
		
		@include ontablet {
			.media { width: 40%; }
			.caption { width: 58%; }
		}
		@include onphone {
			padding: .3em;
			.media { width: 100%; }
			.caption { width: 100%; }
		}
	}

//	.max-50 { max-height: 50px; max-width: 50px; }
//	.max-100 { max-height: 100px; max-width: 100px; }
//	.max-250 { max-height: 250px; max-width: 250px; }
//	.max-500 { max-height: 500px; max-width: 500px; }
//	.max-750 { max-height: 750px; max-width: 750px; }
//	.max-1000 { max-height: 1000px; max-width: 1000px; }
}