@import "../../mixins/border-radius";
@import "../../mixins/clearfix";
@import "../../mixins/box-shadow";
@import "../../mixins/transition";
@import "../../mixins/opacity";
@import "../../core/src/foundation";
@import "../../core/src/cols";
@import "../../core/src/media";

$tile-caption-color: #777;


@mixin tiles {
	.tiles {
		margin-left: $col-gutter-width * -1;
		list-style: none;
		@include clearfix;

		.tile {
			box-sizing: border-box;
		}
	}

	@include tile;
	@include tile-wide;
}

@mixin tile {
	.tile {
		display: block;
        word-wrap:break-word;
		border: 1px solid transparent;
		margin-bottom: 1em;
		//border-color: #DDD;
		//@include box-shadow(0 1px 3px rgba(0,0,0,.055));
		
		@include transition(all .2s ease-in-out);

		&.selected {
			overflow: visible;
		}

		.media {
			text-align: center;
			display: block;
			padding: 2px;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;

			//height: 10em;
			img { max-height: 10em;	}
		}

		.caption {
			padding: .3em;
			color: $tile-caption-color;
			
			//height: 7em;
		}

		h2, h3 {
			font-size: 1.4em;
			margin: .1em 0;
		}

		
	}

	.hover {
		.tile, &.tile {
			&:hover,
			&:focus {
				border-color: $link-color;
				@include border-radius;
				@include box-shadow(0 1px 4px rgba(0,105,214,.25));
			}
		}
	}
}

@mixin tile-wide {
	.tile-wide {
		padding: 0;
		@include clearfix;
		
		.media,
		.caption {
			float:left;
		}
		
		.media {
			text-align: right;
			width: 20%;
			padding: 0;
		}
		
		.caption {
			padding: 0 1%;
			width: 78%;
		}


		&.row5 { img { max-height: 5em; } .media { line-height: 5em; } }
		&.row4 { img { max-height: 10em; } .media { line-height: 10em; } }
		&.row3 { img { max-height: 15em; } .media { line-height: 15em; } }



		@include ontablet {
			.media { width: 40%; }
			.caption { width: 58%; }
		}
		@include onphone {
			padding: .3em;
			.media { width: 100%; }
			.caption { width: 100%; }
		}
	}
}