@import "../../mixins/border-radius";
@import "../../mixins/user-select";
@import "../../mixins/_clearfix.scss";
@import "_$z-depth.scss";
@import "_$color.scss";
@import "_fonticons.scss";
@import "_$type.scss";

// .toolbar
// .toolbar .float-left, .toolbar .float-right
// .toolbar.large
// .iconbutton - is set to medium 24px
// .type-title - use for toolbar title
// .type-subhead1 - use for other text

@mixin toolbar {

    .toolbar {
        line-height: 2em;
        height: 2em;
        padding: 0 0.3125em;
        @include clearfix;
        @include user-select-none;

        .float-left, .float-right {
            &:after {
                content: "";
                display: inline-block;
            }
        }        

         font-size: 1.5em;
        .iconbutton {          
            @include fonticons-size("medium");
        }

       
        .type-title, .type-subhead1 {
            float: left;
        }

        .type-title {
            font-family: $type-font-family;
            font-size: 1em;
            line-height: 2em;
        }

        .type-subhead1 {
               font-size: 0.625em;
                line-height: 3.235em;
                padding: 0 0.5em;
        }

         &.large {
            font-size: 2em;

            .type-title {
                font-size: 0.75em;
                line-height: 2.7em;
            }

            .type-subhead1 {
                // keep smaller for now
            }
        }
    }
}



@mixin toolbar-theme {    
   .toolbar {

   }
}