@import "../../mixins/no-bullets";
@import "../../mixins/text-shadow";
//@import "../../mixins/clearfix";

@mixin usermenu {
	
	.usermenu {
		min-width: 18em;
		// @include clearfix;

		.menulist {
            margin-bottom: 0 !important;
		}
        hr {
            margin: 1em 0;
        }
		ul {
			padding: 1em 1em 0 1em;
			padding-right: 2em;
			margin: 0;
			@include no-bullets;
			font-size: 1.2em;
			white-space: nowrap;
		}

		button, .button {
			width: 100%;
            display: block;
            box-sizing:border-box;
		}
	}
}

@mixin usermenu-theme {
}