@import "../../mixins/no-bullets";
@import "../../mixins/text-shadow";
@import "../../mixins/clearfix";
@import "_$z-depth.scss";
@import "_$color.scss";


$appmenu-width: 25em;


@mixin usermenu {
	
	.appmenu {
		//min-width: 18em;
        width: $appmenu-width;
        position: fixed;
        left: $appmenu-width * -1;
        top: 0;
        bottom: 0;
        transition: left 1s linear;
        overflow: auto;

        h2 {
            font-size: .667em;
            padding-left: 3.5em;
        }

        hr {
            margin: 0 0 3px 0;
        }

        // hide scrollbar
        @include appmenu-hide-scrollbar;
        @include z-depth-topmenu;

        &.open {
            left: 0;
        }

        .toolbar {
           height: 4.5em;
           //background-color: $color-primary;
           //@include color-container($theme-ondark-bg)
        }

        .icon-close {
            position: relative;
            top: .25em;
            padding: 0 .25em;
        }   
    }

    .appmenu-logout {
        margin: 1em;
    }

    .appmenu {
        .toolbar {
            //border-bottom: 1px solid $color-light-divider;
        }
    }

    .appmenu-parentlist {
        font-weight: bold;
        li {
            border-bottom: 1px solid;
            &.selected span:hover {
                background-color: transparent;
            }
        }
    }

    .appmenu-childlist {
        .loud {
            font-weight: bold;
        }
    }
}

@mixin appmenu-hide-scrollbar {
    &::-webkit-scrollbar { width: 0 !important }
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
/*
	.icon-close
appmenu-user
appmenu-logout
appmenu-parentlist
appmenu-childlist




    	- appmenu-overlay
	- appmenu - test z-depth (test also on app bar)
			fixed with max/min width
	- appmenu-header
	- appmenu-signout-link
	- appmenu - menulist
			parent items need to have a border
			the current parent should not have a hover effect
				clicking it does nothing
				(could try styling the current parent different?)
			All other siblings have no border
			The selected item is bold primary color

*/

@mixin usermenu-theme {
    // @include color;
    .appmenu {
        @include bg-color-content;
    }
}