@import "../../site/core/theme";


$color-theme: "theme";
$color-primary: #0097a7;
$color-primary-dark: #006064;
$color-primary-light: #B2EBF2;
$color-accent: #FF3D00;
$color-accent-dark: #DD2C00;
$color-accent-light: #FF6E40;

$frame-logo-name:      "logo-sig.png";
$frame-footer-image:    "footer-hog.png";


/*$body - color: rgba(0, 0, 0, 0.870588); //#585a5b;
$framenav - background-color: #FFF;
$page- header-background: $color-primary;
$page- title-color: #FFF;
$framenav- color-hover: #000;
$framenav- border-selected: $color-accent-dark;
$framenav- color-selected: $color-accent-dark;*/




@mixin bjroyster-theme {
    @include theme;

    .page-header {
        background-color: $color-primary;
        @include color-container("dark");
        @include color-links($color-dark);
    }

    #frame-footer-image {
        background: url(unquote("images/" + $frame-footer-image)) no-repeat left center !important;
        height: $frame-footer-height - 2em;
        @include opacity(.3);
    }

    /*#frame-logo {
        position: relative;
        top:.5em;
    }*/
}
