@import "bjroyster-theme";


$frame-logo-name:      "logo-sig.png";
//$frame-logo-width:		150px;
//$frame-logo-height:		75px;
$framenav-color-hover: #000;

$framenav-color-selected: #fff;
$framenav-background-color-selected: $theme-color-blue;

$frame-footer-image:    "footer-hog.png" !default;

$page-header-border-color: #3A5E69;


@include bjroyster-theme;
