<section class="page">
	<div class="page-header">
		<h1 class="float-left"><span  data-bind="displayName"></span></h1>
		<div class="float-right">
			<button type="button" data-rel="cancel">Cancel</button>		
			<button class="loud">Save</button>
		</div>
	</div>
	<div class="page-body"> 
		<div class="page-content">
			<form>
				<span class="alert-error"></span>
				<fieldset class="col1">
					<legend></legend>
					<div class="form-field">
						<label>Username</label>
						<strong data-bind="userName" class="text-large"></strong>
					</div>
					<div class="form-field">
						<label for="useradmin-name">Name</label>
						<input type="text" name="displayName" id="useradmin-name" autofocus/>
						<span data-validation-for="displayName"></span>
					</div>
					<div class="form-field">
						<label for="useradmin-email">Email</label>
						<input type="text" name="email" id="useradmin-email"/>
						<span data-validation-for="email"></span>
					</div>
					<div class="form-field">
						<input type="checkbox" name="enabled" id="useradmin-enabled"/>
						<label for="useradmin-enabled">Enabled</label>
					</div>
				</fieldset>
				<fieldset>
					<legend>Authorization</legend>
					<div data-templ="useradmin-roles"></div>
				</fieldset>
				<fieldset>
					<legend>Delete user</legend>
					<p>
						Deleting the user will also delete all user settings, pages, files, etc.
						<button type="button" id="useradmin-delete" class="margin-left">Delete</button>
					</p>
				</fieldset>
				<div class="form-controls">
					<button type="button" data-rel="cancel">Cancel</button>	
					<button class="loud">Save</button>
				</div>
			</form>
		</div>
	</div>
</section>