<li class="col"> 
	<h3><span data-bind="userName"></span> <span data-bind="disabledText"></span></h3>
	<div data-bind="displayName"></div>
	<div data-bind="displayEmail"></div>
	<div id="useradmin-lastActivity">Last seen on <span data-bind="lastActivity"></span></div>
	<div>
		<a data-bind-href="editLink">edit</a>
	</div>
</li>