<li class="tile col5 hover">
	<div class="caption"> 
		<h3><span data-bind="displayName"></span> <span data-bind="disabledText"></span></h3>
		<div data-bind="userName"></div>
		<div data-bind="displayEmail"></div>
		<div id="useradmin-lastActivity">Last seen on <span data-bind="lastActivity"></span></div>
		<div>
			<a data-bind-href="editLink">edit</a>
		</div>
	</div>
</li>