<li class="tile col5 hover">
	<div class="caption"> 
		<h3><span name="displayName"></span> <span name="disabledText"></span></h3>
		<div name="userName"></div>
		<div name="displayEmail"></div>
		<div id="useradmin-lastActivity">Last seen on <span name="lastActivity"></span></div>
		<div>
			<a data-bind="href: editLink">edit</a>
		</div>
	</div>
</li>