<section class="page">
	<div class="page-header">
		<h1 class="float-left">User Administration</h1>
		<fieldset class="float-right">
			<button name="addUser">Add a user</button>
		</fieldset>
	</div>
	<div class="page-body">
		<div class="page-content">
			<div class="colgrid">
				<ul id="useradmin-list"></ul>
			</div>
		</div>
	</div>
</section>