<div class="page-header">
	<h1 class="float-left">User Administration</h1>
	<button name="addUser" class="float-right">Add a user</button>
</div>
<div class="page-body">
	<div class="page-content">
		<div class="colgrid">
			<ul id="useradmin-list"></ul>
		</div>
	</div>
</div>