<div>
	<input type="checkbox" data-type="multicheckbox" name="roles" id="useradmin-role-{{key}}" value="{{key}}" {{disabled}}/>
	<label for="useradmin-role-{{key}}">
		{{name}}
		<span class="quiet pad-left text-small">{{description}}</span>
	</label>
</div>