<div>
	<input type="checkbox" data-type="multicheckbox" name="roles" id="useradmin-role-{{key}}" value="{{key}}" {{disabled}}/>
	<label for="useradmin-role-{{key}}">
		{{name}}
		<small class="quiet pad-left">{{description}}</small>
	</label>
</div>