<div class="pad-bottom clearfix" data-model="pagePreviewModel" data-templatefor="pagePreviewView">
	<div>
		<img data-bind="class: thumbClass, src: thumbSrc" data-event="changeThumb"/>
		<span id="settings-previewtext" data-bind="text: previewText"></span>
	</div>
	<div class="clear">
		<input type="button"
			   class="{{changeThumbButtonClass}}"
			   id="settings-changethumb" name="changeThumbButtonText" value="Change image" data-event="changeThumb" />
		<input type="button"
            data-bind="class: removeThumbButtonClass"
			id="settings-removethumb" value="Remove image" data-event="removeThumb" />
	</div>
</div>

@*<div>
	<div title="Automatically update the image and preview text.">
		<input id="settings-autopreview" type="checkbox" name="autoPreview">
		<label for="settings-autopreview">Auto preview</label>
	</div>
</div>*@