<section class="page" data-templatefor="pageSettingsView">
	<div class="page-header">
		<h1 class="float-left">
			<span data-bind="value:title" data-type="contenteditable" id="page-title" contenteditable></span>
		</h1>
		<div class="float-left quiet pad-left pad-top">(click title to rename)</div>
	</div>
	<div class="page-body">
		<div class="page-content">
			@Html.Partial("~/Views/PageSettings/_PagePreview.cshtml")
			<fieldset id="settings-visibility" class="clear">
				<legend>Visibility</legend>
				<div>
					<div class="form-field">
						<input type="checkbox" name="published" id="visibility-published">
						<label for="visibility-published">Published</label>
					</div>
					<div data-bind="publishedMessage"></div>
				</div>
			</fieldset>
			<fieldset id="settings-layout" data-model="template">
				<legend>Layout</legend>
				<div class="form-field">
					<input type="radio" id="page-stretch" name="layout" value="stretch" />
					<label for="page-stretch">Stretch</label>
				
					<input type="radio" id="page-leftaligned" name="layout" value="leftaligned" class="margin-left"/>
					<label for="page-leftaligned">Left Aligned</label>
				
					<input type="radio" id="page-centered" name="layout" value="centered" class="margin-left"/>
					<label for="page-centered">Centered</label>
				</div>
				<div class="form-field margin-top">
					<input type="checkbox" id="page-showSidebar" name="showSidebar" />
					<label for="page-showSidebar">Show the sidebar</label>
				</div>
			</fieldset>
			<fieldset>
				<legend>Delete</legend>
				<button data-event="deletePage">Delete this page</button>
				<div class="quiet">Deleting this page will not remove any uploaded content associated with this page.</div>
			</fieldset>
		</div>
	</div>
</section>
