<fieldset class="pad-bottom clearfix" data-model="pagePreviewModel" data-view="pagePreviewView">
	<legend>Page Preview</legend>
	<div class="form-inline clear pad-right">
		<div title="Automatically update the preview image." class="col2">
			<input id="settings-autoPreviewImage" type="checkbox" name="autoPreviewImage">
			<label for="settings-autoPreviewImage">Auto preview image</label>
		</div>
		<div title="Automatically update the preview text." class="col2">
			<input id="settings-autoPreviewText" type="checkbox" name="autoPreviewText">
			<label for="settings-autoPreviewText">Auto preview text</label>
		</div>
	</div>
	<div class="pad-right">
		<div class="col2" style="min-height:1em;">
			<img data-bind="class: thumbClass, src: thumbSrc" data-event="changeThumb" />
		</div>
		<div id="settings-previewtext"
			name="previewText"
			data-bind="contenteditable: canEditText"
			data-type="contenteditable"
			class="col2">
		</div>			
	</div>
	<div class="clear" data-bind="showif:canEditImage">
		<input type="button"
		       id="settings-changethumb" name="changeThumbButtonText" value="Change image" data-event="changeThumb" />
		<input type="button"
		       data-bind="showif: hasThumb"
		       id="settings-removethumb" value="Remove image" data-event="removeThumb" />
	</div>
</fieldset>

