html, body {
  background-color: white;
  color: #333333;
  font-size: 14px;
  font-family: "Segoe UI", "Helvetica Neue", Arial;
  line-height: 1.4286; }

a, .link {
  text-decoration: underline;
  color: #336699;
  cursor: pointer; }
  a:visited, a:focus, .link:visited, .link:focus {
    color: #336699; }
  a:hover, .link:hover {
    color: #0099ff; }
  a:active, .link:active {
    color: red; }

.link {
  background-color: transparent;
  padding: 0; }
  .link:hover {
    background-color: transparent; }
  .link:active {
    background-color: transparent;
    color: red !important; }

p {
  margin-bottom: 10.0002px; }

h1, h2, h3, h4, h5, h6 {
  margin: 10.0002px 0; }

h1 {
  color: #666666; }

h2 {
  color: #336699; }

hgroup h1 + h2 {
  color: #333333; }

.quiet {
  color: #999999; }

.loud {
  color: #2f5bb7; }

.attn {
  color: #d14836; }

hr {
  margin: 20.0004px 0;
  border: 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid white;
  clear: both; }

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #333333; }

ul, ol {
  margin-bottom: 10.0002px; }

dl {
  margin-bottom: 20.0004px; }
  dl.list-wide dt {
    width: 11.42em; }
  dl.list-wide dd {
    margin-left: 12.82em; }
  @media (max-width: 30em) {
    dl.list-wide dt {
      float: none;
      display: block;
      text-align: left;
      width: auto; }
    dl.list-wide dd {
      margin-left: auto; } }

dt, dd {
  line-height: 1.4286;
  margin-bottom: 10.0002px; }

dd {
  margin-left: 10.0002px; }

#frame-header {
  color: #eeeeee;
  background: #345276; }
  #frame-header a, #frame-header a:visited {
    color: #eeeeee; }

#frame-nav ul li:hover {
  background-color: white; }
  #frame-nav ul li:hover a {
    color: #333333; }
#frame-nav ul li.selected {
  background-color: white; }
  #frame-nav ul li.selected a {
    color: #333333; }

#frame-body ::-webkit-scrollbar-thumb {
  background: #cccccc; }
  #frame-body ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3; }

.page-header h1 {
  color: #666666; }
  .page-header h1 a {
    color: #666666; }

