<div data-templatefor="appMenuView" style="max-width:25em;">
	<div class="clearfix pad">
		<span data-bind="text: currentUser.usersDisplayName" class="float-left"></span>
		<a href="~/User/SignOut" data-event="signOut" class="float-right button flat attn">Sign Out</a>
	</div>
	<div class="menulist">
		<ul>
			<li data-collection="parentItems">
				<span data-bind="text:text" data-event="selectMenu"></span>
			</li>
		</ul>
		<ul>
			<li data-collection="childItems" data-bind="class: className">
				<a data-bind="text:text, href: url" data-event="selectMenuItem"></a>
			</li>
		</ul>
	</div>
</div>