<div data-view="appMenuView" class="appmenu">
	<div class="toolbar">
		<div class="clearfix">
			<i class="iconbutton icon-close" data-event="closeMenu"></i>
			<a href="~/User/SignOut" data-event="signOut" class="appmenu-logout button flat float-right">Sign Out</a>
		</div>
		<div class="clearfix">
			<h2 class="type-subhead2" data-bind="text: currentUser.usersDisplayName"></h2>
		</div>
	</div>
	<hr />
	<div class="menulist">
		<ul class="appmenu-parentlist">
            <template data-collection="parentItems">
			<li>
				<span data-event="selectMenu">
					<strong data-bind="text:text"></strong>
					<span class="float-right icon-next" data-bind="showif:showMenuIcon"></span>
				</span>
			</li>
            </template>
		</ul>
		<h3 data-bind="text: currentMenuText"></h3>
		<ul class="appmenu-childlist">
            <template data-collection="childItems">
			<li data-bind="class: className">
				<a data-bind="href: url" data-event="selectMenuItem" class="clearfix">
					<span class="float-left" data-bind="text:text"></span>
					<span class="float-right icon-next" data-bind="showif:showMenuIcon"></span>
				</a>
			</li>
            </template>
		</ul>
	</div>
</div>