<div data-templatefor="sessionNavView">
	<div data-bind="showif:isAuthenticated">
		<a href="~/user/account" class="icon-menu" role="button" tabindex="0" data-event="click:showMainMenu"></a>
	</div>
	<div data-bind="dontshowif:isAuthenticated">
		<a href="~/user/signin" data-bind="showif: showSignInLink" class="icon-menu" role="button" tabindex="0" data-event="click:showSignInDialog"></a>
	</div>
</div>