<div data-view="sessionNavView" id="frame-session">
	<div data-bind="showif:isAuthenticated">
		<a href="~/user/account" data-event="click:showMainMenu">
			<span class="iconbutton icon-menu" role="button" tabindex="0"></span>
		</a>
	</div>
	<div data-bind="dontshowif:isAuthenticated">
		<a href="~/user/signin" data-bind="showif: dispalySignInLink">
			<span class="iconbutton icon-menu" role="button" tabindex="0" data-event="click:showSignInDialog"></span>
		</a>
	</div>
</div>