<form>
	<div class="form-field">
		<label for="pageeditor-component">What do you want to add?</label>
		<select id="pageeditor-component" name="pageComponentKey" class="stretch">
		</select>
		<div data-bind="pageComponentDescription"></div>
	</div>
	<div class="form-controls">
		<input type="submit" value="Save" class="loud">
		<input type="button" value="Cancel" data-rel="back">		
	</div>
</form>