

<div data-rel="image" data-templatefor="imageView" class="pad-bottom">

	<img data-bind="src: imgSrc,showif:fileExists" />

	<div data-rel="edit">
		<div data-bind="showif: fileExists">
			<label>
				<input type="radio" name="res" value="low">
				<span>Low Resolution</span>
			</label>
			<label>
				<input type="radio" name="res" value="high">
				<span>High Resolution</span>
			</label>
		</div>
		<div class="pad">
			<button data-event="openFileSelector" class="button">Select an image</button>
		</div>
	</div>
</div>