
<div class="pad" data-templatefor="linksView">
   
    <div data-bind="showif: isEmpty">
        There are no links to display.    
    </div>
    
    <!-- collection: sections -->
    <div>
        <div class="menulist" data-collection="sections">
            <h2 data-bind="showif: hasTitle, text: title"></h2>
            <ul>

                <!-- collection: links -->
                <li data-collection="links" data-bind="class: itemClassName">
                    <a href="~/id/{{pageID}}/{{text}}">{{text}}</a>
                </li>
                <!-- -->

            </ul>
        </div></div>
    <!-- -->

</div>


<div class="pad" data-templatefor="linksNewView">
    <form data-event="submit:add">
        <fieldset>
            <legend>Add existing links</legend>
            <div class="form-field">
                <select id="navlinks-select" data-bind="value: navLinksID" style="width:auto;">
               
                    <!-- collection: navLinks -->
                    <option data-collection="navLinks" data-bind="value: id, text: name"></option>
                    <!-- -->
            
                </select>
            </div>
            <div class="form-controls">
                <button class="loud" data-event="add">Add</button>
            </div>
        </fieldset>
    </form>
    <form data-event="submit:create">
        <div class="alert-error"></div>
        <fieldset>
            <legend>Create new links</legend>
            <div class="form-field">
                <label>Name</label>
                <input type="text" id="navlinks-name" data-bind="value: name" />
                <span data-validation-for="name"></span>
            </div>
            <div class="form-controls">
                <button class="loud" data-event="create">Create</button>
            </div>
        </fieldset>
    </form>
</div>


<div class="pad" data-templatefor="linksEditView">
    
    <h2 class="quiet" data-bind="text: name"></h2>
    <hr />
    
    <!-- collection: sections -->
    <div>
        <div class="menulist" data-collection="sections" data-itemview="linksSectionView">
            <input type="text" name="title">
            <ul>

                <!-- collection: links -->
                <li data-collection="links" data-itemview="linksSectionLinksView">
                    <div class="clearfix clear pad">
                        <span class="icon-reorder float-left margin-right" title="Re-order this link"></span>
                        <span data-bind="text: text" class="float-left"></span>
                        <a class="icon-remove float-right" title="Remove this link" data-event="removeLink"></a>
                    </div>
                </li>
                <!-- -->

            </ul>
            <button data-event="addLink" class="icon-plus" title="Add a link"></button>
            <button data-event="removeSection" class="icon-remove" title="Remove this section of links"></button>
            <hr />
        </div>
    </div>
    <!-- -->
    
    
    <button data-event="addSection">Add Section</button>
   
</div>