<div data-templatefor="pageUICMenuView" class="uic-menu">
    <span class="icon-move" data-bind="showif: showMove"></span>
    <span class="icon-columns" data-event="changeLayout" data-bind="showif: showChangeLayout"></span>
    <span class="icon-remove" data-event="removeComponent" data-bind="showif: showRemove"></span>
    <span class="icon-plus" data-event="changeHeader" data-bind="showif: showChangeHeader"></span>
</div>