
<div>
	<div>
		<img data-bind-class="thumbClass" data-bind-src="thumbSrc" />
		<span id="settings-previewtext" data-bind="previewText"></span>
	</div>
	<div class="clear">
		<input type="button"
			   data-bind-class="changeThumbButtonClass"
			   id="settings-changethumb" name="changeThumbButtonText" value="Change image" />
		<input type="button"
			data-bind-class="removeThumbButtonClass"
			id="settings-removethumb" value="Remove image" />
	</div>
</div>

@*<div>
	<div title="Automatically update the image and preview text.">
		<input id="settings-autopreview" type="checkbox" name="autoPreview">
		<label for="settings-autopreview">Auto preview</label>
	</div>
</div>*@