<div data-templatefor="titleView" class="clearfix" style="z-index: 100;">
	<h1 data-bind="text:displayTitle" class="float-left"></h1>
	<form style="position: absolute; right: 1em; bottom: .5em; line-height: 1.2em;">
		<div>
			<label data-event="click: enableTitleBackgroundClicked">
				<input type="checkbox" name="enableTitleBackground"/>
				Show background image
			</label>
		</div>
		<div>
			<label data-event="click: hideTitlebarClicked">
				<input type="checkbox" name="hideTitlebar" />
				Hide title bar
			</label>
		</div>
	</form>
</div>