<div class="page-header readable centered">
	<h1 class="float-left"><span  data-bind="name"></span></h1>
	<div class="float-right">
		<button type="button" data-rel="cancel">Cancel</button>		
		<button class="loud">Save</button>
	</div>
</div>
<div class="page-body readable centered"> 
	<div class="page-content">
		<form class="display-inline-block">
			<span class="validation-summary"></span>
			<fieldset class="col1">
				asdf
			</fieldset>
			<fieldset>
				<legend>Delete file</legend>
				<p>
					Permenantly delete this file.
					<button type="button" id="fileadmin-delete" class="margin-left">Delete</button>
				</p>
			</fieldset>
			<div class="controls">
				<button type="button" data-rel="cancel">Cancel</button>	
				<button class="loud">Save</button>
			</div>
		</form>
	</div>
</div>