<div class="page centered">
	<div class="page-header">
		<h1><span data-bind="name" contenteditable data-type="contenteditable"></span></h1>
		<div class="float-left quiet pad-left pad-top">(click title to rename)</div>
		<fieldset class="float-right">
			<button type="button" class="loud" data-rel="cancel">Done</button>
		</fieldset>
	</div>
	<div class="page-body"> 
		<div class="page-content">
			<form>
				<div class="alert-error"  data-validation-for="name"></div>
				<fieldset class="col1">
					<a href="{{href}}" target="_blank">	
						<img src="{{lowResUrl}}"/>
					</a>
					<br/>
					<span  data-bind="name"></span> was uploaded on {{uploaded}}.
				</fieldset>
				<fieldset class="col2">
					<legend>Visibility</legend>
					<div class="form-field">
						<input type="checkbox" name="public" id="editFilePublicity">
						<label for="editFilePublicity">Make this file visible to the public</label>
					</div>
				</fieldset>
				<fieldset class="clear">
					<legend>Delete file</legend>
					<p>
						Permenantly delete this file.
						<button type="button" id="fileadmin-delete" class="margin-left">Delete</button>
					</p>
				</fieldset>
				<div class="form-controls">
					<button type="button" class="loud" data-rel="cancel">Done</button>
				</div>
			</form>
		</div>
	</div>
</div>