<li class="col text-center" title="Visible? {{public}}">
	<a href="{{editLink}}">
		<span style="width:100px;height:100px;">
		
			<img src="{{thumbUrl}}" class="max-100" alt="{{name}}"/>
		</span>
	</a>
	<br>
	<span>{{name}}</span>
	<br>
	<span>Visible? {{public}}</span>
</li>