<li class="tile col5 hover text-center" id="{{id}}">
	<a href="{{editLink}}" class="media">
		<img src="{{thumbUrl}}" alt="{{name}}"/>
	</a>
	<div class="caption">
		<h2 class="nowrap" title="{{name}}">{{name}}</h2>
		<p>
			<span>Visible? {{public}}</span>
		</p>
	</div>
</li>