<section class="page">
	<div class="page-header">
		<h1>Files</h1>
		<fieldset class="float-right">
			<button type="button" name="uploadFiles" class="attn"
				data-bind-text="uploadButtonText"
				data-bind-disabled="uploadButtonDisabled"></button>
		</fieldset>
	</div>
	<div class="page-body">
		<div class="page-content">
			<div id="fileadmin-filelist"></div>
		</div>
	</div>
</section>