<section class="page hasaside" data-templatefor="fileAdminComponentView">
	<div class="page-header">
		<h1>Files</h1>
	</div>
	<div class="page-body">
		<div class="page-aside">
			<div id="fileAdminMenuList"></div>
		</div>
		<div class="page-content">
			<div class="clearfix">
				<div class="form-inline float-left margin-left">
					<form action="~/user/files/search" data-event="submit:submitSearchForm">
						<input type="search" name="search" placeholder="search" size="30" />
						<button>Search</button>
					</form>
				</div>
				<fieldset class="float-right">
					<button class="button attn"
							data-event="clickUpload"
							data-bind="text: uploadButtonText, disabled: uploadButtonDisabled"></button>
				</fieldset>
			</div>
			<div data-bind="id: uploadTargetId, showif: uploadTargetViewVisible"
			     data-templatefor="uploadTargetView">
			</div>
			<div class="clear pad-top float-right" data-model="pagerModel">
				<div data-bind="text: description"></div>
			</div>
			<div data-bind="showif: thereAreNoResults">
				<hr />
				<div class="text-center" data-bind="text: noResultsMsg"></div>
				<hr />
			</div>

			<div id="fileadmin-filelist">

				<!-- -->
				<div class="tiles row" data-collection="albums">
					<h2 class="pad-left">{{name}}</h2>
					<div id="{{uploadId}}"></div>
					<ul data-rel="files">

						<!-- files -->
						<li class="tile col5" data-bind="id: id"
						    data-event="clickTile"
						    data-collection="models">
							<a data-bind="href: editLink" class="media" data-event="clickTile">
								<img data-bind="src: thumbUrl, alt: name" />
							</a>
							<div class="caption">
								<h3 class="" data-bind="title: name, text: name"></h3>
								<p data-bind="text: publicDisplay"></p>
							</div>
						</li>
						<!-- -->

					</ul>
				</div>
				<!-- -->

			</div>

			<div class="float-right">
				@Html.Partial("~/views/appui/_pagerView.cshtml")
			</div>
		</div>
	</div>
</section>