@using Harbor.UI.Extensions
@Html.Partial("~/Views/FileAdmin/_editFileView.cshtml")
<section class="page" data-templatefor="fileAdminView">
    <div class="page-header">
        <h1>Files</h1>
        <fieldset class="float-right">
	        <span class="button attn"
	               data-event="clickUpload"
	               data-bind="text: uploadButtonText, disabled: uploadButtonDisabled" />
        </fieldset>
    </div>
	<div class="page-body">
		<div class="page-aside">
			<div id="fileAdminMenuList"></div>
		</div>
		<div class="page-content">
            
			<div class="clearfix">
				<div class="form-inline float-left margin-left">
					<form action="~/user/files/search" data-event="submit:submitSearchForm">
						<input type="search" name="search" placeholder="search" size="30" />
						<button>Search</button>
					</form>
				</div>
				<div class="float-right" data-model="pagerModel">
					<div data-bind="text: description"></div>
				</div>
			</div>

			<div data-bind="id: uploadTargetId, showif: uploadTargetViewVisible"
			     data-templatefor="uploadTargetView">
			</div>
			
			<div id="fileadmin-filelist">

				<!-- -->
				<div class="tiles selectable" data-collection="albums">
					<h2 class="pad-left">{{name}}</h2>
					<div id="{{uploadId}}"></div>
					<ul data-rel="files">

						<!-- files -->
						<li class="tile col5 hover text-center" data-bind="id: id"
						    data-event="clickTile"
						    data-collection="models">
							<a data-bind="href: editLink" class="media">
								<img data-bind="src: thumbUrl, alt: name" />
							</a>
							<div class="caption">
								<h2 class="nowrap" data-bind="title: name, text: name"></h2>
								<p data-bind="text: publicDisplay"></p>
							</div>
						</li>
						<!-- -->

					</ul>
				</div>
				<!-- -->
				
			</div>

			<div class="float-right">
				@Html.Partial("~/views/appui/_pagerView.cshtml")
			</div>
		</div>
	</div>
</section>