@using Harbor.UI.Extensions
@Html.Partial("~/Views/FileAdmin/_editFileView.cshtml")
<section class="page" data-templatefor="fileAdminView">
    <div class="page-header">
        <h1>Files</h1>
        <fieldset class="float-right">
            <button type="button" name="uploadFiles" class="attn"
                    data-event="clickUpload"
                    data-bind="text: uploadButtonText, disabled: uploadButtonDisabled"></button>
        </fieldset>
    </div>
    <div class="page-body">
        <div class="page-content">
            
            <div data-bind="id: uploadTargetId, showif: uploadTargetViewVisible"
               data-templatefor="uploadTargetView">
            </div>

            <div id="fileadmin-filelist">

                <!-- -->
                <div class="tiles selectable" data-collection="albums">
                   <h2 class="pad-left">{{name}}</h2>
                    <div id="{{uploadId}}"></div>
                    <ul data-rel="files">

                        <!-- files -->
                        <li class="tile col5 hover text-center" data-bind="id: id"
                            data-collection="models">
                            <a href="{{editLink}}" class="media">
                                <img src="{{thumbUrl}}" alt="{{name}}" />
                            </a>
                            <div class="caption">
                                <h2 class="nowrap" title="{{name}}">{{name}}</h2>
                                <p>
                                    <span>Visible? {{public}}</span>
                                </p>
                            </div>
                        </li>
                        <!-- -->

                    </ul>
                </div>
                <!-- -->

            </div>
        </div>
    </div>
</section>