<div data-templatefor="linksView">

	<!-- collection: sections -->
	<div>
		<div class="menulist" data-collection="sections" data-itemview="linksSectionView">
			<div class="clearfix pad">
				<span class="icon-reorder float-left margin-right" data-rel="sectionSort" title="Re-order this section"></span>
				<input type="text" class="float-left" name="title">
				<a class="icon-remove float-right" title="Remove this section of links" data-event="removeSection"></a>
			</div>
			<ul>

				<!-- collection: links -->
				<li data-collection="links" data-itemview="linksSectionLinksView" data-bind="id: cid">
					<div class="clearfix clear pad">
						<span class="icon-reorder float-left margin-right" title="Re-order this link"></span>
						<span data-bind="text: text" class="float-left"></span>
						<a class="icon-remove float-right" title="Remove this link" data-event="removeLink"></a>
					</div>
				</li>
				<!-- -->

			</ul>
			<button data-event="addLink" class="icon-plus" title="Add a link"></button>
			<hr />
		</div>
	</div>
	<!-- -->

	<button data-event="addSection">Add section</button>

</div>