
<div class="pad" data-templatefor="linksView">
   
    <div data-bind="showif: isEmpty">
        There are no links to display.    
    </div>
    
    <!-- collection: sections -->
    <div>
        <div class="menulist" data-collection="sections">
            <h2 data-bind="showif: hasTitle, text: title"></h2>
            <ul>

                <!-- collection: links -->
                <li data-collection="links" data-bind="class: itemClassName">
                    <a href="{{url}}">{{text}}</a>
                </li>
                <!-- -->

            </ul>
        </div></div>
    <!-- -->

</div>
