<div data-templatefor="linksAddLinkView">
	
	<div class="selectlist">
		<ul>
			<li data-event="click:addNewPage" class="col2 height-medium">
				<h2>Link a new page</h2>
				<div>Create a new page.</div>
			</li>
			<li data-event="click:addExistingPage" class="col2 height-medium">
				<h2>Link an existing page</h2>
				<div>
					Adding an existing page will change that page's layout.
				</div>
			</li>
		</ul>

	</div>
</div>