
<div class="pad" data-templatefor="linksNewView">
	<form data-event="submit:add">
		<fieldset>
			<legend>Add existing links</legend>
			<div class="form-field">
				<select id="navlinks-select" data-bind="value: navLinksID" style="width:auto;">

					<!-- collection: navLinks -->
					<option data-collection="navLinks" data-bind="value: id, text: name"></option>
					<!-- -->

				</select>
			</div>
			<div class="form-controls">
				<button class="loud" data-event="add">Add</button>
			</div>
		</fieldset>
	</form>
	<form data-event="submit:create">
		<div class="alert-error"></div>
		<fieldset>
			<legend>Create new links</legend>
			<div class="form-field">
				<label>Name</label>
				<input type="text" id="navlinks-name" data-bind="value: name" />
				<span data-validation-for="name"></span>
			</div>
			<div class="form-controls">
				<button class="loud" data-event="create">Create</button>
			</div>
		</fieldset>
	</form>
</div>
