@import "../mixins/opacity";
@import "../mixins/_border-radius.scss";
@import "../mixins/_inline-block-list.scss";
@import "../core/src/foundation-vars";


@mixin pageloader {
	#pageloader {
		position: fixed;
		bottom: 3em;
		right: 2em;
        line-height: 2em;
		white-space: nowrap;
        
        ul {
            @include inline-block-list;
           
        }

         li {
            text-transform:uppercase;
            cursor: default;
            color: #000;

            @include border-radius(3px);        
			@include opacity(.3);			
           
            &:hover, &.selected, &:focus {
				@include opacity(1);
				outline: none;
                //background: #ddd;
			}
            &.selected {
                color: $color-accent;
            }
        }

		span {
			font-size: .9em;
            font-weight: bold;
			padding: .4em .4em;
            margin-bottom: .2em;
		}
	}
}
@include pageloader;