/*
 * theme is either "light" or "dark"
 * 
 * color-container(theme, primary, accent)
 * color-links(primary, accent)
 * color-selected-item(theme)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-divider(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 * Note: color variables using alpha have an accompanying hex variable
 *       that works well with the specified light or dark backgrounds.
 *       This is to be used as long as IE 8 is supported.
 */
#pageloader {
  position: absolute;
  top: 3em;
  right: 1em;
  line-height: 2em;
  white-space: nowrap; }
  #pageloader ul {
    margin: 0;
    padding: 0;
    border: 0; }
    #pageloader ul:after {
      content: "";
      display: table;
      clear: both; }
    #pageloader ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px;
      display: inline-block;
      white-space: nowrap; }
  #pageloader li {
    text-transform: uppercase;
    cursor: default;
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3; }
    #pageloader li:hover, #pageloader li.selected, #pageloader li:focus {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      outline: none; }
    #pageloader li.selected {
      color: #FF3D00; }
  #pageloader span {
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.4em 0.4em;
    margin-bottom: 0.2em; }
