@import "../mixins/opacity";


@mixin pageloader {
	#pageloader {
		position: absolute;
		top: .5em;
		right: 1.2em;
		white-space: nowrap;
		span {
			font-size: 1.8em;
			margin-left: .6em;
            color: #fff;
			@include opacity(.4);
			&:hover, &.selected, &:focus {
				@include opacity(1);
				outline: none;
			}
		}
	}
}
@include pageloader;