#pageloader {
  position: absolute;
  top: 0.5em;
  right: 1.2em;
  white-space: nowrap; }
  #pageloader span {
    font-size: 1.8em;
    margin-left: 0.6em;
    color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4; }
    #pageloader span:hover, #pageloader span.selected, #pageloader span:focus {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      outline: none; }
