.outline {
  position: relative;
  border: 1px solid #DDD;
  background: #FFF;
  padding: 1em;
  overflow: auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .outline:after {
    content: "";
    display: table;
    clear: both; }
  .outline.nopad {
    padding: 0; }

.outline + .prettyprint {
  margin-top: -0.5em;
  padding-top: 1em !important;
  margin-bottom: 2em; }

.outline + .outline {
  margin-top: 0.5em; }

.example {
  padding-top: 1.8em; }
  .example:after {
    content: "Example";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0; }

.example .popup {
  position: relative;
  float: left;
  width: 260px;
  margin: 20px;
  display: block; }

.swatch {
  padding: 0.5em; }
  .swatch.lead {
    margin-bottom: 0.25em; }
  .swatch.big {
    height: 3em; }
