<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="Moq.AutoMock" version="0.3.2.1" targetFramework="net451" />
  <package id="structuremap" version="3.0.0.108" targetFramework="net451" />
  <package id="structuremap.web" version="3.0.0.108" targetFramework="net451" />
</packages>