@inherits System.Web.Mvc.WebViewPage
@using Harbor.UI.Extensions
<style>
	.menulist.small li a {
		line-height: 1.4;
	}
	.menulist.small li a:hover {
		background-color: #DDD;
	}
</style>
<div class="page-header">
	<h1 style="position:relative;"><span class="icon-cogs" style="font-size:1.5em;position:relative;top:.14em;"></span>
		App<strong class="attn">js</strong> Documentation</h1>
</div>
<div class="page-body">
	<div class="page-aside">
		<div class="col menulist small">
		</div>
	</div>
	<div class="page-content">
		@Html.RenderMarkdown("~/scripts/app/Readme.md")
		@Html.RenderMarkdown("~/scripts/app/appjs/Readme.md")
		@Html.RenderMarkdown("~/scripts/app/appui/Readme.md")
		@Html.RenderMarkdown("~/scripts/bbext/Readme.md")
		@*@Html.Partial("~/scripts/bbext/_bbext.cshtml")*@
	</div>
</div>
