<fieldset>
	<legend>Development</legend>
	<div class="pad-left">
		<a href="@Url.Action("Index", "StyleGuide")">Style Guide</a>
	</div>
	<div class="pad-left">
		<a href="@Url.Action("JavaScriptPackages", "Home")">JavaScript Packages</a>
	</div>
	<div class="pad-left">
		<a href="@Url.Action("JavaScriptTests", "Home")">JavaScript Tests</a>
	</div>
</fieldset>