@model Harbor.UI.Models.InternalServerErrorDto
@using Harbor.UI.Extensions
<div class="errorpage">
	<h1>Server Error</h1>
	<div class="errorpage-content">
		<h2>@Html.JstPropFor(m => m.exception, clientBinding: true)</h2>
		<p class="errorpage-details">
			@Html.JstPropFor(m => m.exceptionType, clientBinding: true)
			@Html.JstPropFor(m => m.stackTrace, clientBinding: true)
		</p>
	</div>
</div>