<div data-view="editPayPalIDView">
    <form>
        <span class="alert-error"></span>
        <fieldset>
            <div class="form-field">
                @*<label for="firstName">First</label>*@
                <input autofocus id="ua-paypal" name="payPalMerchantAccountID" type="text" size="40">
                <span data-validation-for="payPalMerchantAccountID"></span>
            </div>
        </fieldset>
        <div class="form-controls">
            <input type="submit" value="Save" class="loud">
            <input type="button" value="Cancel" data-rel="back">
        </div>
    </form>
</div>