<div data-templatefor="editNameView">
    <form class="form-wide">
        <span class="alert-error"></span>
        <fieldset>
            <div class="form-field">
                <label for="firstName">First</label>
                <input autofocus id="ua-firstName" name="firstName" type="text" size="30" data-bind-event="keyup">
                <span data-validation-for="firstName"></span>
            </div>
            <div class="form-field">
                <label for="middleName">Middle</label>
                <input id="ua-middleName" name="middleName" type="text" size="30">
                <span data-validation-for="middleName"></span>
            </div>
            <div class="form-field">
                <label for="lastName">Last</label>
                <input id="ua-lastName" name="lastName" type="text" size="30">
                <span data-validation-for="lastName"></span>
            </div>
        </fieldset>
        <div class="form-controls">
            <input type="submit" value="Save" class="loud">
            <input type="button" value="Cancel" data-rel="back">
        </div>
    </form>
</div>