<section class="page">
	<div class="page-header">
		<h1>Pages</h1>
		<fieldset class="float-right">
			<button class="attn">Add a page</button>
		</fieldset>
	</div>
	<div class="page-body">
		<div class="page-content">
			<div class="tiles">
				<ul class="pages-list"></ul>
			</div>
		</div>
	</div>
</section>