<div class="page centered">
	<div class="page-header">
		<h1 class="float-left" data-bind="title">Files</h1>
		<div class="float-right">
			<button type="button" data-rel="cancel">Cancel</button>
		</div>
	</div>
	<div class="page-body"> 
		<div class="page-content">
			<form>
				<fieldset>
					<div class="form-field">
						<input name="search" type="text" placeholder="search" size="50" autofocus />
						<input type="submit" value="Search" />
					</div>
				</fieldset>
                <div class="tiles fileselector-results">
				    <ul class="pages-list"></ul>
			    </div>				
			</form>
		</div>
	</div>
</div>