<div class="page centered">
	<div class="page-header">
		<h1 class="float-left" data-bind="title">Files</h1>
		<div class="float-right">
			<button type="button" data-rel="cancel">Cancel</button>
		</div>
	</div>
	<div class="page-body"> 
		<div class="page-content">
			<form>
				<fieldset>
					<div class="form-field">
						<input name="search" type="text" placeholder="search" size="50" autofocus />
						<input type="submit" value="Search" />
					</div>
				</fieldset>
				<div class="fileselector-results datalist pad-top">
					<ul class="stretch">
					
					</ul>
				</div>
				@*<div class="form-controls">
				<button type="button" data-rel="cancel" class="float-right">Cancel</button>	
				<button class="loud float-right" data-rel="save">Select Page</button>
			</div>*@
			</form>
		</div>
	</div>
</div>