<div data-templatefor="pageLoaderView" id="pageloader">
	<button class="float-left attn" data-bind="showif: doneButtonVisible" data-event="doneEditing">Done</button>
	<span class="icon-edit" data-event="editPage"></span>
	<span class="icon-reorder" data-event="showSettings"></span>
</div>
