<div data-view="pageLoaderView" id="pageloader">
	<ul>
		<li data-collection="tabs" data-bind="class: className" data-event="click:clickPageLoaderTab">
			<span data-bind="text: text">View</span>
		</li>
	</ul>
</div>
