<div data-view="pageLoaderView" id="pageloader">
	<ul>
        <template data-collection="tabs">
		<li data-bind="class: className" data-event="click:clickPageLoaderTab">
			<span data-bind="text: text">View</span>
		</li>
        </template>
	</ul>
</div>
