<div data-templatefor="pageLoaderView" id="pageloader">
	<button class="float-left" data-bind="showif: doneButtonVisible" data-event="doneEditing, keypress:doneEditing">Done</button>
	<span class="icon-edit" data-event="editPage, keypress:editPage"  tabindex="0"></span>
    <span class="icon-reorder" data-event="showSettings, keypress:showSettings" tabindex="0"></span>
</div>
