.alert, .alert-error {
  padding: 0.6em 2.5em 0.6em 1em;
  margin-bottom: 1.42em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #fff;
  background-color: #666;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .alert h1, .alert-error h1 {
    color: #fff; }
  .alert h1, .alert h2, .alert h3, .alert h4, .alert-error h1, .alert-error h2, .alert-error h3, .alert-error h4 {
    margin: 0;
    font-size: 1.2em; }

.alert-error {
  display: none; }

.error .alert-error {
  display: block; }
