/*
 * color-container(theme, primary, accent)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-devicer(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 */
.alert, .alert-error {
  line-height: 2em;
  padding: 0.5em 1em; }
  .alert h1, .alert h2, .alert h3, .alert h4, .alert-error h1, .alert-error h2, .alert-error h3, .alert-error h4 {
    margin: 0;
    font-size: 1.2em; }

.alert-error {
  display: none; }

.error .alert-error {
  display: block; }
