@import "../mixins/border-radius";
@import "../mixins/user-select";


$button-color:					#000;
$button-background-color:		#CCC;
$button-color-loud:				#FFF;
$button-background-color-loud:	#2F5BB7;
$button-color-attn:				#FFF;
$button-background-color-attn:	#D14836;
$button-color-active:			#FFF;
$button-backgrond-color-active: #000;
$button-border-radius:			3px;
$button-font-family:			'Segoe UI Web Semibold', 'Segoe UI Web Regular', 'Segoe UI', 'Segoe UI Symbol', 'Helvetica Neue', Arial !default;


@mixin button () {
	.button,
	button,
	input.button,
	input[type=button],
	input[type=submit] {
		@include _button($button-background-color, $button-color);
		
		&.selected { }
		&.loud {
			@include _button($button-background-color-loud, $button-color-loud);			
		}
		&.attn {
			@include _button($button-background-color-attn, $button-color-attn);			
		}
	}

	@include switch;
	@include radioset;
}

// jch! - make a _basebutton mixin which has everything but color, then just call this one with the color
// attempting to reduce the size here
// then fix up switch - spacing and border radius in the middle, button size.
@mixin _button($background-color, $color) {
	@include _button-base();
	@include _button-color($background-color, $color);
}

@mixin _button-base() {
	@include border-radius($button-border-radius);
	border: 0;
	@include user-select("none");
	display: inline-block;
	text-align: center;	
	// min-width: 72px;
	font-weight: 500; // should download the Segoe UI Web Semibold font
	font-family: $button-font-family;
	font-size: 1.0em;	
	cursor: default;
	text-decoration: none;
	line-height: 1.6em;
	border-width: 1px;
	margin: 0.2em;
	padding: .4em 2em;
	margin-bottom: 6px;
}

@mixin _button-color($background-color, $color) {
	color: $color;
	background-color: $background-color;
	&:hover { 
		background-color: lighten($background-color, 10%);
	}
	&:active {
		color: $button-color-active !important; // for links
		background-color: $button-backgrond-color-active;
	}
	&:visited { color: $color; }
}



@mixin switch {
	.switch {
		display: inline-block;
		font-size:.8em;	
		@include user-select(none);

		input {
			position: absolute;
			left: -2000px;
		}
		
		label {
			display: inline-block;
			white-space: nowrap;
			width: auto !important;
			padding: 0;
			margin: 0;
			background-color: $button-background-color;
			@include border-radius($button-border-radius);

			span {
				margin:0 !important;		
				min-width: 50px;
				float:left;
				@include _button-base();
			}
			.on {				
				text-indent: -9999px;
				@include _button-color(darken($button-background-color, 5%), $button-color);
			}
			.off {
				text-indent: 0;
				@include _button-color($button-background-color, $button-color);
			}
		}

		input:checked ~ label {
			.off {
				text-indent: -9999px;
				@include _button-color($button-background-color, $button-color);
			}
			.on {
				text-indent: 0;
				@include _button-color($button-background-color-loud, $button-color-loud);
			}
		}
		
	}
}

@mixin radioset {
	.radioset {
		border-radius:$button-border-radius;
		overflow:hidden;
		display: inline-block;
		@include user-select(none);

		label {
			float: left;
			font-size: 1em;
			padding: 0 !important;
			margin: 0;
			width: auto !important;
			display:block;
			span {
				display: inline-block;
				background-color: $button-background-color;
				color: $button-color;
				padding: 0.15em 0.5em 0.25em;
				min-width: 50px;
				text-align: center;
				border: none;
				font-size: 1.0em;
				line-height: 2.5em;
				font-family: $button-font-family;
				&:hover {
					background-color: lighten($button-background-color, 10%);
				}
			}
			input {
				position: absolute;
				left: -2000px;
				&:checked + span {
					background: $button-background-color-loud;
					color: $button-color-loud;
				}
			}
		}
	}
}

@include button;