/* the row classes are not really used - think about removing them */
.row, .row-small, .row-medium, .row-large {
  clear: both; }
  .row:after, .row-small:after, .row-medium:after, .row-large:after {
    content: "";
    display: table;
    clear: both; }

.row {
  margin-left: -1%; }

.row5 {
  height: 5em;
  overflow: auto; }

.row4 {
  height: 10em;
  overflow: auto; }

.row3 {
  height: 15em;
  overflow: auto; }

.row2 {
  height: 20em;
  overflow: auto; }

.row1 {
  height: 25em;
  overflow: auto; }

@media (min-width: 64em) {
  .col, .col1 {
    float: left;
    width: 98%;
    *width: 93%;
    margin-left: 2%; }
  .col2 {
    float: left;
    width: 48%;
    *width: 45.5%;
    margin-left: 2%; }
  .col3 {
    float: left;
    width: 31.33333%;
    *width: 29.66667%;
    margin-left: 2%; }
  .col3-2 {
    float: left;
    width: 64.66667%;
    *width: 61.33333%;
    margin-left: 2%; }
  .col4 {
    float: left;
    width: 23%;
    *width: 21.75%;
    margin-left: 2%; }
  .col5 {
    float: left;
    width: 18%;
    *width: 17%;
    margin-left: 2%; }
  .hasaside .col5 {
    float: left;
    width: 23%;
    *width: 21.75%;
    margin-left: 2%; } }

@media (max-width: 64em) {
  .col2 {
    float: left;
    width: 48%;
    *width: 45.5%;
    margin-left: 2%; }
  .col3, .col3-2, .col4, .col5 {
    float: left;
    width: 31.33333%;
    *width: 29.66667%;
    margin-left: 2%; }
  .hasaside .col3, .hasaside .col3-2, .hasaside .col4, .hasaside .col5 {
    float: left;
    width: 48%;
    *width: 45.5%;
    margin-left: 2%; } }

@media (max-width: 48em) {
  .col, .col1, .col2, .col3, .col3-2, .col4, .col5 {
    float: left;
    width: 98%;
    *width: 93%;
    margin-left: 2%; } }
