.col, .col1, .col2, .col3, .col4, .col5 {
  width: 99%;
  margin-left: 1%; }

@media screen and (max-width: 480px) {
  .col,
  .col1,
  .col2,
  .col3,
  .col3-2,
  .col4,
  .col5 {
    float: left;
    width: 99%;
    margin-left: 1%; } }
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .col,
  .col1 {
    float: left;
    width: 99%;
    margin-left: 1%; }

  .col2,
  .col3,
  .col3-2,
  .col4,
  .col5 {
    float: left;
    width: 49%;
    margin-left: 1%; } }
@media screen and (min-width: 1024px) {
  .col,
  .col1 {
    float: left;
    width: 99%;
    margin-left: 1%; }

  .col2 {
    float: left;
    width: 49%;
    margin-left: 1%; }

  .col3 {
    float: left;
    width: 32.33333%;
    margin-left: 1%; }

  .col3-2 {
    float: left;
    width: 65.66667%;
    margin-left: 1%; }

  .col4 {
    float: left;
    width: 24%;
    margin-left: 1%; }

  .col5 {
    float: left;
    width: 19%;
    margin-left: 1%; } }

