/*@mixin col-span ($cols: 1, $span: 1, $col-gutter-width: $col-gutter-width) {
	$colwidth: 100% / $cols;
	$spancolwidth: $colwidth * $span;
	// $margin: 2%;

	float: left;
	width: $spancolwidth;
    box-sizing: border-box;
	border-left: $col-gutter-width solid transparent;
}*/
.button, button, input[type=button], input[type=submit] {
  border: 0;
  outline: 0;
  display: inline-block;
  text-align: center;
  cursor: default;
  text-decoration: none;
  margin: 0 0.25em 0 0;
  padding: 0.5em 1.75em;
  min-width: 5em;
  font-family: "OpenSansMedium", "sans-serif";
  text-transform: uppercase;
  font-size: 0.875em;
  line-height: 1.71429;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 0 1px 1px rgba(0, 0, 0, 0.12); }
  .button:active, button:active, input[type=button]:active, input[type=submit]:active {
    z-index: 8;
    box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.3), 0 0 2px 1px rgba(0, 0, 0, 0.12); }
    .button:active span, button:active span, input[type=button]:active span, input[type=submit]:active span {
      position: relative;
      left: 0px;
      top: 0px; }
  .button.flat, button.flat, input[type=button].flat, input[type=submit].flat {
    font-weight: 700;
    padding: 0.25em 0.75em;
    z-index: 0;
    box-shadow: none; }
    .button.flat:active, button.flat:active, input[type=button].flat:active, input[type=submit].flat:active {
      z-index: 0;
      box-shadow: none; }
  .button[disabled], .button[disabled]:hover, button[disabled], button[disabled]:hover, input[type=button][disabled], input[type=button][disabled]:hover, input[type=submit][disabled], input[type=submit][disabled]:hover {
    z-index: 0;
    box-shadow: none; }

a.button {
  margin-right: 0;
  outline: 0;
  *padding-top: 10px;
  *padding-bottom: 10px; }

.iconbutton {
  margin: 0;
  padding: 0.25em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em; }
  .iconbutton:hover, .iconbutton:focus {
    outline: 0; }
  .iconbutton.disabled, .iconbutton.disabled:hover, .iconbutton.disabled:focus {
    background-color: transparent; }

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.datatable {
  width: 100%;
  margin-bottom: 24px; }
  .datatable th, .datatable td {
    padding: 0.5em;
    line-height: 1.5;
    text-align: left;
    vertical-align: top; }
  .datatable th {
    font-weight: bold; }
  .datatable thead th {
    vertical-align: bottom; }
  .datatable colgroup + thead tr:first-child th, .datatable colgroup + thead tr:first-child td, .datatable thead:first-child tr:first-child th, .datatable thead:first-child tr:first-child td {
    border-top: 0; }
  .datatable label {
    display: inline-block;
    min-width: 8em;
    font-weight: bold; }
  .datatable tbody th {
    padding-top: 1.5em;
    font-size: 1.3em;
    font-weight: normal;
    padding-left: 0.3em; }
  @media (min-width: 100em) {
    .datatable th, .datatable td {
      padding: 0.8em; } }
  @media (max-width: 64em) {
    .datatable th, .datatable td {
      padding: 0.3em; } }
  @media (max-width: 48em) {
    .datatable th, .datatable td {
      padding: 0.1em; } }

.condensed th, .condensed td {
  padding: 0.3em; }

.alert, .alert-error {
  line-height: 2em;
  padding: 0.5em 1.5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  z-index: 6;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 1px rgba(0, 0, 0, 0.12); }
  .alert h1, .alert h2, .alert h3, .alert h4, .alert-error h1, .alert-error h2, .alert-error h3, .alert-error h4 {
    margin: 0;
    font-size: 1.2em; }

.alert-error {
  display: none;
  z-index: 0;
  box-shadow: none;
  margin-bottom: 1.5em; }

.error .alert-error {
  display: block; }

form {
  margin: 0 0; }
  form:after {
    content: "";
    display: table;
    clear: both; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }
  fieldset > * {
    padding-left: 1.4em; }
    @media (max-width: 48em) {
      fieldset > * {
        padding-left: 0; } }

fieldset:first-child {
  margin-top: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 1.5em;
  line-height: 2;
  border: 0; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .input {
  display: inline-block;
  height: 24px;
  padding: 4px 6px;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  vertical-align: middle;
  border-style: solid;
  border-color: #bbbbbb;
  border-width: 0 0 2px 0;
  background: #FFFFFF;
  -moz-transition: border linear 0.5s;
  -webkit-transition: border linear 0.5s;
  -ms-transition: border linear 0.5s;
  transition: border linear 0.5s; }
  select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    color: #333;
    background-color: #FFF;
    border-color: rgba(82, 168, 236, 0.6); }

.input {
  text-decoration: none;
  color: #555 !important;
  min-width: 14em;
  text-align: left; }
  .input:hover, .input:active {
    color: #555 !important;
    background-color: #FFFFFF; }

textarea {
  height: auto; }

select, input[type="file"] {
  height: 34px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 34px; }

select {
  width: 220px;
  background-color: #FFFFFF; }

select[multiple], select[size] {
  height: auto; }

.input {
  overflow: hidden;
  white-space: nowrap; }

.disabled, a[disabled], button[disabled], input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  opacity: 0.45; }

input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] {
  background-color: transparent; }

.form-field {
  margin-bottom: 12px; }
  .form-field label {
    display: block;
    margin-bottom: 4px; }
  .form-field input + span {
    display: inline-block;
    margin-left: 0.5em; }
    @media (max-width: 48em) {
      .form-field input + span {
        display: block;
        margin-left: 0; } }
  .form-field div {
    margin-bottom: 12px; }
  .form-field input + label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0; }

.form-controls {
  margin-top: 1.42em; }

.form-wide .form-field {
  clear: left; }
  .form-wide .form-field:after {
    content: "";
    display: table;
    clear: both; }
  .form-wide .form-field label {
    float: left;
    width: 11.42em;
    padding-top: 5px;
    text-align: right; }
    @media (max-width: 64em) {
      .form-wide .form-field label {
        float: none;
        display: block;
        text-align: left; } }
  .form-wide .form-field input, .form-wide .form-field select, .form-wide .form-field textarea, .form-wide .form-field .input, .form-wide .form-field label ~ * {
    display: block;
    float: left;
    margin-left: 1.42em;
    margin-bottom: 0; }
    @media (max-width: 64em) {
      .form-wide .form-field input, .form-wide .form-field select, .form-wide .form-field textarea, .form-wide .form-field .input, .form-wide .form-field label ~ * {
        float: none;
        margin-left: 0; } }
  .form-wide .form-field span, .form-wide .form-field div {
    line-height: 34px;
    vertical-align: middle;
    display: inline; }
    @media (max-width: 64em) {
      .form-wide .form-field span, .form-wide .form-field div {
        display: block; } }
  .form-wide .form-field input[type=checkbox], .form-wide .form-field input[type=radio] {
    margin: 3px 4px 0 12.84em;
    *margin-top: 0;
    margin-top: 1px \9;
    /* IE8-9 */ }
    @media (max-width: 64em) {
      .form-wide .form-field input[type=checkbox], .form-wide .form-field input[type=radio] {
        margin-left: 0;
        display: inline-block; } }
  .form-wide .form-field input + label {
    width: auto;
    padding-top: 0; }
    @media (max-width: 64em) {
      .form-wide .form-field input + label {
        display: inline-block;
        float: none; } }
.form-wide .form-controls {
  padding-left: 14.26em; }
  @media (max-width: 64em) {
    .form-wide .form-controls {
      padding-left: 0; } }

.form-inline input, .form-inline textarea, .form-inline select, .form-inline span, .form-inline div, .form-inline .input {
  display: inline-block;
  vertical-align: middle; }

.form-inline input[type="radio"], .form-inline input[type="checkbox"] {
  margin-right: 3px;
  margin-left: 0; }

.form-field.error, .form-inline.error {
  color: #b94a48; }
  .form-field.error input, .form-field.error select, .form-field.error textarea, .form-inline.error input, .form-inline.error select, .form-inline.error textarea {
    border-color: #b94a48;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    .form-field.error input:focus, .form-field.error select:focus, .form-field.error textarea:focus, .form-inline.error input:focus, .form-inline.error select:focus, .form-inline.error textarea:focus {
      border-color: #953b39;
      -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px#b94a48;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px#b94a48;
      -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px#b94a48;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px#b94a48; }
  .form-field.error [data-validation-for], .form-inline.error [data-validation-for] {
    background: #b94a48;
    color: #FFF;
    padding: 0.5em;
    margin: 0.2em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }

.menulist {
  margin-top: 0.5em; }
  .menulist > ul {
    line-height: 3em;
    margin: 0 0 0.5em 0;
    list-style: none; }
    .menulist > ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px; }
    .menulist > ul > li > span, .menulist > ul > li > a {
      display: block;
      text-decoration: none;
      padding: 0 1em; }
    .menulist > ul > li > span {
      cursor: default; }
    .menulist > ul .selected {
      font-weight: bold; }
  .menulist hr {
    margin: 0.5em 0;
    height: 1px;
    box-sizing: content-box; }
  .menulist h2, .menulist h3 {
    display: block;
    font-size: 0.875em;
    line-height: 3.45em;
    padding: 0 1.143em;
    margin: 0; }

#message {
  /*
             // height: 3em; would need to specify height if positioning on bottom - then support a 5em .tall height as well?!
        line-height: 2em;
        padding: .5em 1em;
        */
  position: fixed;
  z-index: 1;
  top: 5em;
  text-align: center;
  width: 30em;
  left: 50%;
  margin-left: -15em; }
  #message .alert {
    max-width: 30em;
    position: relative;
    display: inline-block;
    margin: 0; }

#message-text {
  text-align: left; }

#message-close {
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  font-size: 1.2em;
  top: 0.35em;
  right: 0.7em; }

.selectlist {
  clear: both; }
  .selectlist > ul {
    list-style: none; }
    .selectlist > ul:after {
      content: "";
      display: table;
      clear: both; }
    .selectlist > ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px; }
    .selectlist > ul > li {
      float: left;
      display: block;
      color: #FF3D00;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      margin: 0.2em;
      border: 1px solid #ddd;
      overflow: hidden;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .selectlist > ul > li.selected, .selectlist > ul > li:hover, .selectlist > ul > li:focus {
        cursor: default;
        outline: none; }
      .selectlist > ul > li h1, .selectlist > ul > li h2, .selectlist > ul > li h3, .selectlist > ul > li h4 {
        font-size: 1.2em;
        font-weight: bold;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        padding: 0.5em; }
      .selectlist > ul > li p, .selectlist > ul > li span, .selectlist > ul > li div {
        padding: 0.5em;
        padding-top: 0em; }
      .selectlist > ul > li p {
        white-space: nowrap; }

.tiles {
  margin-left: -2%;
  list-style: none; }
  .tiles:after {
    content: "";
    display: table;
    clear: both; }
  .tiles .tile {
    box-sizing: border-box; }

/*
        <div class="tile">
            <a class="media"></a>
            <div class="caption">
                <a><h2></h2></a>
                <p></p>
            </div>
        </div>
    */
.tile {
  display: block;
  word-wrap: break-word;
  margin-bottom: 1em;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .tile .media {
    text-align: center;
    display: block;
    padding: 2px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .tile .media img {
      max-height: 10em;
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
      -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055); }
  .tile .caption {
    padding: 0.3em;
    color: #777; }
    .tile .caption p {
      font-size: 0.85em; }
    .tile .caption a {
      text-decoration: none; }
  .tile h2, .tile h3 {
    font-size: 1.1em;
    white-space: normal;
    line-height: 1.2;
    margin: 0.1em 0; }

.hover .tile:hover, .hover .tile:focus, .hover.tile:hover, .hover.tile:focus {
  border-color: #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -ms-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25); }

.tile-wide {
  padding: 0; }
  .tile-wide:after {
    content: "";
    display: table;
    clear: both; }
  .tile-wide .media, .tile-wide .caption {
    float: left; }
  .tile-wide .media {
    text-align: right;
    width: 20%;
    padding: 0; }
  .tile-wide .caption {
    padding: 0 1%;
    width: 78%; }
  .tile-wide.row5 img {
    max-height: 5em; }
  .tile-wide.row5 .media {
    line-height: 5em; }
  .tile-wide.row4 img {
    max-height: 10em; }
  .tile-wide.row4 .media {
    line-height: 10em; }
  .tile-wide.row3 img {
    max-height: 15em; }
  .tile-wide.row3 .media {
    line-height: 15em; }
  @media (max-width: 64em) {
    .tile-wide .media {
      width: 40%; }
    .tile-wide .caption {
      width: 58%; } }
  @media (max-width: 48em) {
    .tile-wide {
      padding: 0.3em; }
      .tile-wide .media {
        width: 100%; }
      .tile-wide .caption {
        width: 100%; } }

.card {
  background-color: #FFFFFF;
  z-index: 2;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.14), 0 0 1px 1px rgba(0, 0, 0, 0.12);
  margin-bottom: 1em; }
