table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

.datatable {
  width: 100%;
  margin-bottom: 22.8576px; }
  .datatable th, .datatable td {
    padding: 0.6em;
    line-height: 1.4286;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #DDD; }
  .datatable th {
    font-weight: bold; }
  .datatable thead th {
    vertical-align: bottom; }
  .datatable colgroup + thead tr:first-child th, .datatable colgroup + thead tr:first-child td, .datatable thead:first-child tr:first-child th, .datatable thead:first-child tr:first-child td {
    border-top: 0; }
  .datatable tbody + tbody {
    border-top: 2px solid #DDD; }
  .datatable label {
    display: inline-block;
    min-width: 8em;
    font-weight: bold; }
  .datatable .datatable {
    background-color: #FFF; }
  .datatable tbody th {
    padding-top: 1.5em;
    font-size: 1.3em;
    font-weight: normal;
    padding-left: 0.3em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
  @media (min-width: 100em) {
    .datatable th, .datatable td {
      padding: 0.8em; } }
  @media (max-width: 64em) {
    .datatable th, .datatable td {
      padding: 0.3em; } }
  @media (max-width: 48em) {
    .datatable th, .datatable td {
      padding: 0.1em; } }

.hover tr:hover td {
  background-color: #F5F5F5; }

.striped .striped > td, .striped > tr:nth-child(odd) > td {
  background-color: #F9F9F9; }

tr.selected td {
  color: #FFF;
  background-color: #369; }
  tr.selected td:hover {
    background-color: #369; }

.condensed th, .condensed td {
  padding: 0.3em; }
