.datalist > ul {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ccc; }
  .datalist > ul > li {
    display: table-row; }
    .datalist > ul > li.group .col {
      padding-left: .1em; }
    .datalist > ul > li.group h2, .datalist > ul > li.group h3 {
      font-size: .9em;
      font-weight: bold;
      padding: 1.5em .3em .5em 0em;
      opacity: 0.8; }
    .datalist > ul > li.group:hover {
      background-color: transparent; }
    .datalist > ul > li.heading {
      font-weight: bold;
      text-transform: uppercase;
      font-size: .9em; }
      .datalist > ul > li.heading:hover {
        background: transparent; }
    .datalist > ul > li:hover {
      background: #CCC; }
.datalist .col {
  display: table-cell;
  border-bottom: 1px solid #CCC;
  width: auto;
  padding: .7em; }

