/*
 * theme is either "light" or "dark"
 * 
 * color-container(theme, primary, accent)
 * color-links(primary, accent)
 * color-selected-item(theme)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-divider(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 * Note: color variables using alpha have an accompanying hex variable
 *       that works well with the specified light or dark backgrounds.
 *       This is to be used as long as IE 8 is supported.
 */
/*
 * theme is either "light" or "dark"
 * 
 * color-container(theme, primary, accent)
 * color-links(primary, accent)
 * color-selected-item(theme)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-divider(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 * Note: color variables using alpha have an accompanying hex variable
 *       that works well with the specified light or dark backgrounds.
 *       This is to be used as long as IE 8 is supported.
 */
/*
 * theme is either "light" or "dark"
 * 
 * color-container(theme, primary, accent)
 * color-links(primary, accent)
 * color-selected-item(theme)
 *
 * color(theme);
 * color-quiet(theme);
 * color-disabled(theme);
 * color-divider(theme);
 *
 * bg-color-content(theme)
 * bg-color(theme)
 * bg-color-bar(theme)
 * bg-color-outerbar(theme)
 *
 * Note: color variables using alpha have an accompanying hex variable
 *       that works well with the specified light or dark backgrounds.
 *       This is to be used as long as IE 8 is supported.
 */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.datatable {
  width: 100%;
  margin-bottom: 24px; }
  .datatable th, .datatable td {
    padding: 0.5em;
    line-height: 1.5;
    text-align: left;
    vertical-align: top; }
  .datatable th {
    font-weight: bold; }
  .datatable thead th {
    vertical-align: bottom; }
  .datatable colgroup + thead tr:first-child th, .datatable colgroup + thead tr:first-child td, .datatable thead:first-child tr:first-child th, .datatable thead:first-child tr:first-child td {
    border-top: 0; }
  .datatable label {
    display: inline-block;
    min-width: 8em;
    font-weight: bold; }
  .datatable tbody th {
    padding-top: 1.5em;
    font-size: 1.3em;
    font-weight: normal;
    padding-left: 0.3em; }
  @media (min-width: 100em) {
    .datatable th, .datatable td {
      padding: 0.8em; } }
  @media (max-width: 64em) {
    .datatable th, .datatable td {
      padding: 0.3em; } }
  @media (max-width: 48em) {
    .datatable th, .datatable td {
      padding: 0.1em; } }

.condensed th, .condensed td {
  padding: 0.3em; }
