table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

.datatable {
  width: 100%;
  margin-bottom: 20.0004px; }
  .datatable th,
  .datatable td {
    padding: .6em;
    line-height: 1.4286;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd; }
  .datatable th {
    font-weight: bold; }
  .datatable thead th {
    vertical-align: bottom; }
  .datatable colgroup + thead tr:first-child th,
  .datatable colgroup + thead tr:first-child td,
  .datatable thead:first-child tr:first-child th,
  .datatable thead:first-child tr:first-child td {
    border-top: 0; }
  .datatable tbody + tbody {
    border-top: 2px solid #dddddd; }
  .datatable .datatable {
    background-color: white; }
  .datatable tbody th {
    padding-top: 2em; }
  @media (min-width: 100em) {
    .datatable th, .datatable td {
      padding: 0.8em; } }
  @media (max-width: 48em) {
    .datatable th, .datatable td {
      padding: 0.3em; } }
  @media (max-width: 30em) {
    .datatable th, .datatable td {
      padding: 0.1em; } }

.hover tr:hover td {
  background-color: whitesmoke; }

.striped .striped > td,
.striped > tr:nth-child(odd) > td {
  background-color: #f9f9f9; }

.condensed th, .condensed td {
  padding: .3em; }

