.dialog-wrapper {
  position: absolute;
  z-index: 100; }

.dialog {
  color: black;
  background-color: white;
  max-width: 600px;
  min-width: 400px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .dialog:after {
    content: "";
    display: table;
    clear: both; }
  .dialog else {
    -moz-box-shadow: 0 0 2em 0.5em #555555;
    -webkit-box-shadow: 0 0 2em 0.5em #555555;
    -ms-box-shadow: 0 0 2em 0.5em #555555;
    box-shadow: 0 0 2em 0.5em #555555; }
  .dialog .dialog-header {
    overflow: hidden;
    padding: .5em 1em; }
    .dialog .dialog-header h1 {
      font-family: "Segoe UI";
      display: inline;
      float: left;
      font-size: 2.3em;
      cursor: default;
      color: #0099cc;
      margin: 0;
      text-shadow: rgba(17, 17, 17, 0.2) 2px 2px 2px; }
  .dialog .dialog-content {
    position: relative;
    padding: 1em; }
  .dialog .form-controls {
    clear: both;
    padding-top: 1em; }
    .dialog .form-controls .input, .dialog .form-controls input, .dialog .form-controls a, .dialog .form-controls button, .dialog .form-controls .link {
      float: right; }

@media screen and (max-width: 600px) {
  .dialog, .dialog-wrapper {
    border: 0;
    position: fixed;
    display: block;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; } }
.dialog-close {
  color: black;
  font-family: arial;
  text-decoration: none;
  display: block;
  cursor: default;
  margin: -0.7em -0.55em 0 0;
  float: right;
  font-size: 3.5em;
  font-weight: bold;
  opacity: 0.1; }
  .dialog-close:hover {
    opacity: 0.4; }

