@import "../mixins/box-shadow";

$errorpage-background-color: #F7F7F7;

@mixin errorpage {
	.errorpage {
		margin: 4em 0;
		padding: 1em 15%;
		.errorpage-details {
			display: block;
		}
	}
}

@mixin errorpage-theme {
	.errorpage {
		background-color: $errorpage-background-color;
	}
}


@include errorpage;
@include errorpage-theme;