#frame {
  min-height: 100%;
  height: auto !important;
  height: 100%; }

#frame-header, #frame-header-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
  height: 4em; }

#frame-header {
  height: 4em;
  line-height: 4em;
  font-size: 1em; }
  #frame-header a, #frame-header a:visited {
    text-decoration: none; }

#frame-header-content {
  max-width: 77.5em;
  margin: 0 auto; }

#frame-logo {
  float: left;
  font-size: 2em;
  margin: 0 0.5em; }

#frame-nav {
  line-height: 4em;
  position: relative;
  top: -4px;
  float: right; }
  #frame-nav ul {
    margin: 0;
    padding: 0;
    border: 0; }
    #frame-nav ul:after {
      content: "";
      display: table;
      clear: both; }
    #frame-nav ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px;
      display: inline-block;
      white-space: nowrap; }
    #frame-nav ul li {
      cursor: pointer;
      float: left;
      margin-right: 0.5em;
      text-transform: uppercase; }
      #frame-nav ul li a {
        display: inline-block;
        padding: 0 1em;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.4s; }
      #frame-nav ul li.attn {
        background: #FF0000 !important; }
        #frame-nav ul li.attn a {
          color: white !important; }

#frame-session {
  position: fixed;
  top: 0;
  left: 0;
  line-height: 4em; }
  #frame-session a {
    font-size: 1.5em;
    padding: 0 1em;
    display: inline-block; }

#frame-body {
  position: relative; }

.frame-footer-height {
  height: 12em; }

#frame-footer {
  position: relative; }
  #frame-footer .menulist {
    font-size: 0.75em;
    line-height: 1.5em; }
    #frame-footer .menulist a {
      text-decoration: none; }
    #frame-footer .menulist h2, #frame-footer .menulist h3 {
      font-size: 1.5em;
      font-weight: bold; }
  #frame-footer .social-links {
    line-height: 2em;
    padding-top: 0.5em; }
    #frame-footer .social-links a {
      text-decoration: none;
      display: block; }
    #frame-footer .social-links span {
      font-size: 1.5em;
      position: relative;
      top: 0.25em;
      width: 1em;
      text-align: right;
      display: block;
      float: left;
      clear: left;
      margin-right: 0.4em; }

#frame-footer-content:after {
  content: "";
  display: table;
  clear: both; }

#frame-footer-copyright {
  position: absolute;
  bottom: 1em;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 75%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }

/*
        <div class="col4">
	<div class="menulist">
		<h2><a href="#">Shop</a></h2>
		<ul>
			<li><a href="#">Originals</a></li>
			<li><a href="#">Prints</a></li>
			<li><a href="#">Jewelry</a></li>
			<li><a href="#">Gifts</a></li>
		</ul>
	</div>
</div>
<div id="frame-footer-copyright"></div>
*/
#overlay, .overlay {
  background-color: #000;
  z-index: 10;
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }
