#frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

#frame-header {
  overflow: hidden;
  position: fixed;
  height: 4.286em;
  line-height: 4.286em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  #frame-header a, #frame-header a:visited {
    text-decoration: none; }

#frame-logo {
  font-size: 2.3em;
  float: left;
  margin: 0 1em 0 .5em;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 2px; }

#frame-nav {
  float: left;
  font-size: 1.1em; }
  #frame-nav ul {
    margin: 0;
    padding: 0;
    border: 0; }
    #frame-nav ul:after {
      content: "";
      display: table;
      clear: both; }
    #frame-nav ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px;
      display: inline-block;
      white-space: nowrap; }
    #frame-nav ul li {
      cursor: pointer;
      float: left;
      -webkit-transition-property: background;
      -webkit-transition-duration: 0.3s; }
      #frame-nav ul li a {
        display: inline-block;
        padding: 0 1em; }
      #frame-nav ul li.selected a {
        text-shadow: rgba(68, 68, 68, 0.4) 1px 1px 1px 0px 0px 1px; }
      #frame-nav ul li.attn {
        background: #FF0000 !important; }
        #frame-nav ul li.attn a {
          color: white !important; }

#frame-session {
  float: right;
  padding: .4em 1em;
  font-size: 1.2em; }
  #frame-session a {
    display: inline-block;
    text-align: center; }

#frame-body {
  clear: both;
  min-height: 5em;
  position: fixed;
  top: 4.286em;
  left: 0;
  right: 0;
  margin: 0;
  bottom: 0;
  overflow: auto; }
  #frame-body ::-webkit-scrollbar {
    width: .9em;
    height: .9em; }

#frame-info {
  display: none;
  clear: both;
  min-height: 5em;
  text-align: center; }

#overlay, .overlay {
  background-color: black;
  z-index: 10;
  display: none;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

