@import "../mixins/clearfix";
@import "../mixins/border-radius";
@import "../mixins/box-shadow";

$menu-color: #000;
$menu-title-color: #09c;
$menu-background-color: #FFF;
$menu-box-shadow-color: #555;


@mixin menu {
	
	.menu {
		position: fixed;
		z-index:100;
		color: $menu-color;
		background-color: $menu-background-color;
		max-width: 600px;
		padding: .2em 1em 1em 1.42em;
		top: 0;
		right: 0;
		bottom: 0;

		@include clearfix;
		//@include box-shadow($top: 0px, $left: -4px, $blur: 4px, $spread: 4px, $color:  rgba(#000, 0.4));
		@include box-shadow-value(-2px 0 2px rgba(#000, 0.3));
		// @include border-radius(3px);
	}
	
	@media screen and (max-width: 600px) {
		.menu {
			border: 0;
			position: fixed;
			display: block;
			top: 0 !important;
			left: 0 !important;
			right: 0 !important;
			bottom: 0 !important;
			// @include border-radius(0);
		}
	}
}

@include menu;