.menulist {
  background: #f7f7f7;
  margin: 0 0 2em 1em; }
  .menulist > ul {
    list-style: none;
    margin: 0 0 1.42em 0;
    border-top: 1px solid #ccc; }
    .menulist > ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px; }
    .menulist > ul > li > span, .menulist > ul > li > a {
      display: block;
      line-height: 2.2em;
      padding-left: 1em;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid #ccc; }
    .menulist > ul > li > span {
      cursor: default; }
    .menulist > ul .selected {
      font-weight: bold; }
      .menulist > ul .selected span, .menulist > ul .selected a {
        color: #2F5BB7; }
  .menulist h2, .menulist h3 {
    padding: 0 0.5em;
    font-family: "OpenSans", "Segoe UI", "Helvetica Neue", Arial;
    display: block;
    font-size: 1.3em;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin: 0;
    line-height: 2em; }
