.menu {
  position: fixed;
  z-index: 100;
  color: black;
  background-color: white;
  max-width: 600px;
  padding: .2em 1em 1em 1.42em;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.3); }
  .menu:after {
    content: "";
    display: table;
    clear: both; }

@media screen and (max-width: 600px) {
  .menu {
    border: 0;
    position: fixed;
    display: block;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important; } }

