.menulist {
  margin-top: 0.5em; }
  .menulist > ul {
    line-height: 3em;
    margin: 0 0 0.5em 0;
    list-style: none; }
    .menulist > ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px; }
    .menulist > ul > li > span, .menulist > ul > li > a {
      display: block;
      text-decoration: none;
      padding: 0 1em; }
    .menulist > ul > li > span {
      cursor: default; }
    .menulist > ul .selected {
      font-weight: bold; }
  .menulist hr {
    margin: 0.5em 0;
    height: 1px;
    box-sizing: content-box; }
  .menulist h2, .menulist h3 {
    display: block;
    font-size: 0.875em;
    line-height: 3.45em;
    padding: 0 1.143em;
    margin: 0; }
