@mixin message {
    
    // #message-wrapper
    #message {
	    position: fixed;
        z-index: 1;
	    top: 5em;
	    text-align: center;
	    width: 30em;
	    left: 50%;
	    margin-left: -15em;

	    .alert {
		    max-width: 30em;		
		    position: relative;
		    display: inline-block;
		    margin: 0;
	    }
     }

     #message-text {
	    text-align: left;
     }

     #message-close {
	    cursor: pointer;	
	    font-weight: bold;

	    position: absolute;
	    font-size: 1.2em;
	    top: .35em;
	    right: .7em;
     }

}

@include message;
