.page:after {
  content: "";
  display: table;
  clear: both; }

.page-header {
  height: 5em;
  line-height: 4.999em; }
  .page-header h1 {
    float: left;
    margin: 0 .5em; }
    .page-header h1 a {
      text-decoration: none; }
  .page-header fieldset {
    margin: 0 1em; }

.page-nav {
  display: block;
  float: left;
  margin-left: 1em; }
  .page-nav .ul {
    list-style: none; }
    .page-nav .ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px; }
    .page-nav .ul:after {
      content: "";
      display: table;
      clear: both; }
  .page-nav li {
    display: block;
    float: left; }
    .page-nav li a {
      font-size: 1.2em;
      margin: 0 .5em;
      text-decoration: none; }
    .page-nav li.selected a {
      font-weight: bold; }

.page-body {
  position: relative;
  clear: left; }
  .page-body:after {
    content: "";
    display: table;
    clear: both; }

.page-aside {
  position: relative;
  width: 20%;
  float: left; }

.page-content {
  position: relative;
  float: left;
  width: 78%;
  padding-right: 1%;
  padding-left: 1%; }
  .page-content:first-child {
    width: 98%; }

.readable .page-body, .readable .page-header {
  max-width: 88em; }

.centered .page-header, .centered .page-body {
  max-width: 88em;
  margin: auto; }
.centered .page-aside {
  width: 20%; }
.centered .page-content {
  float: left;
  width: 78%;
  *width: 77.5%;
  padding-right: 1%;
  padding-left: 1%; }
.centered .page-content:first-child {
  width: 98%; }

.noaside .page-aside {
  display: none; }
.noaside .page-content {
  width: 98%; }

