.page, .page-body {
  position: relative; }

.page-header {
  padding: 1.5em;
  padding-bottom: .5em; }
  .page-header:after {
    content: "";
    display: table;
    clear: both; }
  .page-header h1 {
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px; }

.page-aside,
.page-content {
  position: relative; }
  .page-aside .col1:first-child,
  .page-content .col1:first-child {
    padding-top: 0; }

.page-aside {
  clear: left;
  padding: 1em;
  padding-top: .5em;
  display: none; }

.page-content {
  padding: 2em;
  padding-top: .5em; }
  .page-content:after {
    content: "";
    display: table;
    clear: both; }

.aside .page-aside {
  display: block; }

@media screen and (min-width: 1024px) {
  .aside .page-aside,
  .aside .page-content {
    float: left;
    min-height: 23em; }

  .page-content {
    width: 100%; }

  .readable, .centered {
    max-width: 1500px; }

  .aside .page-aside {
    width: 20%; }
  .aside .page-content {
    width: 80%; }
  .aside.readable .page-aside {
    width: 25%; }
  .aside.readable .page-content {
    width: 75%; } }
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .aside .page-aside,
  .aside .page-content {
    float: left;
    min-height: 23em; }

  .page-content {
    width: 100%; }

  .readable, .centered {
    max-width: 1500px; }

  .aside .page-aside {
    width: 25%; }
  .aside .page-content {
    width: 75%; }
  .aside.readable .page-aside {
    width: 30%; }
  .aside.readable .page-content {
    width: 70%; } }

