@import "../mixins/text-shadow";
@import "../mixins/clearfix";

// Markup
// <div class="page">
//	<header class="page-header"> <!-- can have .aside, .readable, and .centered  -->
//	</header>
//	<div class="page-body"> <!-- can have .aside, .readable, and .centered  -->
//		<aside class="page-aside">
//		</aside>
//		<div class="page-content">
//		</div>
//	</div>
// </div>
@mixin page {
	.page, .page-body { position: relative; } // containers

	.page-header {
		padding: 1.5em;
		padding-bottom: .5em;
		@include clearfix;
		h1 {
			@include single-text-shadow(rgba(#000, 0.4), 1px, 1px, 2px);
		}
	}

	.page-aside,
	.page-content {
		position: relative;
		.col1:first-child {
			padding-top: 0;
		}
	}
	.page-aside {
		clear: left;
		padding: 1em;
		padding-top: .5em;
		display: none;
	}
	.page-content {
		padding: 2em;
		padding-top: .5em;
		@include clearfix;	
	}

	.aside {
		.page-aside {
			display: block;
		}
	}

	@media screen and (min-width: 1024px) { // large + wide
		@include page-layout(
			$aside-width: 20%,
			$content-width: 80%,
			$readable-aside-width: 25%,
			$readable-content-width: 75%
		);
	}

	@media screen and (min-width: 600px) and (max-width: 1024px) { // medium
		@include page-layout(
			$aside-width: 25%,
			$content-width: 75%,
			$readable-aside-width: 30%,
			$readable-content-width: 70%
		);
	}
}


@mixin page-layout (
		$aside-width,
		$content-width,
		$readable-aside-width,
		$readable-content-width) {

		.aside {
			.page-aside,
			.page-content {
				float: left;
				min-height: 23em;
			}
		}

		.page-content {
			width: 100%;
		}
		.readable, .centered {
			max-width: 1200px;
		}

		.aside {
			.page-aside {
				width: $aside-width;
			}
			.page-content {
				width: $content-width;
			}

			&.readable {					
				.page-aside {
					width: $readable-aside-width;
				}
				.page-content {												
					width: $readable-content-width;
				}
			}			
		}
	}

	@include page;