.selectlist {
  clear: both; }
  .selectlist > ul {
    list-style: none; }
    .selectlist > ul:after {
      content: "";
      display: table;
      clear: both; }
    .selectlist > ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px; }
    .selectlist > ul > li {
      float: left;
      display: block;
      color: #FF3D00;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      margin: 0.2em;
      border: 1px solid #ddd;
      overflow: hidden;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .selectlist > ul > li.selected, .selectlist > ul > li:hover, .selectlist > ul > li:focus {
        cursor: default;
        outline: none; }
      .selectlist > ul > li h1, .selectlist > ul > li h2, .selectlist > ul > li h3, .selectlist > ul > li h4 {
        font-size: 1.2em;
        font-weight: bold;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        padding: 0.5em; }
      .selectlist > ul > li p, .selectlist > ul > li span, .selectlist > ul > li div {
        padding: 0.5em;
        padding-top: 0em; }
      .selectlist > ul > li p {
        white-space: nowrap; }
