.tiles {
  margin-left: -1%;
  list-style: none; }
  .tiles:after {
    content: "";
    display: table;
    clear: both; }
  .tiles .tile {
    box-sizing: border-box; }

.tile {
  display: block;
  overflow-x: hidden;
  border: 1px solid transparent;
  margin-bottom: 1em;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .tile.selected {
    overflow: visible; }
  .tile .media {
    text-align: center;
    display: block;
    padding: 2px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .tile .media img {
      max-height: 10em; }
  .tile .caption {
    padding: 0.3em;
    color: #777; }
  .tile h2, .tile h3 {
    font-size: 1.4em;
    margin: 0.1em 0; }

.hover .tile:hover, .hover .tile:focus, .hover.tile:hover, .hover.tile:focus {
  border-color: #369;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -ms-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25); }

.tile-wide {
  padding: 0; }
  .tile-wide:after {
    content: "";
    display: table;
    clear: both; }
  .tile-wide .media, .tile-wide .caption {
    float: left; }
  .tile-wide .media {
    text-align: right;
    width: 20%;
    padding: 0; }
  .tile-wide .caption {
    padding: 0 1%;
    width: 78%; }
  .tile-wide.row5 img {
    max-height: 5em; }
  .tile-wide.row5 .media {
    line-height: 5em; }
  .tile-wide.row4 img {
    max-height: 10em; }
  .tile-wide.row4 .media {
    line-height: 10em; }
  .tile-wide.row3 img {
    max-height: 15em; }
  .tile-wide.row3 .media {
    line-height: 15em; }
  @media (max-width: 64em) {
    .tile-wide .media {
      width: 40%; }
    .tile-wide .caption {
      width: 58%; } }
  @media (max-width: 48em) {
    .tile-wide {
      padding: 0.3em; }
      .tile-wide .media {
        width: 100%; }
      .tile-wide .caption {
        width: 100%; } }
