a.button {
  margin-right: 0;
  *padding-top: 10px;
  *padding-bottom: 10px; }

.toolbar {
  line-height: 2em;
  height: 2em;
  font-size: 1.5em;
  padding: 0 0.5em;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .toolbar:after {
    content: "";
    display: table;
    clear: both; }
  .toolbar .float-left, .toolbar .float-right {
    height: 2em; }
    .toolbar .float-left:after, .toolbar .float-right:after {
      content: "";
      display: inline-block; }
  .toolbar.small {
    font-size: 1em; }
  .toolbar.large {
    font-size: 2em; }
  .toolbar [role="button"] {
    margin: 0;
    padding: 0.25em;
    color: rgba(0, 0, 0, 0.54);
    min-width: 0;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -ms-border-radius: 1em;
    border-radius: 1em; }
    .toolbar [role="button"]:hover, .toolbar [role="button"]:focus {
      background-color: rgba(153, 153, 153, 0.2);
      outline: 0; }
    .toolbar [role="button"]:active, .toolbar [role="button"].active {
      background-color: rgba(153, 153, 153, 0.4); }
