@import "../mixins/no-bullets";
@import "../mixins/text-shadow";
.usermenu {
	h1 {
		font-size: 1.8em;
		@include single-text-shadow(rgba(#555, 0.4), 2px, 2px, 2px); 
	}
	ul {
		padding: 0;
		padding-right: 2em;
		margin: 0;
		@include no-bullets;
		font-size: 1.6em;
		white-space: nowrap;
	}

	button, .button {
		width: 100%;
		white-space: nowrap;
	}
}