@import "../../site/core/theme";


$c2: #eda456;

$body-color: #FFF;
$body-background-color: #0f7c91;
$framenav-background-color: transparent;

$h2-font-color:		$c2;
$form-legend-color:	$c2;

$link-color:				#FFF;
$link-color-hover:			#09f;

@include theme;


.menu {
	background-color: transparent;
	color: white;
}
#frame {
	z-index: 1;
	background: url(images/bj-dive-fade.png) no-repeat;
}

.page {
	background: url(images/bj-painting-fade.png) no-repeat bottom right;
}