html, body {
  background-color: #0f7c91;
  color: #FFF;
  font-size: 16px;
  font-family: "OpenSans", "Segoe UI", "Helvetica Neue", Arial;
  line-height: 1.4286; }

a, .link {
  text-decoration: underline;
  color: #FFF;
  cursor: pointer; }
  a:visited, a:focus, .link:visited, .link:focus {
    color: #FFF; }
  a:hover, .link:hover {
    color: #09f; }
  a:active, .link:active {
    color: red; }

.link {
  background-color: transparent;
  padding: 0; }
  .link:hover {
    background-color: transparent; }
  .link:active {
    background-color: transparent;
    color: red !important; }

p {
  margin-bottom: 1.42em; }
  p:only-of-type {
    margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #FFF;
  margin: 11.4288px 0; }

.quiet {
  color: #999999; }

.loud {
  color: #f5f0c5; }

.attn {
  color: #D14836; }

small {
  color: #999999; }

hr {
  margin: 22.8576px 0;
  border: 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid white;
  clear: both; }

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #FFF; }

ul, ol {
  margin-bottom: 11.4288px; }
  ul:only-of-type, ol:only-of-type {
    margin-bottom: 0; }

dl {
  margin-bottom: 22.8576px; }
  dl:only-of-type {
    margin-bottom: 0; }
  dl.list-wide dt {
    width: 11.42em; }
  dl.list-wide dd {
    margin-left: 12.82em; }
  @media (max-width: 30em) {
    dl.list-wide dt {
      float: none;
      display: block;
      text-align: left;
      width: auto; }
    dl.list-wide dd {
      margin-left: auto; } }

dt, dd {
  line-height: 1.4286;
  margin-bottom: 11.4288px; }

dd {
  margin-left: 11.4288px; }

#frame-header {
  height: 3.15em;
  line-height: 3.15em;
  color: #EEE;
  background: transparent;
  width: 100%;
  -moz-box-shadow: 0 2px 4px rgba(105, 105, 105, 0.25);
  -webkit-box-shadow: 0 2px 4px rgba(105, 105, 105, 0.25);
  -ms-box-shadow: 0 2px 4px rgba(105, 105, 105, 0.25);
  box-shadow: 0 2px 4px rgba(105, 105, 105, 0.25); }
  #frame-header a, #frame-header a:visited {
    color: #EEE; }

#frame-logo a {
  text-indent: -99999px;
  display: block;
  width: 150px;
  height: 51px;
  background: url(images/logo.png) no-repeat;
  background-size: contain; }

#frame-nav ul li:hover {
  background-color: #FFF;
  -moz-box-shadow: 0 6px 14px rgba(105, 105, 105, 0.6);
  -webkit-box-shadow: 0 6px 14px rgba(105, 105, 105, 0.6);
  -ms-box-shadow: 0 6px 14px rgba(105, 105, 105, 0.6);
  box-shadow: 0 6px 14px rgba(105, 105, 105, 0.6); }
  #frame-nav ul li:hover a {
    color: #333; }
#frame-nav ul li.selected {
  background-color: #FFF; }
  #frame-nav ul li.selected a {
    color: #333; }

#frame-body ::-webkit-scrollbar-thumb {
  background: #CCC; }
  #frame-body ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3; }

#frame-footer {
  background: #2d3033;
  color: #a5a6a7; }
  #frame-footer a {
    color: #a5a6a7; }

.page-header {
  background: #FFF;
  color: #FFF; }
  .page-header h1 {
    color: #FFF; }
    .page-header h1 a {
      color: #FFF; }

.page-nav a {
  color: #FFF; }

/*.centered {
		.page-header {
			margin-bottom: 1em;
			h1 {
				float: none;
			}
		}
	}*/
.selectlist > ul > li.selected {
  color: #FFF;
  background-color: #369;
  text-shadow: 0 1px 0 #000; }
  .selectlist > ul > li.selected h1, .selectlist > ul > li.selected h2, .selectlist > ul > li.selected h3 {
    color: #FFF !important; }

.menu {
  background-color: #0f7c91;
  color: white; }

#frame {
  z-index: 1;
  background: url(images/bj-dive-fade.png) no-repeat; }

#frame-footer {
  overflow: hidden;
  background: url(images/bj-painting-fade.png) no-repeat bottom right;
  height: 240px; }
  #frame-footer > div {
    padding-top: 170px; }
