#frame-header {
  color: #eeeeee;
  background: transparent; }
  #frame-header a, #frame-header a:visited {
    color: #eeeeee; }

#frame-logo a {
  text-indent: -99999px;
  display: block;
  width: 200px;
  height: 50px;
  background: url(images/logo.png) no-repeat; }

#frame-nav ul li:hover {
  background-color: white; }
  #frame-nav ul li:hover a {
    color: #333333; }
#frame-nav ul li.selected {
  background-color: white; }
  #frame-nav ul li.selected a {
    color: #333333; }

#frame-body ::-webkit-scrollbar-thumb {
  background: #cccccc; }
  #frame-body ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3; }

legend {
  color: #eda456; }

html, body {
  background-color: #0f7c91;
  color: white;
  font-size: 14px;
  font-family: "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif; }

h2 {
  color: #eda456;
  text-shadow: rgba(255, 255, 255, 0.2) 1px 1px 1px; }

a, .link {
  text-decoration: underline;
  color: white;
  cursor: pointer; }
  a:visited, a:focus, .link:visited, .link:focus {
    color: white; }
  a:hover, .link:hover {
    color: #0099ff; }
  a:active, .link:active {
    color: red; }

pre, code {
  font-family: "andale mono", Consolas, "lucida console", monospace;
  background: #F5F5F5;
  border: 1px solid #DDD;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

hr {
  color: #cccccc;
  background-color: #cccccc; }

.outline {
  position: relative;
  border: 1px solid #DDD;
  background: #FFF;
  padding: 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .outline:after {
    content: "";
    display: table;
    clear: both; }

.outline + .prettyprint {
  margin-top: -0.5em;
  padding-top: 1em !important; }

.outline + .outline {
  margin-top: .5em; }

#frame-header {
  color: #eeeeee;
  background: transparent; }
  #frame-header a, #frame-header a:visited {
    color: #eeeeee; }

#frame-logo a {
  text-indent: -99999px;
  display: block;
  width: 200px;
  height: 50px;
  background: url(images/logo.png) no-repeat; }

#frame-nav ul li:hover {
  background-color: white; }
  #frame-nav ul li:hover a {
    color: #333333; }
#frame-nav ul li.selected {
  background-color: white; }
  #frame-nav ul li.selected a {
    color: #333333; }

#frame-body ::-webkit-scrollbar-thumb {
  background: #cccccc; }
  #frame-body ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3; }

.quiet {
  color: #999999; }

.loud {
  color: #2f5bb7; }

.attn {
  color: #d14836; }

.page-header h1 a {
  color: #333333; }

.menu {
  background-color: transparent;
  color: white; }

#frame {
  z-index: 1;
  background: url(images/bj-dive-fade.png) no-repeat; }

.page {
  background: url(images/bj-painting-fade.png) no-repeat bottom right; }

