@import "../bjroyster/bjroyster-theme";

$frame-logo-name:      "logo-hog.png";
$frame-logo-width:		150px;
$frame-logo-height:		75px;

$frame-footer-image:    "footer-signature.png";


@include bjroyster-theme;
