<form>
	<span class="alert-error"></span>
	<fieldset>
		<div class="form-field">
			<label for="ua-currentPassword">Current password</label>
			<input type="password" autofocus id="ua-currentPassword" name="currentPassword" size="30">
			<span data-validation-for="currentPassword"></span>
		</div>
		<div class="form-field">
			<label for="ua-newPassword">New password</label>
			<input type="password" id="ua-newPassword" name="newPassword" size="30">
			<span data-validation-for="newPassword"></span>
		</div>
		<div class="form-field">
			<label for="ua-confirmPassword">Confirm password</label>
			<input type="password" id="ua-confirmPassword" name="confirmPassword" size="30">
			<span data-validation-for="confirmPassword"></span>
		</div>
	</fieldset>
	<div class="form-controls">
		<input type="submit" value="Save" class="loud">
		<input type="button" value="Cancel" data-rel="back">		
	</div>
</form>