<form>
	<span class="alert-error"></span>
	<fieldset>
		<div class="form-field">
			<label for="password">New password</label>
			<input type="password" autofocus id="ua-password" name="password" size="30">
			<span data-validation-for="password"></span>
		</div>
		<div class="form-field">
			<label for="confirmPassword">Confirm password</label>
			<input type="password" id="ua-confirmPassword" name="confirmPassword" size="30">
			<span data-validation-for="confirmPassword"></span>
		</div>
	</fieldset>
	<div class="form-controls">
		<input type="submit" value="Save" class="loud">
		<input type="button" value="Cancel" data-rel="back">		
	</div>
</form>