<div class="tile tile-wide hover">
	<div class="caption">
		<h3 class="loud">Default Home Page</h3>
		<p>
			The default home page shows the last 20 pages updated that are public.
		</p>
	</div>
</div>