<form>
	<span class="validation-summary"></span>
	<fieldset>
		<div class="form-field nolabel">
			@*<label for="firstName">First</label>*@
			<input autofocus id="ua-email" name="email" type="text" size="40">
			<span class="validation" data-validation-for="email"></span>
		</div>
	</fieldset>
	<div class="controls">
		<input type="submit" value="Save" class="loud">
		<input type="button" value="Cancel" data-rel="back">		
	</div>
</form>