<form>
	<span class="alert-error"></span>
	<fieldset>
		<div class="form-field">
			<input type="text" autofocus id="settings-applicationName" name="applicationName" size="30">
			<span data-validation-for="applicationName"></span>
		</div>
	</fieldset>
	<div class="form-controls">
		<input type="submit" value="Save" class="loud">
		<input type="button" value="Cancel" data-rel="back">		
	</div>
</form>