<form class="col1">
	<span class="alert-error"></span>
	<fieldset class="nowrap">
		<legend></legend>
		<div class="form-field">
			<label for="username">User name</label>
			<input autofocus="true" id="username" name="username" type="text" size="30">
			<span data-valmsg-for="username"></span>
		</div>
		<div class="form-field">
			<label for="password">Password</label>
			<input id="password" name="password" type="password" size="30">
			<span data-valmsg-for="password"></span>
		</div>
		<div class="form-field nowrap">
			<input id="rememberMe" name="rememberMe" type="checkbox" value="true">
			<label for="rememberMe" title="Keeps you logged in on this computer until you sign out.">Stay signed in</label>
		</div>
		<div class="form-controls">
			<input type="submit" value="Sign In" class="loud pad-left">
		</div>
	</fieldset>
</form>
