
<form class="form-wide" autocomplete="off">
	<div class="clear">
		<span class="alert alert-error"></span>
	</div>
	<fieldset class="nowrap clearfix clear">
		<legend></legend>
		<div class="form-field">
			<label for="username">User name</label>
			<input autofocus id="username" name="username" type="text" size="30">
			<span data-validation-for="username"></span>
		</div>
		<div class="form-field">
			<label for="password">Password</label>
			<input id="password" name="password" type="password" size="30">
			<span data-valmsg-for="password"></span>
		</div>
		<div class="form-field nowrap">
			<input id="rememberMe" name="rememberMe" type="checkbox" value="true">
			<label for="rememberMe" title="Keeps you logged in on this computer until you sign out.">Stay signed in</label>
		</div>
		<div class="form-controls">
			<input type="submit" value="Sign in" class="loud">
		</div>
	</fieldset>
</form>
