<form>
	<span class="alert-error"></span>
	<fieldset>
		<div class="form-field pad-right">
			<textarea autofocus id="ua-footerHtml" name="footerHtml" class="stretch" rows="15"></textarea>
			<span data-validation-for="footerHtml"></span>
		</div>
	</fieldset>
	<div class="form-controls">
		<input type="submit" value="Save" class="loud">
		<input type="button" value="Cancel" data-rel="back">		
	</div>
</form>