@using Harbor.Domain.Security
@using Harbor.UI.Extensions
@using Harbor.UI.JSPkgs
@using Harbor.UI.Models.JSPM.Extensions
@{
	ViewBag.Title = "Account";

	var canViewPages = Html.UserHasPermit(UserFeature.Pages, Permissions.Read);
	var canViewFiles = Html.UserHasPermit(UserFeature.Files, Permissions.Read);
	
}
@section scripts {
	@Html.InstallJavaScriptPackage(UserAccountAppPkg.PackageName)
	<script>
		UserAccount.start();
	</script>
}
<section class="page centered">
	<div class="page-header">
		<h1 data-bind="displayName"></h1>
	</div>
	<div class="page-body">
		<div class="page-content hide">
			<form class="form-stacked">
				<fieldset>
					<dl class="inline">
						<dt>Username</dt>
						<dd data-bind="userName"></dd>
						<dt>Name</dt>
						<dd id="ua-name">
							<span data-bind="displayName"></span>
							<button type="button" class="margin-left link">change</button>
						</dd>
						<dt>Email</dt>
						<dd id="ua-email">
							<span data-bind="displayEmail"></span>
							<button type="button" class="margin-left link">change</button>
						</dd>
					</dl>
				</fieldset>
				@if (canViewPages || canViewFiles)
				{
					<fieldset id="ua-administrative">
						<legend>View your...</legend>
						<ul class="list-style-none">
							@if (canViewPages)
							{ 
								<li>
									<a href="~/User/Pages">Pages</a>
								</li>
							}
							@if (canViewFiles)
							{
								<li>
									<a href="~/User/Files">Uploaded Files</a>
								</li>
							}
						</ul>			
					</fieldset>
				}
				<fieldset>
					<legend>Password</legend>
					<div class="form-field">
						<input type="button" name="changePassword" value="Change your password"/>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>