@{
	ViewBag.Title = "Sign in";
}
@*
	This page is driven by the session app;
	which will look for #signinpage and render the sign in view there.
*@
<section class="page centered">
	<div class="page-header">
		<div class="page-header-content">
			<h1>Sign in</h1>
		</div>
	</div>
	<div class="page-body">
		<div class="page-content">
			<div id="signinpage">
			</div>
		</div>
	</div>
</section>