@{
	ViewBag.Title = "Sign in";
}
@section head{
}
@section scripts {
	<script>
		Session.startSignIn();
	</script>
}
<section class="page centered">
	<div class="page-header">
		<div class="page-header-content">
			<h1>Sign in</h1>
		</div>
	</div>
	<div class="page-body">
		<div class="page-content">
			<div id="signinpage">
			</div>
		</div>
	</div>
</section>