<section class="page centered" data-view="pageSelectorView">
    <div class="page-header">
        <h1 class="float-left">{{title}}</h1>
    </div>
	<div class="page-body">
		<div class="page-content">
			<form data-event="submit: formSubmit">
				<div class="form-field">
					<input name="search" type="text" placeholder="search" size="50" autofocus />
					<input type="submit" value="Search" />
					<button type="button" data-event="close">Cancel</button>
					<button type="button" class="loud float-right" data-bind="showif: allowPageAdd, text:addPageButtonText" data-event="addPage">/button>
				</div>

				<div class="float-right" data-model="pagerModel">
					<div data-bind="text:description"></div>
				</div>

				<div class="tiles row clear">
					<ul>
                        
						<!-- pages collection -->
						<li data-bind="id: id" tabindex="0" class="tile col5 hover" data-collection="pages"
						    data-event="clickItem, keypress: selectItemOnEnter">
							<div class="media">
								<img data-bind="src:thumbUrl" />
							</div>
							<div class="caption">
								<h3>{{title}}</h3>
								<span>{{previewText}}</span>
							</div>
						</li>
						<!-- -->
                        

					</ul>
				</div>
				
				<div data-bind="text: resultsMessage" class="margin"></div>	
				
				
				<div class="float-right">
					@Html.Partial("~/Views/AppUI/_pagerView.cshtml")
				</div>
			</form>
		</div>
	</div>
</section>