@import "support";

@mixin col ($numberOfColumns: 1, $percentPadding: 0%, $percentBorder: 0%,  $percentMargin: 0%) {
	@include col-span-old($numberOfColumns, 1, $percentPadding, $percentBorder,  $percentMargin);
}

// for use with box-sizing-border-box
@mixin col-box ($cols: 1, $padding: 0, $percentMargin: 0) {
	$totalMargin: ($cols * 2) * $percentMargin;

	width: ((100% - $totalMargin) / $cols);	
	float: left;	
	
	@if $padding != 0 {
		padding: $padding;
	}
	@if $percentMargin != 0 {
		margin: $percentMargin;
	}
}

@mixin col-span-old ($numberOfColumns: 1, $colspan: 1, $percentPadding: 0%, $percentBorder: 0%,  $percentMargin: 0%) {
	
	$colwidth: (100% / $numberOfColumns);
	$spancolwidth: $colwidth * $colspan;
	width: $spancolwidth - ($percentPadding * 2) - ($percentMargin * 2) - ($percentBorder * 2);
	// width: (100% / $numberOfColumns) * $colspan;
	float: left;	
	
	@if $percentPadding > 0 {
		padding: $percentPadding;
	}
	@if $percentBorder > 0 {
		border: $percentBorder;
	}
	@if $percentMargin > 0 {
		margin: $percentMargin;
	}
}


@mixin col-span ($cols: 1, $span: 1) {
	$colwidth: 100% / $cols;
	$spancolwidth: $colwidth * $span;
	$margin: 2%;

	float: left;
	width: $spancolwidth - $margin;
	@if $legacy-support-for-ie7 {
		*width: $spancolwidth - $margin - (5 / 100 * ($colwidth * $span));
	}
	@if $margin > 0 {
		margin-left: $margin;
	}
}