@model List<Harbor.UI.Models.StyleGuide.StyleGuidePage>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head {
	@RenderSection("head", required: false)
	<link rel="stylesheet" href="~/content/site/ext/styleguide.css" type="text/css" />
	<link rel="stylesheet" href="~/content/prettify/prettify.css" type="text/css" />	
}
<section class="page centered">
	<header class="page-header">
		<div class="page-header-content">
			<h1>@ViewBag.Title</h1>
		</div>
	</header>
	<div class="page-body">
		@RenderBody()
	</div>
 </section>
@section scripts {
	@RenderSection("scripts", required: false)
	<script src="~/scripts/prettify/prettify.js"></script>
	<script>
		$(function() {
			prettyPrint();
		});
	</script>
}