@*
	Animations (where to put this?)
	Need a full page for this? Or does it go under another category?
	Look at the animation js again - make note of this
	---
	Review the timer.js - try using the events for the close?



	AMIMATIONS
	look at the google script support again
	come up with a strategy
	- could implement light transitions for the menu now
	- then do more as the google script is incorporated

	Using element.animate seems to be for ie 11+
	IE 10 supports transitions
	https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_transitions


*@
@section head {
}
@section scripts {
	<script>
	</script>
}
<div class="page-content">
	Animations
</div>
