@*
		----
	when designing cards look at the resolution and unit and dealer "dashboard like" pages to see what a CARD will support.


*@
@section head {
}
@section scripts {
	<script>
	</script>
}
<div class="page-content">
	Cards
</div>
