@{

}
<div class="page-content">


<section class="row">
	<div class="col3">
		<div class="lead1">
			<header>
				<h2 class="type-subhead2 quiet">States</h2>
			</header>
			<ul class="list-style-none type-body1">
				<li>
					<strong>.selected</strong> - use for selected elements such as selected rows, items, current page, etc.
				</li>
				<li>
					<strong>.disabled</strong> - use for disabling text or items.
				</li>
				<li>
					<strong>.error</strong> - used to indicate an error.
				</li>
			</ul>
		</div>

		<div class="lead1">
			<header>
				<h2 class="type-subhead2 quiet">Priority Indicators</h2>
			</header>
			<ul class="list-style-none type-body1">
				<li>
					<strong>.quiet</strong> - use to dampen the text.
				</li>
				<li>
					<strong>.loud</strong> - use to make text stand out.
				</li>
				<li>
					<strong>.attn</strong> - use to make text stand out even more.
				</li>
				<li>
					<strong>.heading</strong> - to add the primary heading color.
				</li>
			</ul>
		</div>


		<div class="lead1">
			<header>
				<h2 class="type-subhead2 quiet">Impersonators</h2>
			</header>
			<ul class="list-style-none type-body1">
				<li>
					<strong>.button</strong> - attempts to make the element look like a button.
				</li>
				<li>
					<strong>.input</strong> - attempts to make the element look like an input element.
				</li>
				<li>
					<strong>.link</strong> - attempts to make the element look like a hyperlink.
				</li>
			</ul>
		</div>
		<div class="lead1">
			<header>
				<h2 class="type-subhead2 quiet">Typography</h2>
			</header>
			<ul class="list-style-none type-body1">
				<li>
					<strong>.type-display1</strong> -
				</li>
				<li>
					<strong>.type-display2</strong> -
				</li>
				<li>
					<strong>.type-display3</strong> -
				</li>
				<li>
					<strong>.type-display4</strong> -
				</li>
				<li>
					<strong>.type-headline</strong> -
				</li>
				<li>
					<strong>.type-title</strong> -
				</li>
				<li>
					<strong>.type-subhead2</strong> -
				</li>
				<li>
					<strong>.type-subhead1</strong> -
				</li>
				<li>
					<strong>.type-body2</strong> -
				</li>
				<li>
					<strong>.type-body1</strong> -
				</li>
				<li>
					<strong>.type-caption</strong> -
				</li>
				<li>
					<strong>.lead</strong> -
				</li>
				<li>
					<strong>.lead1</strong> -
				</li>
				<li>
					<strong>.lead2</strong> -
				</li>
				<li>
					<strong>.type-width-readable</strong> -
				</li>
				<li>
					<strong>.type-width-readable-short</strong> -
				</li>
			</ul>
		</div>


		<div class="lead1">
			<header>
				<h2 class="type-subhead2 quiet">Color</h2>
			</header>
			<ul class="list-style-none type-body1">
				<li>
					<strong>.box-light</strong> -
				</li>
				<li>
					<strong>.box-dark</strong> -
				</li>
				<li>
					<strong>.box-theme</strong> -
				</li>
				<li>
					<strong>.box-primary</strong> -
				</li>
				<li>
					<strong>.box-primary-lighter</strong> -
				</li>
				<li>
					<strong>.box-primary-darker</strong> -
				</li>
				<li>
					<strong>.box-accent</strong> -
				</li>
				<li>
					<strong>.box-accent-lighter</strong> -
				</li>
				<li>
					<strong>.box-accent-darker</strong> -
				</li>
				<li>
					<strong>.color-primary</strong> -
				</li>
				<li>
					<strong>.color-primary-darker</strong> -
				</li>
				<li>
					<strong>.color-primary-lighter</strong> -
				</li>
				<li>
					<strong>.color-accent</strong> -
				</li>
				<li>
					<strong>.color-accent-darker</strong> -
				</li>
				<li>
					<strong>.color-accent-lighter</strong> -
				</li>
				<li>
					<strong>.bgcolor-statusbar-light</strong> -
				</li>
				<li>
					<strong>.bgcolor-toolbar-light</strong> -
				</li>
				<li>
					<strong>.bgcolor-base-light</strong> -
				</li>
				<li>
					<strong>.bgcolor-content-light</strong> -
				</li>
				<li>
					<strong>.bgcolor-statusbar-dark</strong> -
				</li>
				<li>
					<strong>.bgcolor-toolbar-dark</strong> -
				</li>
				<li>
					<strong>.bgcolor-base-dark</strong> -
				</li>
				<li>
					<strong>.bgcolor-content-dark</strong> -
				</li>
				<li>
					<strong>.bgcolor-statusbar-theme</strong> -
				</li>
				<li>
					<strong>.bgcolor-toolbar-theme</strong> -
				</li>
				<li>
					<strong>.bgcolor-base-theme</strong> -
				</li>
				<li>
					<strong>.bgcolor-content-theme</strong> -
				</li>
			</ul>
		</div>

		<div class="lead1">
			<header>
				<h2 class="type-subhead2 quiet">Elevation</h2>
			</header>
			<ul class="list-style-none type-body1">
				<li><strong>.z-depth-button</strong> - </li>
				<li><strong>.z-depth-button-pressed</strong> - </li>
				<li><strong>.z-depth-fab</strong> - </li>
				<li><strong>.z-depth-bar</strong> - </li>
				<li><strong>.z-depth-quick-entry-scrolled</strong> - </li>
				<li><strong>.z-depth-card</strong> - </li>
				<li><strong>.z-depth-menu</strong> - </li>
				<li><strong>.z-depth-topmenu</strong> - </li>
				<li><strong>.z-depth-dialog</strong> - </li>
			</ul>
		</div>





		</div>
		<div class="col3">
			<div class="lead1">
				<header>
					<h2 class="type-subhead2 quiet">Display</h2>
				</header>
				<ul class="list-style-none type-body1">
					<li>
						<strong>.display-none</strong> - sets the display property to none.
					</li>
					<li>
						<strong>.display-block</strong> - sets the display property to block.
					</li>
					<li>
						<strong>.display-inline</strong> - sets the display property to inline.
					</li>
					<li>
						<strong>.display-inline-block</strong> - sets the display property to inline-block.
					</li>
					<li>
						<strong>.relative</strong> - sets the position to relative;
					</li>
					<li>
						<strong>.stretch</strong> - sets a 100% width.
					</li>
					<li>
						<strong>.fit</strong> - sets a max width to 100% (useful for responsive images).
					</li>
					<li>
						<strong>.centered</strong> - sets the margin to auto.
					</li>
					<li>
						<strong>.nowrap</strong> - sets white-space to nowrap.
					</li>
					<li>
						<strong>.col1 - .col5</strong> - uses a floated column layout.
					</li>
					<li>
						<strong>.nobullets</strong> - use on ul's to remove the bullet.
					</li>
				</ul>
			</div>

			<div class="lead1">
				<header>
					<h2 class="type-subhead2 quiet">Position Indicators</h2>
				</header>
				<ul class="list-style-none type-body1">
					<li>
						<strong>.first</strong> - removes the left margin.
					</li>
					<li>
						<strong>.last</strong> - removes the right margin.
					</li>
					<li>
						<strong>.top</strong> - removes the top margin.
					</li>
					<li>
						<strong>.bottom</strong> - removes the bottom margin.
					</li>
				</ul>
			</div>

			<div class="lead1">
				<header>
					<h2 class="type-subhead2 quiet">Floats and Clears</h2>
				</header>
				<ul class="list-style-none type-body1">
					<li>
						<strong>.float-left</strong> - adds float:left
					</li>
					<li>
						<strong>.float-right</strong> -adds float: right
					</li>
					<li>
						<strong>.clear</strong> - clears both left and right floats.
					</li>
					<li>
						<strong>.clear-left</strong> - clears left floats.
					</li>
					<li>
						<strong>.clear-right</strong> - clears both right floats.
					</li>
					<li>
						<strong>.clear-fix</strong> - applies a clearfix to the element.
					</li>

				</ul>
			</div>
		</div>
		<div class="col3">
			<div class="lead1">
				<header>
					<h2 class="type-subhead2 quiet">Sizes</h2>
				</header>
				<p>
					Semantic styling for sizes. These are not implemented stand alone, however,
					containers may implement them to allow the controlling of size.
				</p>
				<ul class="list-style-none type-body1">
					<li>
						<strong>.x-small</strong>
					</li>
					<li>
						<strong>.small</strong>
					</li>
					<li>
						<strong>.medium</strong>
					</li>
					<li>
						<strong>.large</strong>
					</li>
					<li>
						<strong>.x-large</strong>
					</li>
				</ul>
			</div>



				<header>
					<h2 class="type-subhead2 quiet">Text Formatting</h2>
				</header>
				<ul class="list-style-none type-body1">
					<li>
						<strong>.text-left</strong> - left aligned text.
					</li>
					<li>
						<strong>.text-center</strong> - center aligned text.
					</li>
					<li>
						<strong>.text-right</strong> - right aligned text.
					</li>
					<li>
						<strong>.text-justify</strong> - justified text alignement.
					</li>
					<li>
						<strong>.text-small</strong> - a decrease in the default text size.
					</li>
					<li>
						<strong>.text-large</strong> - an increase in the default text size.
					</li>
				</ul>
			</div>

			<div class="lead1">
				<header>
					<h2 class="type-subhead2 quiet">Padding</h2>
				</header>
				<ul class="list-style-none type-body1">
					<li>
						<strong>.pad - .pad3</strong> - various levels of padding.
					</li>
					<li>
						<strong>.pad-left</strong> - adds left padding.
					</li>
					<li>
						<strong>.pad-right</strong> - adds right padding.
					</li>
					<li>
						<strong>.pad-top</strong> - adds top padding.
					</li>
					<li>
						<strong>.pad-bottom</strong> - adds bottom padding.
					</li>
				</ul>
			</div>

			<div class="lead1">
				<header>
					<h2 class="type-subhead2 quiet">Margin</h2>
				</header>
				<ul class="list-style-none type-body1">
					<li>
						<strong>.margin - .margin3</strong> - various levels of margin.
					</li>
					<li>
						<strong>.margin-left</strong> - adds left margin.
					</li>
					<li>
						<strong>.margin-right</strong> - adds right margin.
					</li>
					<li>
						<strong>.margin-top</strong> - adds top margin.
					</li>
					<li>
						<strong>.margin-bottom</strong> - adds bottom margin.
					</li>
				</ul>
			</div>
		</div>
</section>

		
		
		

</div>



@section scripts {
	<script>
	</script>
}
