@section head {
	@Scripts.Render("~/scripts/holder.js")	
}
<div class="page-content">
	<h2>Data Tables</h2>
	<div class="outline example">
		
		<table class="datatable striped hover">
			<thead>
				<tr>
					<th></th>
					<th>First Name</th>
					<th>Last Name</th>
					<th class="attn">Username</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>motto</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>jthornton</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Larry</td>
					<td>the Bird</td>
					<td>lbird</td>
				</tr>
			</tbody>
		</table>

	</div>
	<pre class="prettyprint">
&lt;table class="datatable striped hover">...&lt;/table>
</pre>

	<h3>Striped </h3>
	<p>To get alternate row colors set a <code>.striped</code> class on the data table.
		IE7 and IE8 do not support the :nth-child selector, so a .striped class will need to be aded
		to alternate rows for those browsers.
	</p>
	<pre class="prettyprint">
&lt;table class="datatable striped">...&lt;/table>
</pre>

	<h3>Hover</h3>
	<p>Adding a <code>.hover</code> class will enable a hover state on rows within the tbody.</p>
	<pre class="prettyprint">
&lt;table class="datatable hover">...&lt;/table>
</pre>

	<h3>Condensed</h3>
	<p>The default responsive behavior of the data table is to decrease padding as the screen size decreases.
		To condense the table manually, add a <code>.condensed</code> class to the table.
	</p>
	<div class="outline example">
		
		<table class="datatable condensed">
			<thead>
				<tr>
					<th></th>
					<th>First Name</th>
					<th>Last Name</th>
					<th class="loud">Username</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>motto</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>jthornton</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Larry</td>
					<td>the Bird</td>
					<td>lbird</td>
				</tr>
			</tbody>
		</table>
	</div>
		<pre class="prettyprint">
&lt;table class="datatable condensed">...&lt;/table>
</pre>

	<h3>Grouping</h3>
	<p>To add a grouping effect to the table add a <code>&lt;th></code> in the tbody.</p>




	<h2>Tiles</h2>
	
	<h3>Vertical Tile</h3>
	<p>Use the <code>.col</code> to constrain the vertical tiles.</p>
	<div class="outline example">
		<div class="tiles">
			<div class="tile col5 hover">
				<a href="#" class="media">
					<img src="~/scripts/holder.js?400x200/auto">
				</a>
				<div class="caption text-justify">
					<a href="#"><h2>Name of Tile</h2></a>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
				</div>
			</div>
			<div class="tile col5 hover">
				<a href="#" class="media">
					<img src="~/scripts/holder.js?400x200/auto">
				</a>
				<div class="caption">
					<a href="#"><h2>Name of Tile</h2></a>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
				</div>
			</div>
			<div class="tile col5 hover">
				<a href="#" class="media">
					<img src="~/scripts/holder.js?400x200/auto">
				</a>
				<div class="caption">
					<a href="#"><h2>Name of Tile</h2></a>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
				</div>
			</div>
			<div class="tile col5 hover">
				<a href="#" class="media">
					<img src="~/scripts/holder.js?400x200/auto">
				</a>
				<div class="caption">
					<a href="#"><h2>Name of Tile</h2></a>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
				</div>
			</div>
			<div class="tile col5 hover">
				<a href="#" class="media">
					<img src="~/scripts/holder.js?400x200/auto">
				</a>
				<div class="caption">
					<a href="#"><h2>Name of Tile</h2></a>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col5"><div class="outline">.col5</div></div>
			<div class="col5"><div class="outline">.col5</div></div>
			<div class="col5"><div class="outline">.col5</div></div>
			<div class="col5"><div class="outline">.col5</div></div>
			<div class="col5"><div class="outline">.col5</div></div>
		</div>
	</div>
	<h3>Horizontal Tile</h3>
	<p>Add the <code>.tile-wide</code> class to create a horizontal tile.</p>
	<div class="outline example">
		<div class="tile tile-wide hover row-small">
			<a href="#" class="media">
				<img src="~/scripts/holder.js?400x200/auto">
			</a>
			<div class="caption">
				<a href="#"><h2>Name of Tile</h2></a>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam
				</p>
			</div>
		</div>
		<div class="tile tile-wide hover row-small">
			<a href="#" class="media">
				<img src="~/scripts/holder.js?200x400/auto">
			</a>
			<div class="caption">
				<a href="#"><h2>Name of Tile</h2></a>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam
				</p>
			</div>
		</div>
		<div class="tile tile-wide hover row-small">
			<a href="#" class="media">
				<img src="~/scripts/holder.js?100x50/auto">
			</a>
			<div class="caption">
				<a href="#"><h2>Name of Tile</h2></a>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam
				</p>
			</div>
		</div>
	</div>
</div>
@section scripts {
<script>
</script>
}
