<div class="page">
	<header class="aside page-header">
		<h1>Collections</h1>
	</header>
	<div class="aside">
		<aside class="page-aside">
			<section class="menulist">
				<h2>.menulist</h2>
				<ul>
					<li>Menu Item 1</li>
					<li>Menu Item 2</li>
					<li>Menu Item 3</li>
					<li>Menu Item 4</li>					
					<li>Menu Item 5</li>					
				</ul>
			</section>
		</aside>
		<span class="page-content">
			<section class="colgrid selectable">
				<h2>.colgrid</h2>
				<ul>
					<li class="col">
						<h3>Item 1</h3>
						Description
					</li>
					<li class="col">
						<h3>Item 2</h3>
						Description
					</li>
					<li class="col">
						<h3>Item 3</h3>
						Description
					</li>
					<li class="col">
						<h3>Item 4</h3>
						Description
					</li>
					<li class="col">
						<h3>Item 5</h3>
						Description
					</li>
					<li class="col">
						<h3>Item 6</h3>
						Description
					</li>
					<li class="col">
						<h3>Item 7</h3>
						Description
					</li>
				</ul>
			</section>
			<section class="datalist">
				<h2>.datalist</h2>
				<ul>
					<li class="heading">
						<span class="col">Column</span>
						<span class="col">Column</span>
						<span class="col">Column</span>
					</li>
					<li>
						<span class="col">Column</span>
						<span class="col">Column</span>
						<span class="col">Column</span>
					</li>
				</ul>
			</section>	
		</div>
	</div>
	
</div>



@section scripts {
<script>
</script>
}
