@*
		
*@
@section head {
	<style>
		
	</style>
}
@section scripts {
	<script>
	</script>
}
<div class="page-content">

	<section class="lead">
		<div class="clearfix lead">
			<h1 class="type-display1 lead loud float-left">Color application</h1>
			<div class="float-right">
				<p>
					Reference: <a href="https://www.google.com/design/spec/style/color.html">Material Design : Color</a>.
				</p>
			</div>
		</div>

		<h2 class="type-subhead2 lead">Color palette</h2>
		<div class="row lead">
			<div class="col3">
				<p>
					The color palette is themable.
				</p>
				<p>
					Each swatch is accompanied with a CSS class which colors the background and appropriate foreground theme.
				</p>
			</div>
			<div class="col3">
				<div class="box-primary swatch lead big">Primary <span class="float-right">.box-primary</span></div>
				<div class="box-primary-lighter swatch">Lighter <span class="float-right">.box-primary-lighter</span></div>
				<div class="box-primary swatch">Primary <span class="float-right">.box-primary</span></div>
				<div class="box-primary-darker swatch">Darker <span class="float-right">.box-primary-darker</span></div>
			</div>
			<div class="col3">
				<div class="box-accent swatch lead big">Accent <span class="float-right">.box-accent</span></div>
				<div class="swatch"><span class="type-body1 quiet">Fallback</span></div>
				<div class="box-accent-lighter swatch">Lighter <span class="float-right">.box-accent-lighter</span></div>
				<div class="box-accent-darker swatch">Darker <span class="float-right">.box-accent-darker</span></div>
			</div>
		</div>
		
		<h2 class="type-subhead2 lead">Other palette classes</h2>
		<div class="row lead">
			<div class="col3">
				<p>
					These classes give full access to the palettes primary and accent colors if needed.
				</p>
			</div>
			<div class="col3-2">
				<div class="outline">
					<div class="color-primary">Primary <span class="float-right">.color-primary</span></div>
					<div class="color-primary-darker">Primary - Darker <span class="float-right">.color-primary-darker</span></div>
					<div class="color-primary-lighter">Primary - Lighter <span class="float-right">.color-primary-lighter</span></div>
					<div class="color-accent">Accent <span class="float-right">(.color-accent)</span></div>
					<div class="color-accent-darker">Accent - Darker <span class="float-right">.color-accent-darker</span></div>
					<div class="color-accent-lighter">Accent - Lighter <span class="float-right">.color-accent-lighter</span></div>
				</div>
			</div>
		</div>
		
		<h2 class="type-subhead2 lead">Helper classes and default styling</h2>
		<div class="row lead">
			<div class="col3">
				<p>
					There is a set of class names and default tag styling that also make use of color.
				</p>
				<p>
					These colors can respond to both light and dark themes.
				</p>
			</div>
			<div class="col3-2">
				<div class="outline">
					<ul class="list-style-none">
						<li>
							<strong class="float-right">.quiet</strong>
							<span class="quiet">Use quiet to dampen text such as subeaders and secondary text.</span>
						</li>
					</ul>
					<ul class="list-style-none">
						<li>
							<strong class="float-right">.disabled</strong>
							<span class="disabled">Disabled is supported as a class.</span>
						</li>
						<li>
							<strong class="float-right">[disabled]</strong>
							<span disabled>Disabled ia also supported as an attribute.</span>
						</li>
						<li>
							<strong class="float-right">.hint</strong>
							<span class="hint">There is also the hint class.</span>
						</li>
					</ul>
					<ul class="list-style-none">
						<li>
							<strong class="float-right">.loud</strong>
							<span class="loud">
								There is the loud text
								<strong>(which can stand out)</strong>.
							</span>
						</li>
						<li>
							<strong class="float-right">.attn</strong>
							<span class="attn">
								And there is ".attn"
								<strong>(to grab attention)</strong>.
							</span>
						</li>
					</ul>
					<ul class="pad-top list-style-none">
						<li>
							<strong class="float-right">hr</strong>
							<span>The hr element is also styled for the corresponding theme:</span>
							<hr />
						</li>
						
					</ul>
					<ul class="list-style-none">
						<li>
							<strong class="float-right">a, .link</strong>
							<a>Links are the primary color by default</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>


	<hr class="margin-h type-display4" />


	<section>
		<h1 class="type-display1 loud lead">Themes</h1>
		<div class="row lead">
			<div class="col2">
				<div class="type-subhead2">Light theme</div>
				<p class="lead">
					Dark text on a light background.
				</p>
				<div class="outline nopad color-light-quiet margin-top">
					<div class="bg-color-light-outerbar swatch big">Outber bar <span class="float-right">.bg-color-light-outerbar</span></div>
					<div class="bg-color-light-bar swatch big">Toolbars <span class="float-right">.bg-color-light-bar</span></div>
					<div class="bg-color-light swatch big">Base background <span class="float-right">.bg-color-light</span></div>
					<div class="bg-color-light-content swatch big">Content <span class="float-right">.bg-color-light-content</span></div>
				</div>
			</div>
			<div class="col2">
				<div class="type-subhead2">Dark theme</div>
				<p class="lead">
					Light text on a dark background.
				</p>
				<div class="outline nopad color-dark-quiet margin-top">
					<div class="bg-color-dark-outerbar swatch big">Outber bar <span class="float-right">.bg-color-dark-outerbar</span></div>
					<div class="bg-color-dark-bar swatch big">Toolbars <span class="float-right">.bg-color-dark-bar</span></div>
					<div class="bg-color-dark swatch big">Base background <span class="float-right">.bg-color-dark</span></div>
					<div class="bg-color-dark-content swatch big">Content<span class="float-right">.bg-color-dark-content</span></div>
				</div>
			</div>
		</div>

	</section>
	
	<hr class="margin-h type-display4"/>

	<section>
		<h2 class="type-display1 loud lead">Sass support</h2>
		<p class="type-width-readable lead">
			There are mixins and variables provided to pull color into any other sass mixin or external style sheet.
			Mixins for the pallete, all colors and themes, links, scrollbars, text selection, and item selection.
		</p>

		<div class="lead">
			<h3 class="type-subhead2 quiet">Background color mixins</h3>
			<ul>
				<li>bg-color-content($theme)</li>
				<li>bg-color($theme)</li>
				<li>bg-color-bar($theme)</li>
				<li>bg-color-outerbar($theme)</li>
			</ul>
		</div>
		<div class="lead">
			<h3 class="type-subhead2 quiet">Foreground color mixins</h3>
			<ul>
				<li>color($theme)</li>
				<li>color-quiet($theme)</li>
				<li>color-disabled($theme)</li>
				<li>color-divider-bg($theme)</li>
				<li>color-divider-border($theme)</li>
			</ul>
		</div>
		<div class="lead">
			<h3 class="type-subhead2 quiet">Other </h3>
			<ul>
				<li>color-box($theme, $primary, $accent)</li>
				<li>color-box-classes($theme, $primary, $accent)</li>
				<li>color-scrollbar($theme)</li>
				<li>color-links($primary, $accent)</li>
				<li>color-text-selection($bg-color, $theme)</li>
				<li>color-selected-item($theme)</li>
			</ul>
		</div>
	</section>
</div>
				
				