@*
		Color
	Add a color page to the style guide
	show pallets, light/dark themes
	Test going back and forth between themes.

	COLOR:
	use class names for container color and container structure:
	--make class names available for all of the colors
	.color-toolbar
	.color-toolbar-light
	.color-toolbar-dark
	.color-primary
	.color-accent

	.color-divider
	.bgcolor-toolbar
	.bgcolor-divider
	---


	components define both the structure and an initial color.



*@
@section head {
}
@section scripts {
	<script>
	</script>
}
<div class="page-content">
	Color



	<h2>Priority and Emphasis</h2>
	<div class="outline example">
		<p>
			<span class="quiet">.quiet - dampen or detract from the text.</span>
			Similar to <small>the 'small' tag used for fine print</small>.
		</p>
		<p>
			<span class="loud">.loud - make the text stand out.</span>
			Similar to <strong>the 'strong' tag to bold</strong> or <b>the 'b' tag</b>.
		</p>
		<p>
			<span class="attn">.attn - draw attention to the text.</span>
			Similar to <em>the 'em emphasis tag for italics</em> or <i>the 'i' tag</i>.
		</p>

		<p>Combine for desired effects.</p>
		<p>
			<small class="quiet">Small and quiet.</small>
			<strong class="loud">Strong and loud.</strong>
			<em class="loud">Em and loud.</em>
			<strong class="attn">Strong and attn.</strong>
			<em class="attn">Em and attn.</em>
		</p>
		<p>Color is meant to draw the eye where the tag is to portray context and meaning.</p>
	</div>
<pre class="prettyprint linenums">
&lt;span class="quiet">.quiet - dampen or detract from the text.&lt;/span>
Similar to &lt;small>the 'small' tag&lt;/small>.
&lt;span class="loud">.loud - make the text stand out.&lt;/span>
Similar to &lt;strong>the 'strong' tag&lt;/strong> or &lt;b>the 'b' tag&lt;/b>.	
&lt;span class="attn">.attn - draw attention to the text.&lt;/span>
Similar to &lt;em>the 'em' emphasis tag&lt;/em> or &lt;i>the 'i' tag&lt;/i>.
</pre>

</div>

