@*
		Color
	Add a color page to the style guide
	show pallets, light/dark themes
	Test going back and forth between themes.

	COLOR:
	use class names for container color and container structure:
	--make class names available for all of the colors
	.color-toolbar
	.color-toolbar-light
	.color-toolbar-dark
	.color-primary
	.color-accent

	.color-divider
	.bgcolor-toolbar
	.bgcolor-divider
	---


	components define both the structure and an initial color.



*@
@section head {
}
@section scripts {
	<script>
	</script>
}
<div class="page-content">
	Color
</div>
