@section head {
	@Styles.Render("~/content/site/ext/pager.css")
	@Scripts.Render("~/scripts/holder.js")
}

<div class="page-content">
	

	<h2>Tiles</h2>
	
	<h3>Vertical Tile</h3>
	<p>Use the <code>.col</code> to constrain the vertical tiles.</p>
	<div class="outline example">
		<div class="tile col5 hover">
			<a href="#" class="media">
				<img src="~/scripts/holder.js?400x200/auto">
			</a>
			<div class="caption">
				<a href="#"><h2>Name of Tile</h2></a>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
				</p>
			</div>
		</div>
		<div class="tile col5 hover">
			<a href="#" class="media">
				<img src="~/scripts/holder.js?400x200/auto">
			</a>
			<div class="caption">
				<a href="#"><h2>Name of Tile</h2></a>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
				</p>
			</div>
		</div>
		<div class="tile col5 hover">
			<a href="#" class="media">
				<img src="~/scripts/holder.js?400x200/auto">
			</a>
			<div class="caption">
				<a href="#"><h2>Name of Tile</h2></a>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
				</p>
			</div>
		</div>
		<div class="tile col5 hover">
			<a href="#" class="media">
				<img src="~/scripts/holder.js?400x200/auto">
			</a>
			<div class="caption">
				<a href="#"><h2>Name of Tile</h2></a>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
				</p>
			</div>
		</div>
		<div class="tile col5 hover">
			<a href="#" class="media">
				<img src="~/scripts/holder.js?400x200/auto">
			</a>
			<div class="caption">
				<a href="#"><h2>Name of Tile</h2></a>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
				</p>
			</div>
		</div>
	</div>
	<h3>Horizontal Tile</h3>
	<p>Add the <code>.tile-inline</code> class to create a horizontal tile.</p>
	<div class="outline example">
		<div class="tile tile-inline hover">
			<a href="#" class="media">
				<img src="~/scripts/holder.js?400x200/auto">
			</a>
			<div class="caption">
				<a href="#"><h2>Name of Tile</h2></a>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam
				</p>
			</div>
		</div>
	</div>
	
	
	<h2>Pager</h2>
	<div class="outline example">
		
		<div class="pager">
			<ul>
				<li class="disabled" title="first page"><span class="pager-symbol">&laquo;</span></li>
				<li class="disabled" title="previous page"><span class="pager-symbol">&lsaquo;</span></li>
				<li class="selected"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#" title="next page" class="pager-symbol">&rsaquo;</a></li>
				<li><a href="#" title="last page" class="pager-symbol">&raquo;</a></li>
			</ul>
		</div>

	</div>
	<pre class="prettyprint">
Add markup and examples
</pre>
</div>


@*
tiles in lists
tiles with / without links
stand alone tiles
tile sizing horizontally
width and height constraints on h2/h3/p
*@