@*
			Data Table
		Items are in rows
		Define selection strategies and row layout.



	in datatable - add support for a fixed header!
	could just be a fixed table then add a script call (to a service) that fixes the header and adds a margin to the top of the table.

*@
@section head {
}
@section scripts {
	<script>
	</script>
}
<div class="page-content">
	<h2>Data Tables</h2>
	<div class="outline example">

		<table class="datatable striped hover">
			<thead>
				<tr>
					<th></th>
					<th>First Name</th>
					<th>Last Name</th>
					<th class="attn">Username</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>motto</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>jthornton</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Larry</td>
					<td>the Bird</td>
					<td>lbird</td>
				</tr>
			</tbody>
		</table>

	</div>
	<pre class="prettyprint linenums">
&lt;table class="datatable striped hover">...&lt;/table>
</pre>

	<h3>Striped </h3>
	<p>
		To get alternate row colors set a <code>.striped</code> class on the data table.
		IE7 and IE8 do not support the :nth-child selector, so a .striped class will need to be aded
		to alternate rows for those browsers.
	</p>
	<pre class="prettyprint linenums">
&lt;table class="datatable striped">...&lt;/table>
</pre>

	<h3>Hover</h3>
	<p>Adding a <code>.hover</code> class will enable a hover state on rows within the tbody.</p>
	<pre class="prettyprint linenums">
&lt;table class="datatable hover">...&lt;/table>
</pre>

	<h3>Condensed</h3>
	<p>
		The default responsive behavior of the data table is to decrease padding as the screen size decreases.
		To condense the table manually, add a <code>.condensed</code> class to the table.
	</p>
	<div class="outline example">

		<table class="datatable condensed">
			<thead>
				<tr>
					<th></th>
					<th>First Name</th>
					<th>Last Name</th>
					<th class="loud">Username</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>motto</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>jthornton</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Larry</td>
					<td>the Bird</td>
					<td>lbird</td>
				</tr>
			</tbody>
		</table>
	</div>
	<pre class="prettyprint">
&lt;table class="datatable condensed">...&lt;/table>
</pre>

	<h3>Grouping</h3>
	<p>To add a grouping effect to the table add a <code>&lt;th></code> in the tbody.</p>

	<h3>No Data Display</h3>
	<p>
		For empty data tables a row in the tbody can have the <code>.datatable-empty</code> class applied to the <code>tr</code> tag.
	</p>

	@*<section class="tiles selectable">
			<h2>.colgrid</h2>
			<ul>
				<li class="col">
					<h3>Item 1</h3>
					Description
				</li>
				<li class="col">
					<h3>Item 2</h3>
					Description
				</li>
				<li class="col">
					<h3>Item 3</h3>
					Description
				</li>
				<li class="col">
					<h3>Item 4</h3>
					Description
				</li>
				<li class="col">
					<h3>Item 5</h3>
					Description
				</li>
				<li class="col">
					<h3>Item 6</h3>
					Description
				</li>
				<li class="col">
					<h3>Item 7</h3>
					Description
				</li>
			</ul>
		</section>*@
	@*<section class="datalist">
			<h2>.datalist</h2>
			<ul class="stretch">
				<li class="heading">
					<span class="col">Name</span>
					<span class="col">Some detail</span>
					<span class="col text-right attn">Important</span>
				</li>
				<li>
					<span class="col">Column this is a longer one</span>
					<span class="col">Column</span>
					<span class="col text-right">Short</span>
				</li>
				<li>
					<span class="col">Column</span>
					<span class="col">Column</span>
					<span class="col text-right">5</span>
				</li>
			</ul>
		</section>	*@


</div>
