@*
			Data Lists
		Items are in list items.
		Define selection strategies and item layout.


		---


		---
	datalists (true for all lists - menus only have primary text)
	all text 14px hint font - .loud/strong for bold lines
	then support an h2/h3 for the primary text
	-- menulist font is 1em/16px (all is primary)
	-- datalist font is 14px - but 1em for primary text
	-- dls, .propertylist, .propertybag are all 14px
	-- filterlist is also all 14px


*@
@section head {
}
@section scripts {
	<script>
	</script>
}
<div>

	<h2>Data Lists</h2>
	<p>
		A data list is similar to a data table however using an unordered list as it's markup.
	</p>
	<div class="outline example">

		<div class="datalist">
			<ul>
				<li class="heading">
					<div class="col3">First name</div>
					<div class="col3">Last name</div>
					<div class="col3">User name</div>
				</li>
				<li>
					<div class="col3">Mark</div>
					<div class="col3">Otto</div>
					<div class="col3">motto</div>
				</li>
			</ul>
		</div>

	</div>

</div>
