@*
		Data Lists
	Items are in list items.
	Define selection strategies and item layout.

*@
@section head {
}
@section scripts {
	<script>
	</script>
}
<div class="page-content">

	<h2>Data Lists</h2>
	<p>
		A data list is similar to a data table however using an unordered list as it's markup.
	</p>
	<div class="outline example">

		<div class="datalist">
			<ul>
				<li class="heading">
					<div class="col3">First name</div>
					<div class="col3">Last name</div>
					<div class="col3">User name</div>
				</li>
				<li>
					<div class="col3">Mark</div>
					<div class="col3">Otto</div>
					<div class="col3">motto</div>
				</li>
			</ul>
		</div>

	</div>

</div>
