@*
		Elevations
	-show menu, snack bar, cards, (these exist today - then add the missing ones)

*@
@section head {
	<style>
		.z-depth-example {
			margin-bottom: 2em;
		}
		 .z-depth-example span {
			 display: inline-block;
			 padding: 2em;
		 }
	</style>
}
@section scripts {
	<script>
	</script>
}

<div class="clearfix lead">
	<h1 class="type-display1 lead loud float-left">Z-depth</h1>
	<div class="float-right">
		<p>
			Reference: <a href="https://www.google.com/design/spec/what-is-material/elevation-shadows.html">Material Design : Elevation and shadow</a>.
		</p>
	</div>
</div>
<div class="row">
	<div class="bgcolor-content-light col3 z-depth-button z-depth-example">
		<span>.z-depth-button</span>
	</div>
	<div class="bgcolor-content-light col3 z-depth-bar z-depth-example">
		<span>.z-depth-bar</span>
	</div>
	<div class="bgcolor-content-light col3 z-depth-menu z-depth-example">
		<span>.z-depth-menu</span>
	</div>
	<div class="bgcolor-content-light col3 z-depth-button-pressed z-depth-example">
		<span>.z-depth-button-pressed</span>
	</div>
	<div class="bgcolor-content-light col3 z-depth-quick-entry-scrolled z-depth-example">
		<span>.z-depth-quick-entry-scrolled</span>
	</div>
	<div class="bgcolor-content-light col3 z-depth-topmenu z-depth-example">
		<span>.z-depth-topmenu</span>
	</div>
	<div class="bgcolor-content-light col3 z-depth-fab z-depth-example">
		<span>.z-depth-fab</span>
	</div>
	<div class="bgcolor-content-light col3 z-depth-card z-depth-example">
		<span>.z-depth-card</span>
	</div>
	<div class="bgcolor-content-light col3 z-depth-dialog z-depth-example">
		<span>.z-depth-dialog</span>
	</div>
	<div class="bgcolor-content-light col3 z-depth-none z-depth-example">
		<span>.z-depth-none</span>
	</div>
</div>
