@{
	string columns = ViewBag.Columns as string;
	if (columns == null) { 
		columns = "col2";
	}
}
@section pageheader {
}
@section scripts {
}
<div class="page-content">
<h2>Icon Button Test</h2>
<div style="background: #EEEEEE" class="toolbar large">
	<div class="float-left">
		<span class="icon-menu" tabindex="0" role="button"></span>
	</div>
	<div class="float-right">
		<span class="icon-image" tabindex="0" role="button"></span>
		<span class="icon-cogs" tabindex="0" role="button"></span>
		<span class="icon-align-left" tabindex="0" role="button"></span>
		<span class="icon-align-center" tabindex="0" role="button"></span>
		<span class="icon-align-right" tabindex="0" role="button"></span>
		<span class="icon-align-justify" tabindex="0" role="button"></span>
	</div>
</div>

	<h2>Buttons</h2>
	<p>
		Native button elements will be styled automatically.
		If wanting to make a link or span look like a button use the <code>.button</code> class.
	</p>
	<p>
		There is also the <code>.loud</code> class to indicate importance, and the <code>.attn</code>
		class to grab the users attention. (The attn class should be limited to one per visual screen.)
	</p>
	<p>
		Use a <code>&lt;span></code> inside a <code>&lt;button></code> element to keep Internet Explorer
		from shifting the text when pressing the button. Note: this cannot be avoided for input type buttons
		and does not occur on link buttons.
	</p>
	<div class="card">

		<div class="outline example">
			<input type="button" value="Standard button" />
			<button class="loud"><span>Loud button</span></button>
			<a href="#" class="button attn">Attn button</a>
		</div>
		<pre class="prettyprint linenums">
&lt;input type="button" value="Standard button" />
&lt;button class="loud">&lt;span>Loud button&lt;/span>&lt;/button>
&lt;a href="#" class="button attn">Attn button&lt;/a>	
</pre>
	</div>

	<h3>Flat Buttons</h3>
	<p>
		Add a <code>.flat</code> class name for buttons already on a raised content area or an area.
	</p>
	<div class="card">
		<div class="outline example">
			<input type="button" class="flat" value="Standard button" />
			<button class="flat loud"><span>Loud button</span></button>
			<a href="#" class="flat button attn">Attn button</a>
		</div>
		<pre class="prettyprint linenums">
&lt;input type="button" class="flat" value="Standard button" />
&lt;button class="flat loud">&lt;span>Loud button&lt;/span>&lt;/button>
&lt;a href="#" class="flat button attn">Attn button&lt;/a>	
</pre>

	</div>

	<h3>Disabled Buttons</h3>
	<p>
		All buttons will style accordingly when adding the <code>[disabled]</code> attribute.
	</p>
	<div class="card">
		<div class="outline example">
			<input type="button" value="Standard disabled" disabled />
			<button class="loud" disabled><span>Loud disabled</span></button>
			<a class="button attn" disabled>Attn disabled</a>
			<input type="button" class="flat" value="Standard disabled" disabled />
			<button class="flat loud" disabled><span>Loud disabled</span></button>
			<a class="flat button attn" disabled>Attn disabled</a>
		</div>
		<pre class="prettyprint linenums">
&lt;input type="button" value="Standard disabled" disabled />
&lt;button class="loud" disabled>&lt;span>Loud disabled&lt;/span>&lt;/button>
&lt;a class="button attn" disabled>Attn disabled&lt;/a>
&lt;input type="button" class="flat" value="Standard disabled" disabled />
&lt;button class="flat loud" disabled>&lt;span>Loud disabled&lt;/span>&lt;/button>
&lt;a class="flat button attn" disabled>Attn disabled&lt;/a>
</pre>
	</div>
		


	<h2>Default Form</h2>
	<p>
		The default form uses labels placed on the same row as the input.
	</p>
	<div class="card">
		<div class="outline example">
			<form>
				<fieldset>
					<legend>Legend</legend>
					<div class="form-field">
						<label>Label name</label>
						<input type="text" placeholder="Type something…">
						<span>Example extra text in a span.</span>
					</div>
					<div class="form-field">
						<label for="password">Password</label>
						<input id="password" type="password" placeholder="Enter a password..." />
						<div>Example extra text in a div.</div>
					</div>
					<div class="form-field">
						<label for="select">Select</label>
						<select id="select">
							<option>Option 1</option>
							<option>Option 2</option>
						</select>
					</div>
					<div class="form-field">
						<input id="checkbox" type="checkbox" />
						<label for="checkbox">Checkbox label</label>
					</div>
					<div class="form-field">
						<input type="radio" id="rad_1" name="rad"  value="1" checked />
						<label for="rad_1">Option 1</label>
					</div>
					<div class="form-field">
						<input type="radio" id="rad_2" name="rad" value="2" />
						<label for="rad_2">Option 2</label>
					</div>
					<div class="form-field">
						<label for="textarea">Text2</label>
						<textarea id="textarea" rows="3" cols="30"></textarea>
					</div>
				
					<div class="form-controls">
						<button type="submit">Submit</button>
					</div>
				</fieldset>
			</form>
		</div>
		<pre class="prettyprint linenums">
&lt;form>
	&lt;fieldset>
		&lt;legend>Legend&lt;/legend>
		&lt;div class="form-field">
			&lt;label>Label name&lt;/label>
			&lt;input type="text" placeholder="Type something…">
			&lt;span>Example extra text in a span.&lt;/span>
		&lt;/div>
		&lt;div class="form-field">
			&lt;label for="password">Password&lt;/label>
			&lt;input id="password" type="password" placeholder="Enter a password..." />
			&lt;div>Example extra text in a div.&lt;/div>
		&lt;/div>
		&lt;div class="form-field">
			&lt;label for="select">Select&lt;/label>
			&lt;select id="select">
				&lt;option>Option 1&lt;/option>
				&lt;option>Option 2&lt;/option>
			&lt;/select>
		&lt;/div>
		&lt;div class="form-field">
			&lt;input id="checkbox" type="checkbox" />
			&lt;label for="checkbox">Checkbox label&lt;/label>
		&lt;/div>
		&lt;div class="form-field">
			&lt;input type="radio" id="rad_1" name="rad"  value="1" checked />
			&lt;label for="rad_1">Option 1&lt;/label>
		&lt;/div>
		&lt;div class="form-field">
			&lt;input type="radio" id="rad_2" name="rad" value="2" />
			&lt;label for="rad_2">Option 2&lt;/label>
		&lt;/div>
		&lt;div class="form-field">
			&lt;label for="textarea">Text2&lt;/label>
			&lt;textarea id="textarea" rows="3" cols="30">&lt;/textarea>
		&lt;/div>
		&lt;div class="form-controls">
			&lt;button type="submit">Submit&lt;/button>
		&lt;/div>
	&lt;/fieldset>
&lt;/form>
</pre>
	</div>
	
	<h2>Wide Form</h2>
	<p>
		A wide form places most labels to the left of their inputs taking up more horizontal space.
		This form will collapse to a default form on smaller screens.
	</p>
	<div class="card">
		<div class="outline example">
			<form class="form-wide">
				<fieldset>
					<legend>Legend</legend>
					<div class="form-field">
						<label>Label name</label>
						<input type="text" placeholder="Type something…">
						<span>Example extra text in a span.</span>
						<div>Example extra text in a div.</div>
					</div>
					<div class="form-field">
						<label for="select2">Select</label>
						<select id="select2">
							<option>Option 1</option>
							<option>Option 2</option>
						</select>
					</div>
					<div class="form-field">
						<input id="checkbox2" type="checkbox" />
						<label for="checkbox2">Checkbox label</label>
					</div>
					<div class="form-field">
						<input type="radio" id="rad_3" name="rad" value="1" checked />
						<label for="rad_3">Option 1</label>
					</div>
					<div class="form-field">
						<input type="radio" id="rad_4" name="rad" value="2" />
						<label for="rad_4">Option 2</label>
					</div>
					<div class="form-field">
						<label for="textarea">Text2</label>
						<textarea id="textarea" rows="3" cols="30"></textarea>
					</div>
					<div class="form-controls">
						<button type="submit">Submit</button>
					</div>
				</fieldset>
			</form>
		</div>
		<pre class="prettyprint linenums">
&lt;form class="form-wide">
...
&lt;/form>
</pre>
	</div>
	
	<h2>Inline Form</h2>
	<div class="card">
		<div class="outline example">
			<form class="form-inline">
				<input type="text" placeholder="Email">
				<input type="password" placeholder="Password">
				<button type="submit">Sign in</button>
				<span class="nowrap">
					<input id="checkbox3" type="checkbox" />
					<label for="checkbox3">Remember me?</label>
				</span>
			</form>
		</div>
		<pre class="prettyprint linenums">
&lt;form class="form-inline">
	&lt;input type="text" placeholder="Email">
	&lt;input type="password" placeholder="Password">
	&lt;button type="submit">Sign in&lt;/button>
	&lt;span class="nowrap">
		&lt;input id="checkbox3" type="checkbox" />
		&lt;label for="checkbox3">Remember me?&lt;/label>
	&lt;/span>
&lt;/form>
</pre>

	</div>
	<h2>Additional Form Styling</h2>

	<h3>Errors</h3>
	<p>To draw attention to a field add a <code>.error</code> class name on the <code>.form-field</code> div.</p>
	<p>An <code>.alert</code> div can be used for general form errors. h1 - h4 headings can be used (and all style the same way).</p>
	<div class="card">

		<div class="outline example">
			<form class="error">
				<div class="alert-error"><h1>There was an error</h1>This is a general form alert.</div>
				<fieldset>
					<legend>Legend</legend>
					<div class="form-field error">
						<label for="text1">Label name</label>
						<input type="text" id="text1" placeholder="Type something…">
						<span data-validation-for="text1">Example block-level help in a span.</span>
					</div>
				</fieldset>
			</form>
		</div>
		<pre class="prettyprint linenums">
&lt;form class="error">
	&lt;div class="alert-error">&lt;h1>There was an error.&lt;/h1>This is a general form alert.&lt;/div>
	&lt;fieldset>
		&lt;legend>Legend&lt;/legend>
		&lt;div class="form-field error">
			&lt;label for="text1">Label name&lt;/label>
			&lt;input type="text" id="text1" placeholder="Type something…">
			&lt;span data-validation-for="text1">Example block-level help in a span.&lt;/span>
		&lt;/div>
	&lt;/fieldset>
&lt;/form>
</pre>
	</div>


	<h3>Disabled Fields</h3>
	<p>Simple use the <code>[disabled]</code> attribute on any item to disable it.</p>
	<div class="card">
		<div class="outline example">
			<label disabled>Disabled label</label>
			<input type="text" disabled value="This is a disabled field" />
			<input type="button" disabled valuie="Disabled button" value="Go" />
		</div>
		<pre class="prettyprint linenums">
&lt;label disabled>Disabled label&lt;/label>
&lt;input type="text" disabled value="This is a disabled field" />
&lt;input type="button" disabled valuie="Disabled button" />	
</pre>
	</div>

	<h3>Input Impersonator</h3>
	<p>The <code>.input</code> class will attempt to make any element look like an input field.</p>
	<div class="card">
		<div class="outline example">
			<input type="text" value="This is a normal text input" />
			<a href="#" class="input">This is a link that looks like an input</a>
		</div>
		<pre class="prettyprint linenums">
&lt;a href="#" class="input">This is a link that looks like an input&lt;/a>
</pre>
	</div>
</div>




