@model List<Harbor.UI.Models.StyleGuide.StyleGuidePage>
<style>
	.page-content ul {
		list-style-type: none;
	}
	.page-content li a {
		xfont-size: 1.8em;
	}
</style>

<div data-templatefor="testApp" class="clear margin-bottom">
	<button data-event="clickTestButton">Test Button</button>
	<h1 name="bar" data-bind="class: h1Class"></h1>
	<div data-templatefor="testAppMainView" data-model="subModel">
		SUB TEMPLATE ! - {{bar}} <span name="bar" data-event="clickTestButton"></span> - that was bar - should be baz
		<div data-templatefor="testAppMainView2">
			<span name="bar" data-event="clickTestButton"></span>
		</div>
	</div>
	
	<button data-event="mousedown: clickTestButton">Test Button 2</button>
</div>


<div class="page-content">
	<ul>
		@foreach (var page in Model)
		{
			<li>
				@Html.ActionLink(page.Name, page.Key)
				<p>
					@page.Description
				</p>
					
			</li>	
		}
	</ul>
	<h2>System</h2>
	<p>
		Create a system page which describes the frame and the extraneous pages such as:
	</p>
	<ul>
		<li>
			<a href="~/Home/ThrowError">Server Error</a>
			<a href="~/Views/Shared/_404.cshtml">~/Views/Shared/_404.cshtml</a>	<p>
				A static link that will throw an error.
			</p>
		</li>
		<li>
			<a href="~/Foo">Page Not Found</a>
			<p>
				This links requests a page that does not exist.
			</p>
		</li>
	</ul>
</div>







@section scripts {

	<script>
		var ta = app("testApp").use("bbext");
		ta.start(["app", function (app) {

			// debugger;
			app.render();

		}]);

		

		ta.model("foo", {
			defaults: {
				bar: "baz"
			},
			h1Class: {
				get: function () {
					var x = parseInt(this.get("bar"));
					if (x > 10) {
						return "disabled";
					}
					if (x % 2 === 0) {
						return "attn";
					}
					return "";
				},
				bind: ["bar"]
			}
		});

		ta.view("testApp", ["options", "modelFactory", function (options, modelFactory) { // why wasn't error being thrown when options was not there?

			this.modelFactory = modelFactory;

		}], {	
			initialize: function () {
				var model;
				this.x = 0;

				this.model = this.modelFactory.create("foo");
				this.model.subModel = this.modelFactory.create("foo");
				this.model.subModel.set("bar", "high");
				model = this.model;

				//setInterval(function () {
				//	model.set("bar", model.get("bar") + ", " + (x++));
				//}, 1000);

			},
			
			clickTestButton: function () {
				console.log("Clicked");
				this.model.set("bar", (this.x++));
				// this.model.set("bar", this.model.get("bar") + ", " + (this.x++));
			}
		});
		
		ta.view("testAppMainView2", {
			initialize: function () {
				var model = this.model;
			}
		});


		ta.view("testAppMainView", {
			clickTestButton: function () {
				console.log("clicked 2");
			}
		});

		ta.start();
	</script>
}