@model List<Harbor.UI.Models.StyleGuide.StyleGuidePage>
<style>
	.page-content ul {
		list-style-type: none;
	}
	.page-content li a {
		xfont-size: 1.8em;
	}
</style>
<div class="page-content">
	<ul>
		@foreach (var page in Model)
		{
			<li>
				@Html.ActionLink(page.Name, page.Key)
				<p>
					@page.Description
				</p>
					
			</li>	
		}
	</ul>
	<h2>System</h2>
	<p>
		Create a system page which describes the frame and the extraneous pages such as:
	</p>
	<ul>
		<li>
			<a href="~/Home/ThrowError">Server Error</a>
			<p>
				A static link that will throw an error.
			</p>
		</li>
		<li>
			<a href="~/Foo">Page Not Found</a>
			<p>
				This links requests a page that does not exist.
			</p>
		</li>
	</ul>
</div>



<div data-templatefor="testApp">
	<button>Test Button</button>
	<h1 class="attn">{{bar}}</h1>
</div>



@section scripts {

	<script>
		var ta = app("testApp").use("bbext");
		ta.start(["app", function (app) {

			debugger;
			app.render();

		}]);

		

		ta.model("foo", {
			defaults: {
				bar: "baz"
			}
		});

		ta.view("testApp", ["options", "modelFactory", function (options, modelFactory) { // why wasn't error being thrown when options was not there?

			this.modelFactory = modelFactory;

		}], {	
			initialize: function () {

				this.model = this.modelFactory.create("foo");

			}
		});


		ta.start();
	</script>
}