@model List<Harbor.UI.Models.StyleGuide.StyleGuidePage>
<style>
	.page-content ul {
		list-style-type: none;
	}
	.page-content li a {
		xfont-size: 1.8em;
	}
</style>


<div class="page-content">
	<div>
		<p>A sample of page structure and layout can be viewed on the  @Html.ActionLink("Page Example", "Index", new { pageKey = "Page" }).</p>
		
	</div>
	<hr />
	<ul>
		@foreach (var page in Model)
		{
			<li>
				@Html.ActionLink(page.Name, page.Key)
				<p>
					@page.Description
				</p>
					
			</li>	
		}
	</ul>
	<h2>Other Resources</h2>
	<ul>
		<li>
			<a href="~/Home/ThrowError">Server Error</a>
			<a href="~/Views/Shared/_404.cshtml">~/Views/Shared/_404.cshtml</a>	<p>
					                                                                   A static link that will throw an error.
				                                                                   </p>
		</li>
		<li>
			<a href="~/Foo">Page Not Found</a>
			<p>
				This links requests a page that does not exist.
			</p>
		</li>
		<li>
			<a href="~/StyleGuide/TestApp">Test App</a>
			<p>
				A JavaScript application testing various aspects of the Backbone extensions.
			</p>
		</li>
	</ul>
</div>
@section scripts {

	
}