@*
		Menus
	(menulist -> this is a reusable menu container that can be used in multiple contexts?)
	Paging controls
	This should be converted into just a menu

*@
@section head {
}
@section scripts {
	<script>
	</script>
}

	<section>
		<h2>Context Menu</h2>
		<p>
			The context menu uses the menuFactory and Menu.js for the actual menu. The icon class name to use is <code>.icon-contextmenu</code>.
		</p>
		<div class="outline example">
			<div style="max-width: 20em;">
				<div>
					Here is an inline example <span class="icon-contextmenu float-right"></span>
				</div>
				<hr />
				<div>
					Here is an example using <code>.hidden-contextmenu</code> on an unordered list.
					<div class="datalist">
						<ul class="hidden-contextmenu">
							<li>
								Line item 1 <span class="icon-contextmenu float-right"></span>
							</li>
							<li>
								Line item 2 <span class="icon-contextmenu float-right"></span>
							</li>
							<li>
								Line item 3 <span class="icon-contextmenu float-right"></span>
							</li>
						</ul>
						<div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<pre class="prettyprint linenums">
&lt;div style="max-width: 20em;">
	&lt;div>
		Here is an inline example &lt;span class="icon-contextmenu float-right">&lt;/span>
	&lt;/div>
	&lt;hr/>
	&lt;div>
		Here is an example using &lt;code>.hidden-contextmenu&lt;/code> on an unordered list.
		&lt;div class="datalist">
			&lt;ul class="hidden-contextmenu">
				&lt;li>
					Line item 1 &lt;span class="icon-contextmenu float-right">&lt;/span>
				&lt;/li>
				&lt;li>
					Line item 2 &lt;span class="icon-contextmenu float-right">&lt;/span>
				&lt;/li>
				&lt;li>
					Line item 3 &lt;span class="icon-contextmenu float-right">&lt;/span>
				&lt;/li>
			&lt;/ul>
			&lt;div>
			&lt;/div>
		&lt;/div>
	&lt;/div>
&lt;/div>
</pre>
	</section>
