@*
	Use this as a template to create new style guide pages.
*@
@section head {
}
@section scripts {
	<script>
	</script>
}

	<h2>Menu List</h2>
	<p>The menu list is a div containing an unordered list of menu items. Add the <code>.menulist</code> class to the outer div.</p>
	<p>A <code>.selected</code> can be added to the <code>&lt;li></code> selection.</p>
	<p>An <code>&lt;h2></code> or <code>&lt;h3></code> can be used for section headers and an <code>&lt;hr/></code> can be used for dividers.</p>
	<p>Each menu item supports a link <code>a</code> or a <code>span</code>.</p>
	<div class="outline example">
		<div class="menulist col5">
			<h2>Menu Header</h2>
			<ul>
				<li><a href="#">Menu Item 1</a></li>
				<li class="selected"><a href="#">A Selected Menu Item</a></li>
				<li><a href="#">Menu Item 1</a></li>
				<li><a href="#">Another Menu Item</a></li>
			</ul>
			<hr />
			<ul>
				<li><a href="#">Menu Item 1</a></li>
				<li><a href="#">Menu Item 2</a></li>
				<li><a href="#">Menu Item 3</a></li>
			</ul>
			<h3>List Using Spans</h3>
			<ul>
				<li><span tabindex="0">Menu Item 1</span></li>
				<li class="selected"><span tabindex="0">Selected Menu Item</span></li>
				<li><span tabindex="0">Menu Item 4</span></li>
			</ul>
		</div>
	</div>
	<pre class="prettyprint linenums">
&lt;div class="menulist col5">
	&lt;h2>Menu Header&lt;/h2>
	&lt;ul>
		&lt;li>&lt;a href="#">Menu Item 1&lt;/a>&lt;/li>
		&lt;li class="selected">&lt;a href="#">A Selected Menu Item&lt;/a>&lt;/li>
		&lt;li>&lt;a href="#">Menu Item 1&lt;/a>&lt;/li>
		&lt;li>&lt;a href="#">Another Menu Item&lt;/a>&lt;/li>
	&lt;/ul>
	&lt;hr />
	&lt;ul>
		&lt;li>&lt;span tabindex="0">Menu Item 1&lt;/span>&lt;/li>
		&lt;li>&lt;span tabindex="0">Menu Item 3&lt;/span>&lt;/li>
		&lt;li>&lt;span tabindex="0">Menu Item 4&lt;/span>&lt;/li>
	&lt;/ul>
&lt;/div>
</pre>






<div class="menulist hide" id="contextmenu-examplemenu">
	<ul>
		<li><span>Menu Item 1</span></li>
		<li><span>Menu Item 2</span></li>
		<li><span>Menu Item 3</span></li>
	</ul>
</div>

