@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head {
	<style>
		.showpage .page-header {
			background: #EFEFEF;	
		}
		.showpage .page-aside {
			background: #CCC;
		}
		.showpage .page-content {
			background: #DDD;
		}
		.showpage .page-body {
			background: #999;
		}
		.showbox {
			border: 1px solid #999;
			line-height: 3em;
			background: #efefef;
			text-align: center;
		}
	</style>
}
<section class="page">
	 <header class="page-header">
		<h1>Page Example</h1>
		<nav class="page-nav">
			<ul>
				<li>@Html.ActionLink("Scaffolding", "Index", new { pageKey = "Scaffolding" })</li>
				<li>@Html.ActionLink("Style Guide Home", "Index", new { pageKey = "Home" })</li>
				<li class="selected"><a href="#">Another Sub Page - Selected</a></li>
			</ul>
		</nav>
		<form class="float-right pad">
			<fieldset>
				<select id="page-options" name="layoutOptions">
					<option value="aside">Default</option>
					<option value="aside readable">Constrain Width</option>
					<option value="aside centered">Centered</option>
					<option value="">No Sidebar</option>
					<option value="readable">No Sidebar, constrain width</option>
					<option value="centered">No Sidebar, centered</option>
				</select>
			</fieldset>
		</form>
	 </header>
	<div class="page-body">
		<aside class="page-aside">
			<div class="pad">
				<p>This is the page aside.</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</aside> 
		<div class="page-content">
			<div class="col">
				<p>This is the page content.</p>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			<h2>Columns (width constraints)</h2>
			<div class="col1"><div class="outline">.col1</div></div>
			<div class="col2"><div class="outline">.col2</div></div>
			<div class="col2"><div class="outline">.col2</div></div>
			<div class="col3"><div class="outline">.col3</div></div>
			<div class="col3-2"><div class="outline">.col3-2</div></div>
			<div class="col4"><div class="outline">.col4</div></div>
			<div class="col4"><div class="outline">.col4</div></div>
			<div class="col4"><div class="outline">.col4</div></div>
			<div class="col4"><div class="outline">.col4</div></div>
			<div class="col5"><div class="outline">.col5</div></div>
			<div class="col5"><div class="outline">.col5</div></div>
			<div class="col5"><div class="outline">.col5</div></div>
			<div class="col5"><div class="outline">.col5</div></div>
			<div class="col5"><div class="outline">.col5</div></div>
			<h2>Rows (height constraints)</h2>
			<div class="outline">
				<h3>.row-small</h3>
				<div class="row-small">
					<p>This is <code>.row-small</code></p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
					</p>
				</div>
				<h3>.row-medium</h3>
				<div class="row-medium">
					<p>This is <code>.row-medium</code></p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
					</p>
				</div>
				<h3>.row-large</h3>
				<div class="row-large">
					<p>This is <code>.row-large</code></p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
					</p>
				</div>
			</div>
			<div class="col">
				<input type="checkbox" id="showPage" />
				<label for="showPage">Show page outline</label>
			</div>
		</div>
	</div>
 </section>
@section scripts {
	<script>
		(function() {
			var PageView = Backbone.View.extend({
				pageAsideEl: null, // cached el

				initialize: function() {
					this.pageAsideEl = $(".page-aside");
					this.model.on("change:layoutOptions", this.updateLayout, this);
					this.model.on("change:showPage", this.showPage, this);
				},

				events: {
					"change #page-options": function () {
						var val = $(event.target).val();
						this.model.set("layoutOptions", val);
					},
					"change #showPage": function() {
						var showPage = $(event.target).is(":checked");
						this.model.set("showPage", showPage);
					}
				},

				updateLayout: function () {
					if (this.model.hasAside() === false) {
						this.pageAsideEl = this.pageAsideEl.detach();
					} else if (this.$el.has(this.pageAsideEl).length === 0) {
						this.$(".page-body").prepend(this.pageAsideEl);
					}
					this.$el.attr("class", this.model.getPageClassNames());
					this.showPage();
				},

				showPage: function () {
					if (this.model.get("showPage") === true) {
						this.$el.addClass("showpage");
					} else {
						this.$el.removeClass("showpage");
					}
				}
			});


			var PageModel = Backbone.Model.extend({
				defaults: {
					showPage: false,
					layoutOptions: "aside"
				},
				hasAside: function() {
					return this.get("layoutOptions").indexOf("aside") > -1;
				},
				getPageClassNames: function() {
					return this.get("layoutOptions") + " page";
				}
			});

			var view = new PageView({
				el: $(".page"),
				model: new PageModel()
			});
		}());
	</script>
}
