@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head {
	<style>
		.showpage .page-header {
			background: #EFEFEF;	
		}
		.showpage .page-aside {
			background: #CCC;
		}
		.showpage .page-content {
			background: #DDD;
		}
		.showpage .page-body {
			background: #999;
		}
		.showbox {
			border: 1px solid #999;
			line-height: 3em;
			background: #efefef;
			text-align: center;
		}

		.row .outline {
			background:#EFEFEF;
			text-align:center;
			line-height: 2em;
			padding: 0;
		}

	</style>
}
<section class="page">
	<header class="page-header">
		<div class="page-header-content">
			<h1>Tiltle of the Page</h1>
			<nav class="page-nav">
				<ul>
					<li>@Html.ActionLink("Scaffolding", "Index", new { pageKey = "Scaffolding" })</li>
					<li class="selected"><a href="#">Page Example</a></li>
				</ul>
			</nav>
			<form class="float-right form-inline">
				<fieldset>
					<select id="page-options" name="layoutOptions">
						<option value="aside">Default</option>
						<option value="aside readable">Constrain Width</option>
						<option value="aside centered">Centered</option>
						<option value="">No Sidebar</option>
						<option value="readable">No Sidebar, constrain width</option>
						<option value="centered">No Sidebar, centered</option>
					</select>
				</fieldset>
			</form>
		</div>
	</header>
	<div class="page-body">
		<aside class="page-aside">
			<div class="col text-justify">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</aside> 
		<div class="page-content">
			<p>	
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>

			<h2>Columns</h2>
			<p>Columns are indented by a left margin and manage the width of content.</p>

			<div class="row">
				<div class="col1"><div class="outline"><code>.col1</code></div></div>
			</div>
			<div class="row">
				<div class="col2"><div class="outline"><code>.col2</code></div></div>
				<div class="col2"><div class="outline"><code>.col2</code></div></div>
			</div>
			<div class="row">
				<div class="col3"><div class="outline"><code>.col3</code></div></div>
				<div class="col3-2"><div class="outline"><code>.col3-2</code></div></div>
			</div>
			<div class="row">
				<div class="col4"><div class="outline"><code>.col4</code></div></div>
				<div class="col4"><div class="outline"><code>.col4</code></div></div>
				<div class="col4"><div class="outline"><code>.col4</code></div></div>
				<div class="col4"><div class="outline"><code>.col4</code></div></div>
			</div>
			<div class="row">
				<div class="col5"><div class="outline"><code>.col5</code></div></div>
				<div class="col5"><div class="outline"><code>.col5</code></div></div>
				<div class="col5"><div class="outline"><code>.col5</code></div></div>
				<div class="col5"><div class="outline"><code>.col5</code></div></div>
				<div class="col5"><div class="outline"><code>.col5</code></div></div>
			</div>	

			<hr />
			
			<h2>Rows</h2>
			<p>Rows divide the page vertically, provide float clearing and a grouping clearfix, and help manage the height of content.</p>
			<div class="outline example padding-none">
				<div class="row">
					<div class="col2">
						@*<h3>.row-small</h3>*@
						<div class="row5">
							<p>This is <code>.row5</code></p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
							</p>
						</div>
						@*<h3>.row-medium</h3>*@
						<div class="row4">
							<p>This is <code>.row4</code></p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
							</p>
						</div>
					</div>
					<div class="col2">
						@*<h3>.row-large</h3>*@
						<div class="row3">
							<p>This is <code>.row3</code></p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
							</p>
						</div>
					</div>
				</div>
				<hr />
				<div class="col">
					<div class="row">
						<p>This is <code>.row</code></p>
						<p>Meant to be used to group any number of <code>.col</code> classes. Provides a -1% left margin to offset the 1% left margin of the columns.</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.					
						</p>
					</div>
				</div>
			</div>

			<div>
				<input type="checkbox" id="showPage" />
				<label for="showPage">Show page outline</label>
			</div>
		</div>
	</div>
 </section>
@section scripts {
	<script>
		(function() {
			var PageView = Backbone.View.extend({
				pageAsideEl: null, // cached el

				initialize: function() {
					this.pageAsideEl = $(".page-aside");
					this.model.on("change:layoutOptions", this.updateLayout, this);
					this.model.on("change:showPage", this.showPage, this);
				},

				events: {
					"change #page-options": function (event) {
						var val = $(event.target).val();
						this.model.set("layoutOptions", val);
					},
					"change #showPage": function (event) {
						var showPage = $(event.target).is(":checked");
						this.model.set("showPage", showPage);
					}
				},

				updateLayout: function () {
					if (this.model.hasAside() === false) {
						this.pageAsideEl = this.pageAsideEl.detach();
					} else if (this.$el.has(this.pageAsideEl).length === 0) {
						this.$(".page-body").prepend(this.pageAsideEl);
					}
					this.$el.attr("class", this.model.getPageClassNames());
					this.showPage();
				},

				showPage: function () {
					if (this.model.get("showPage") === true) {
						this.$el.addClass("showpage");
					} else {
						this.$el.removeClass("showpage");
					}
				}
			});


			var PageModel = Backbone.Model.extend({
				defaults: {
					showPage: false,
					layoutOptions: "aside"
				},
				hasAside: function() {
					var lo = this.get("layoutOptions");
					return (lo && lo.indexOf("aside") > -1) ? true: false;
				},
				getPageClassNames: function() {
					return this.get("layoutOptions") + " page";
				}
			});


			var view = new PageView({
				el: $(".page"),
				model: new PageModel()
			});
		}());
	</script>
}
