@section head {
}
@section scripts {
	<script>
	</script>
}
<div class="page-content">
	Property Lists



	<h3 class="lead">Definition Lists</h3>


	<h2 class="lead">Notes</h2>
	<div class="lead1">
		<pre>
NEW STYLE GUIDE SECTION  - PROPERTY LISTS
property list and property bag:
dl.propertylist
dl.propertylist.condensed
dl================== definition lists
inline - will need to change? to propertylist? or inline-simple?
inline-simple - I like this one
SUPPORT?!?
dl.propbag = dl.inline-simple
dl.proplist <= dt: bold --new line for each dt--
====> could support a bordered and unbordered version
!!! definition lists are always readonly - there is no hover, active, selection type of styles or activity supported.
</pre>
	</div>


	<h4>Inline Definition List</h4> ------------------------> MOVE TO PROPERTY LISTS
	<div class="outline example">
		<dl class="inline">
			<dt>Description lists</dt>
			<dd>A description list is perfect for defining terms.</dd>
			<dt>Euismod</dt>
			<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
			<dd>Donec id elit non mi porta gravida at eget metus.</dd>
			<dt>Malesuada porta</dt>
			<dd title="Etiam porta sem malesuada magna mollis euismod">Etiam porta sem malesuada magna mollis euismod</dd>
			<dt>Felis euismod semper eget lacinia</dt>
			<dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
		</dl>
	</div>
	<pre class="prettyprint linenums">
		&lt;dl class="inline">
		  &lt;dt>...&lt;/dt>
		  &lt;dd>...&lt;/dd>
		&lt;/dl>
		</pre>

	<h4>Simple Inline Definition List</h4>
	<p>
		Designed for use in small spaces (datatable cells, for example) when you want a label: value format with appropriate styling. Colons
		are automatically inserted after the definition term, and you can have more than one per line by adding the "no-break" class to any
		<code>dd</code> tag after which you want no line break.
	</p>
	<div class="outline example">
		<dl class="inline-simple">
			<dt>Stock Number</dt>
			<dd>116821354</dd>
			<dt>Make</dt>
			<dd class="no-break">RAM</dd>
			<dt>Model</dt>
			<dd>CHASSIS</dd>
			<dt>Color</dt>
			<dd class="no-break">Blue</dd>
			<dt>Year</dt>
			<dd>2014</dd>
		</dl>
	</div>
	<pre class="prettyprint linenums">
		&lt;dl class="inline-simple">
			&lt;dt>Stock Number&lt;/dt>&lt;dd>116821354&lt;/dd>
			&lt;dt>Make&lt;/dt>&lt;dd class="no-break">RAM&lt;/dd>
			&lt;dt>Model&lt;/dt>&lt;dd>CHASSIS&lt;/dd>
			&lt;dt>Color&lt;/dt>&lt;dd class="no-break">Blue&lt;/dd>
			&lt;dt>Year&lt;/dt>&lt;dd>2014&lt;/dd>
		&lt;/dl></pre>
</div>
