@*

	Selection controls
	Radio, checkbox, selection lists

*@
@section head {
}
@section scripts {
	<script>
	</script>
}

	<h2>Selection Lists</h2>
	<p>
		Used to give selectable qualities to any unordered list.
	</p>
	<p>
		A <code>.selected</code> class can be added to the list item of the currently selected item.
	</p>
	<div class="outline example">
		<div class="selectlist">
			<ul>
				<li class="col5"><h1>First Item</h1><p>Description of first item.</p></li>
				<li class="col5 selected"><h1>Second Item</h1><p>Description of second item.</p></li>
				<li class="col5"><h1>Third Item</h1><p>Description of third item that has long text.</p></li>
				<li class="col5"><h1>Fourth Item</h1><p>Description of fourth item.</p></li>
			</ul>
		</div>
	</div>
	<pre class="prettyprint linenums">
&lt;div class="selectlist">
	&lt;ul>
		&lt;li class="col5">&lt;h1>First Item&lt;/h1>&lt;p>Description of first item.&lt;/p>&lt;/li>
		&lt;li class="col5 selected">&lt;h1>Second Item&lt;/h1>&lt;p>Description of second item.&lt;/p>&lt;/li>
		&lt;li class="col5">&lt;h1>Third Item&lt;/h1>&lt;p>Description of third item that has long text.&lt;/p>&lt;/li>
		&lt;li class="col5">&lt;h1>Fourth Item&lt;/h1>&lt;p>Description of fourth item.&lt;/p>&lt;/li>
	&lt;/ul>
&lt;/div>	
</pre>

