@*
		Toolbars
		• Can support multiple heights but only support one line.
		• Contains icon buttons
		• Handles title text at the same line height as the buttons but no other text.
	-> try to use the button element again for these! - do a reset
	icon colors
	black
	-active = 54% // same as .quiet
	-inactive = 26% disabled
	white
	-active = 100% // same as normal color
	-inactive 30% // disabled


*@
@section head {
}
@section scripts {
	<script>
	</script>
}
<div class="page-content">
	Toolbars
</div>
