@*
		Toolbars
		• Can support multiple heights but only support one line.
		• Contains icon buttons
		• Handles title text at the same line height as the buttons but no other text.
	-> try to use the button element again for these! - do a reset
	icon colors
	black
	-active = 54% // same as .quiet
	-inactive = 26% disabled
	white
	-active = 100% // same as normal color
	-inactive 30% // disabled


*@
@section head {
}
@section scripts {
	<script>
	</script>
}
<div class="page-content">
	<h2>Icon Button Test</h2>
	<div style="background: #EEEEEE" class="toolbar">
		<div class="float-left">
			<span class="icon-menu" tabindex="0" role="button"></span>
		</div>
		<div class="float-right">
			<span class="iconbutton icon-image" tabindex="0" role="button"></span>
			<span class="iconbutton icon-cogs" tabindex="0" role="button"></span>
			<span class="iconbutton icon-align-left" tabindex="0" role="button"></span>
			<span class="iconbutton icon-align-center" tabindex="0" role="button"></span>
			<span class="iconbutton icon-align-right" tabindex="0" role="button"></span>
			<span class="iconbutton icon-align-justify" tabindex="0" role="button"></span>
		</div>
	</div>
</div>
