<div class="page-content">

	<section class="lead">
		<div class="clearfix lead">
			<h1 class="type-display1 lead loud float-left">Typeface, styles, and sizes</h1>
			<div class="float-right">
				<p>
					Reference: <a href="https://www.google.com/design/spec/style/typography.html">Material Design : Typography</a>.
				</p>
			</div>
		</div>
		<div class="lead2">
			<div class="type-width-readable type-subhead1">
				OpenSans is the current typeface. Currently two font families are in use: the regular and the semi-bold.
				The medium weight semi-bold font family is used for the title, subhead2, body2, and button styles.
			</div>
		</div>

		<h2 class="type-subhead2 lead">Display styles</h2>
		<div class="row lead">
			<div class="col3">
				<p class="lead">
					Use display 1 - display 4 for primary headers and any text that needs to show its prominance through size such as hero units.
				</p>
			</div>
			<div class="col3-2">
				<div class="outline">
					<div class="clearfix">
						<div class="float-right">.type-display4</div>
						<div class="type-display4 quiet">Display 4</div>
					</div>
					<div class="clearfix">
						<div class="float-right">.type-display3</div>
						<div class="type-display3 quiet">Display 3</div>
					</div>
					<div class="clearfix">
						<div class="float-right">.type-display2</div>
						<div class="type-display2 quiet">Display 2</div>
					</div>
					<div class="clearfix">
						<div class="float-right">.type-display1</div>
						<div class="type-display1 quiet">Display 1</div>
					</div>
				</div>
			</div>
		</div>

		<h2 class="type-subhead2 lead">Titles, headlines, and subheaders</h2>
		<div class="row lead">
			<div class="col3">
				<p class="lead">
					Use for secondary headers.
				</p>
			</div>
			<div class="col3-2">
				<div class="outline">
					<div class="clearfix">
						<div class="float-right">.type-headline</div>
						<div class="type-headline">Headline</div>
					</div>
					<div class="clearfix">
						<div class="float-right">.type-title</div>
						<div class="type-title">Title</div>
					</div>
					<div class="clearfix">
						<div class="float-right">.type-subhead2</div>
						<div class="type-subhead2">Subhead 2</div>
					</div>
					<div class="clearfix">
						<div class="float-right">.type-subhead1</div>
						<div class="type-subhead1 quiet">Subhead 1</div>
					</div>
				</div>
			</div>
		</div>

		<h2 class="type-subhead2 lead">Body text and captions</h2>
		<div class="row lead">
			<div class="col3">
				<p class="lead">
					Use body text for general screen text and captions for smaller quiet text when needed.
				</p>
			</div>
			<div class="col3-2">
				<div class="outline">
					<div class="clearfix">
						<div class="float-right">.type-body2</div>
						<div class="type-body2">Body 2</div>
					</div>
					<div class="clearfix">
						<div class="float-right">.type-body1</div>
						<div class="type-body1">Body 1</div>
					</div>
					<div class="clearfix">
						<div class="float-right">.type-caption</div>
						<div class="type-caption quiet">Caption</div>
					</div>
				</div>
			</div>
		</div>
		<h2 class="type-subhead2 lead">Type usage</h2>
		<div class="row">
			<div class="col3">&nbsp;</div>
			<div class="col3-2">
				<h3 class="type-subhead1 quiet lead">Colors & contrast</h3>
				<p class="type-width-readable lead">
					Consider adjusting the contrast of the text when using the caption, subhead1, and any of the display styles
					by using the <strong>.queit</strong> class.
				</p>
				<h3 class="type-subhead1 quiet lead">Semantic usage</h3>
				<p class="type-width-readable">
					Using type styles irregardless of the underlying semantic tag is perfectly acceptable.
					When choosing a type style consideration, should be primarily concerned with the presentation.
				</p>
				<h3 class="type-subhead1 quiet lead">Subhead note</h3>
				<p>
					The Subheaders page in the Material Design documentation (in the component section) is really the body2 text.
					This is used for menu and list subheadings and should not be confused with the body type classes.
				</p>
			</div>
		</div>
	</section>


	<hr class="margin-h type-display4" />


	<section class="lead">
		<h1 class="type-display1 loud lead">Other typographic guidelines</h1>

		<h2 class="type-subhead2 lead">Typographic lead</h2>
		<div class="row lead">
			<div class="col3">
				<div class="lead type-width-readable">
					<p>
						Typographic lead refers simply to bottom margin. Most type classes support a lead class which will add the appropriate bottom margin
						based on the font size and line height.
					</p>
					<p>
						The type classes that do not support lead classes should exist on a single line.						
					</p>
				</div>
			</div>
			<div class="col3">
				<div class="outline">
					<div class="type-display2 quiet lead">Display 2 with lead</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac magna blandit, malesuada arcu eget, feugiat nibh. Sed gravida condimentum.</p>
				</div>
			</div>
			<div class="col3">
				<div class="outline">
					<div class="type-display1 quiet lead">Display 1 with lead</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non sapien massa. Cras laoreet at libero non elementum. Aenean varius felis pulvinar leo cursus sodales. Nulla facilisi. Donec vitae justo dignissim erat laoreet rhoncus vitae non libero. Fusce condimentum dapibus.</p>
				</div>
			</div>
		</div>
		<div class="row lead">
			<div class="col3">&nbsp;</div>
			<div class="col3">
				<div class="outline">
					<div class="type-subhead2 lead">Subhead 2 with lead</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac magna blandit, malesuada arcu eget, feugiat nibh. Sed gravida condimentum.</p>
				</div>
			</div>
			<div class="col3">
				<div class="outline">
					<div class="type-subhead1 quiet lead">Subhead 1 with lead</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac magna blandit, malesuada arcu eget, feugiat nibh. Sed gravida condimentum.</p>
				</div>
			</div>
		</div>
		<div class="row lead">
			<div class="col3">&nbsp;</div>
			<div class="col3">
				<div class="outline">
					<div class="type-body2 lead">Body 2 with lead</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac magna blandit, malesuada arcu eget, feugiat nibh. Sed gravida condimentum.</p>
				</div>
			</div>
			<div class="col3">
				<div class="outline">
					<div class="type-body1 lead">Body 1 with lead</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac magna blandit, malesuada arcu eget, feugiat nibh. Sed gravida condimentum.</p>
				</div>
			</div>
		</div>

		<h2 class="type-subhead2">Other types of lead</h2>
		<div class="row lead">
			<div class="col3">&nbsp;</div>
			<div class="col3-2">
				<h3 class="type-subtitle1 quiet lead">Divs and sections</h3>
				<p class="type-width-readable-short">
					Divs and sections also support a <strong>.lead</strong> class and a 
					<strong>.lead2</strong> class for bottom margins.
				</p>
				<p class="type-width-readable-short">
					Even though these class names are
					applied to a div or section, their semantic usage is to create space between text.
				</p>
				<h3 class="type-subtitle1 quiet lead">Paragraphs</h3>
				<p class="type-width-readable-short">
					All paragraphs are styled with default lead. The lead is removed on the "last-of-type" which covers when there is only a single
					paragraph or the paragraph is the last one in a list of paragraphs.
				</p>
			</div>
		</div>


		<h2 class="type-subhead2 lead">Line length</h2>
		<p class="type-width-readable lead">
			To support readability, text can be shortened
			to the standard suggested line length; and for short lines.
		</p>
		<div class="row">
			<div class="col1">
				<div class="outline">
					<strong class="type-body2">.type-width-readable</strong>
					<p class="type-width-readable">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac magna blandit, malesuada arcu eget, feugiat nibh. Sed gravida condimentum.</p>
					<strong class="type-body2">.type-width-readable-short</strong>
					<p class="type-width-readable-short">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eros.</p>

				</div>
			</div>
		</div>
	</section>


	<hr class="margin-h type-display4" />




<section class="lead">
	<h1 class="type-display1 lead loud">Semantic styling</h1>

	<div class="lead2">
		<div class="type-width-readable type-subhead1">
			In addition to the CSS classes provided to control typography, some of the base HTML element styles
			are also adjusted for browser normalization.
		</div>
	</div>

	<h2 class="type-subhead2 lead">Default text styling</h2>
	<div class="row lead">
		<div class="col3">
			<p>
				The header and paragraph tags are mapped to appropriate type styles.
			</p>
			<p>
				It is suggested that the type styles are always used to be explicit.
			</p>
		</div>
		<div class="col3-2">
			<div class="outline">
				<h1>H1 Header - .type-display1</h1>
				<h2>H2 Header - .type-title</h2>
				<h3>H3 Header - .type-subhead1</h3>
				<h4>H4-H6 Header - .type-subhead2</h4>
				<div>
					<p>
						Paragraph text is styled like the .body1
						class and has default .lead styling.
					</p>
				</div>
			</div>
		</div>
	</div>

	<h2 class="type-subhead2 lead">Abbr - abbreviations</h2>
	<div class="row lead">
		<div class="col3">
			The abbreviations can contain abbreviated terms or acronyms.
		</div>
		<div class="col3-2">
			<div class="outline">
				The abbreviation <abbr title="Asynchronous JavaScript and XML">AJAX</abbr> may mean more tnan one thing.
			</div>
			<pre class="prettyprint linenums">
&lt;abbr title="Asynchronous JavaScript and XML">AJAX&lt;/abbr>
</pre>
		</div>
	</div>

	<h2 class="type-subhead2 lead">Address</h2>
	<div class="row lead">
		<div class="col3">
			<p>Can be used for any grouping of the address structure - name/title, info - be it email, physical address, phone number, etc.</p>
		</div>
		<div class="col3-2">
			<div class="outline">
				<address>
					<strong>Zeit Palace</strong><br>
					1234 Geist Place<br>
					Jose Falace, DE 98765<br>
					<abbr title="Phone">P:</abbr> (123) 456-7890
				</address>
			</div>
			<pre class="prettyprint linenums">
&lt;address>
	&lt;strong>Zeit Palace&lt;/strong>&lt;br>
	1234 Geist Place&lt;br>
	Jose Falace, DE 98765&lt;br>
	&lt;abbr title="Phone">P:&lt;/abbr> (123) 456-7890
&lt;/address>
</pre>
		</div>
	</div>

	<h2 class="type-subhead2 lead">Blockquote</h2>
	<div class="row lead">
		<div class="col3">
			Defines a section that is quoted from another source.
		</div>
		<div class="col3-2">
			<div class="outline">
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<small>Someone famous <cite title="Source Title">Source Title</cite></small>
				</blockquote>
			</div>
			<pre class="prettyprint linenums">
&lt;blockquote>
	&lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p>
	&lt;small>Someone famous &lt;cite title="Source Title">Source Title&lt;/cite>&lt;/small>
&lt;/blockquote>
</pre>
		</div>
	</div>

	<h2 class="type-subhead2 lead">Unordered Lists</h2>
	<div class="row lead">
		<div class="col3">
			&nbsp;
		</div>
		<div class="col3-2">
			<div class="outline">
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Consectetur adipiscing elit</li>
					<li>Integer molestie lorem at massa</li>
					<li>Facilisis in pretium nisl aliquet</li>
					<li>
						Nulla volutpat aliquam velit
						<ul>
							<li>Phasellus iaculis neque</li>
							<li>Purus sodales ultricies</li>
							<li>Vestibulum laoreet porttitor sem</li>
							<li>Ac tristique libero volutpat at</li>
						</ul>
					</li>
					<li>Faucibus porta lacus fringilla vel</li>
					<li>Aenean sit amet erat nunc</li>
					<li>Eget porttitor lorem</li>
				</ul>
			</div>
			<pre class="prettyprint linenums">
&lt;ul>
	&lt;li>...&lt;/li>
&lt;/ul>
</pre>
		</div>
	</div>

	<h2 class="type-subhead2 lead">Ordered Lists</h2>
	<div class="row lead">
		<div class="col3">
			&nbsp;
		</div>
		<div class="col3-2">
			<div class="outline">
				<ol>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Consectetur adipiscing elit</li>
					<li>Integer molestie lorem at massa</li>
					<li>Facilisis in pretium nisl aliquet</li>
					<li>
						Nulla volutpat aliquam velit
						<ol>
							<li>Phasellus iaculis neque</li>
							<li>Purus sodales ultricies</li>
							<li>Vestibulum laoreet porttitor sem</li>
							<li>Ac tristique libero volutpat at</li>
						</ol>
					</li>
					<li>Faucibus porta lacus fringilla vel</li>
					<li>Aenean sit amet erat nunc</li>
					<li>Eget porttitor lorem</li>
				</ol>
			</div>
			<pre class="prettyprint linenums">
&lt;ol>
	&lt;li>...&lt;/li>
&lt;/ol>
</pre>
		</div>
	</div>

	<h2 class="type-subhead2 lead">Definition Lists</h2>
	<div class="row lead">
		<div class="col3">
			&nbsp;
		</div>
		<div class="col3-2">
			<div class="outline">
				<dl>
					<dt>Description lists</dt>
					<dd>A description list is perfect for defining terms.</dd>
					<dt>Euismod</dt>
					<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
					<dd>Donec id elit non mi porta gravida at eget metus.</dd>
					<dt>Malesuada porta</dt>
					<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
				</dl>				
			</div>
			<pre class="prettyprint linenums">
&lt;dl>
	&lt;dt>...&lt;/dt>
	&lt;dd>...&lt;/dd>
&lt;/dl>
</pre>
		</div>
	</div>


	<h2 class="type-subhead2 lead">Pre and Code</h2>
	<div class="row lead">
		<div class="col3">
			&nbsp;
		</div>
		<div class="col3-2">
			<div class="outline">
				<div class="lead">
					Here is <code>code in a code block</code> and now back outside.
				</div>
				<pre>
&lt;p&gt;This is sample text in a pre block...&lt;/p&gt;
	Preserving
		White    ---    space
</pre>
			</div>
		</div>
	</div>
</section>


<hr class="margin-h type-display4" />


	<section>
		<h2 class="type-display1 loud lead">Sass support</h2>
		<p class="type-width-readable lead">
			There are a set of mixins for each type style to be used as needed when defining custom components.
		</p>

		<div>
			<h3 class="type-subhead2 quiet">Type style color mixins</h3>
			<ul>
				<li>type-display4()</li>
				<li>type-display3()</li>
				<li>type-display2()</li>
				<li>type-display1()</li>
				<li>type-heading()</li>
				<li>type-title()</li>
				<li>type-subhead2()</li>
				<li>type-subhead1()</li>
				<li>type-body2()</li>
				<li>type-body1()</li>
				<li>type-caption()</li>
				<li>type-button()</li>
			</ul>
		</div>
	</section>
		
</div>

@section scripts {
    <script>
    </script>
}
