@model IEnumerable<NavigationLinkDto>
@using Harbor.UI.Models.Setting
<ul>
	@foreach (var link in Model)
	{
		@Html.Partial("_FrameNavItem", link)
	}
	<li class="frame-staticnavitem"><a href="@Url.Action("Index", "StyleGuide", new { pageKey = "Home"})">Style Guide</a></li>
</ul>