@using Harbor.UI.Extensions
<style>
	.menulist.small li a {
		line-height: 1.4;
	}
	.menulist.small li a:hover {
		background-color: #DDD;
	}
</style>
<div class="page-header">
	<h1 style="position:relative;"><span class="icon-cogs" style="font-size:1.5em;position:relative;top:.14em;"></span>
		App<strong class="attn">js</strong> Documentation</h1>
</div>
<div class="page-body">
	<div class="page-aside">
		<div class="col menulist small">
			Loading...
		</div>
	</div>
	<div class="page-content">
		@Html.RenderMarkdown("~/scripts/contextjs/Readme.md")
		@Html.RenderMarkdown("~/scripts/appui/Readme.md")
		@Html.RenderMarkdown("~/scripts/bbext/Readme.md")
		@*@Html.Partial("~/scripts/bbext/_bbext.cshtml")*@
	</div>
</div>
@section scripts{
	@*<link rel="stylesheet" href="~/content/prettify/prettify.css" type="text/css" />	
	<script src="~/scripts/prettify/prettify.js"></script>
	<script> $(function () { prettyPrint(); }); </script>*@
	<script>
		buildTOC();

		function buildTOC() {

			var content = $(".page-content");
			var headings = content.find("h1,h2,h3,h4");
			var openList = null;
			var onH4List = false;
			var el = $('<div/>');
			var nextLink = 0;

			headings.each(function (index, heading) {

				var tag = heading.tagName;
				var $heading = $(heading);
				var text = $heading.text();
				if (text.indexOf("(") > -1) {
					text = text.substring(0, text.indexOf("("));
				}

				if (tag === "H1") {
					closeOpenList();
					el.append('<hr/>');
					el.append('<h2><a href="' + getLink() + '"><span class="attn">' + text + '</span></a></h2>');
				}

				if (tag === "H2") {
					onH4List = hasH4s(headings, $heading);
					if (!onH4List) {
						closeOpenList();
						el.append('<h2><a href="' + getLink() + '">' + text + '</a></h2>');
					}
				}

				if (tag === "H3") {
					if (onH4List) {
						closeOpenList();
						el.append('<h2><a href="' + getLink() + '">' + text + '</a></h2>');
					} else {
						addToList();
					}
				}

				if (tag === "H4") {
					addToList();
				}



				function addToList() {
					if (!openList) {
						openList = $('<ul/>');
					}
					openList.append('<li><a href="' + getLink() + '">' + text + '</a></li>');
				}

				function getLink() {
					var link = "link" + (nextLink++);
					$heading.before('<a id="' + link + '"></a>');
					return "#" + link;
				}
			});

			function closeOpenList() {
				if (openList) {
					el.append(openList);
					openList = null;
				}
			}

			function hasH4s(headings, heading) {

				var afterHeading = false;
				var foundH4 = false;

				$.each(headings, function (index, testHeading) {
					var tag = testHeading.tagName;

					testHeading = $(testHeading);
					if (!afterHeading) {
						if (testHeading[0] === heading[0]) {
							afterHeading = true;
						}
					} else {
						if (tag === "H1" || tag === "H2") {
							return false; // break
						}
						if (tag === "H4") {
							foundH4 = true;
							return false; // break
						}
					}
					return undefined;
				});

				return foundH4;
			}

			closeOpenList();
			el = el.children(0).hide();
			$(".page-aside .menulist").html(el).append('<hr/>');
			content.append('<div style="height:1500px;"/>');
			el.fadeIn();
		}
	</script>
}
@*/*
if h1 close list and add an h1
if h2 look ahead to see if there are h4's
	if there are h4's - flag this - onH4List
	if not add the h2 as an h2 heading (close open list)
if h3
	if onH4List (close open list) add as an h2 heading
	else add UL (if no list start one)
if h4
	add UL (if no list start one)

	
h1 -> h2.loud

if there are no h4's
h2 is the category -> h2
h3 is the list item -> li

if there are h4's
h3 is the category -> h2
h4 is the list item -> li
*/*@