@{
	//ViewBag.Title = "Index";
}

<div class="page-header">
	<h1>Home</h1>
</div>
<div class="page-content">
	<h2>Index Page</h2>
	
	<p>
		Default page to contain a list of last edited public documents.
	</p>
</div>