@model IEnumerable<Harbor.UI.Models.PageDto>
@{
	//ViewBag.Title = "Index";
}
<div class="page centered">
	<div class="page-header">
		<h1>Home</h1>
	</div>
	<div class="page-body">
		<div class="page-content">
			<h2>Recently Updated</h2>
			<ul>
				@foreach (var page in Model)
				{
					<li>
						<h3><a href="~/id/@page.id/@page.title">@page.title</a></h3>
						<span>Created: @page.created</span>
					</li>
				}
			</ul>
		</div>
	</div>
</div>